<form id='doActivityInfoForm'  method='post' action='index.php?ctl=sale/exchangeCoupon&act=addExchange' >
  <ul>
    <li><p><{t}>优惠券名称：<{/t}></p>
      <{if $cpns.cpns_id}>
      <{$cpns.cpns_name}>
      <{else}>
      <select name="cpns_id">
        <{foreach from=$cpns_list item=item}>
        <option value="<{$item.cpns_id}>"> <{$item.cpns_name}> 
        <{/foreach}>
      </select>
      <{/if}>
    </li>
    <li><p><{t}>积分兑换数额：<{/t}></p><input type='text' style="width:50px" value='<{$cpns.cpns_point}>' name='cpns_point'/> &nbsp; &nbsp; <{help}>此处填写兑换上述优惠券需要的积分数量<{/help}></li>
  </ul>
  <input type='hidden' name='cpns_id' value='<{$cpns.cpns_id}>'>
  <table border="0" align="center" cellpadding="0" cellspacing="0" class="tableAction">
  <tr>
    <td><b class="submitBtn" ><input type='submit' value='提交' /></b></td>
    <td><b class="submitBtn" ><a href="index.php?ctl=sale/exchangeCoupon&act=index"><{t}>取消<{/t}></a></b></td>
  </tr>
</table>
</form>

<script>
//初始化日期选择控件
$ES('.cal','doActivityInfoForm').each(function(i){i.makeCalable()});
</script>