<!-- right-->
<div class="MemberMain">
<div style="margin-right:175px;">

<div class="title"><{t}>商品咨询/评论<{/t}></div>

<div>
<{foreach from=$commentList item=items}>
  <div class="division boxBlue clearfix mainReply" style="margin-bottom:0px;">

      <div class=" floatLeft commentMain">
        <div class="floatLeft commentAsk"><{if $items.object_type == 'ask'}><{t}>提问<{/t}><{else}><{t}>评论<{/t}><{/if}></div>
        <span class="author fontcolorOrange"><{t}>我<{/t}><{if $items.object_type == 'ask'}><{t}>咨询：<{/t}><{else}><{t}>评论说：<{/t}><{/if}></span><span class="timpstamp font10px fontcolorGray replies"><{$items.time|cdate:FDATE_STIME}></span>
        <div style="clear:both;"></div>
      <!--<h4><{$comment.title|escape:'html'}></h4>-->
        <div class="commentText">
        <div><{$comment.title}></div>
        <{$items.comment}>
        </div>
      </div>
      
     <div class="floatRight"><a href="<{link app=b2c ctl=site_product act=index arg0=$items.type_id}>" class="lnk"><{t}>点击去该商品页<{/t}></a></div>
     </div>

      <{if $items.items}>
  
 <div class="commentReply">
    <{foreach item=rep from=$items.items}>
     <div class="division  item " style=" margin:0px;" >
      <div class="floatLeft commentReply-admin">回答</div>
      <span class="author fontcolorOrange"><{$rep.author}></span><{t}>&nbsp;&nbsp;回复：<{/t}><span class="timpstamp font10px fontcolorGray replies"><{$rep.time|cdate:'FDATE_FTIME'}></span>
      <div  style="clear:both;"></div>
       <div class="commentText"><{$rep.comment|escape:'html'}></div>
    </div>
    <{/foreach}>
    </div>
   <{/if}> 

  <{/foreach}>
  <{pagers data=$pager}>
</div>

</div>
</div>
  <!-- right-->
