<!-- right-->
<div class="MemberMain">
<div style="margin-right:175px;">

<script>
var prediv = '';
function showMsg(obj,msgid,url) {
  var currdiv = $('view_msg_pro_'+msgid);
  if(!obj.parentNode.id){
    if(typeof prediv == "object") {prediv.style.display='none'};
    currdiv.style.display = '';
    new Ajax(url,{method:'post',update:'view_msg_'+msgid,data:''}).request();
    obj.parentNode.id = 'span_'+msgid;
    if(prediv){
      var link = $('span_'+prediv.id.substr(13)).getElementsByTagName('a')[0];
      link.className = 'viewmsgoff';
      toggleBg(link, false);
    }
    prediv = $('view_msg_pro_'+msgid);
    obj.className = 'viewmsg';
    toggleBg(obj, true);
  }else{
    if(currdiv.style.display == 'none'){
      currdiv.style.display = '';
      obj.className = 'viewmsg';
      toggleBg(obj, true);
      if(prediv) {
        prediv.style.display = 'none';
        var link = $('span_'+prediv.id.substr(13)).getElementsByTagName('a')[0];
        link.className = 'viewmsgoff';
        toggleBg(link, false);
      }
      prediv = currdiv;
    }else{
      currdiv.style.display = 'none';
      obj.className = 'viewmsgoff';
      toggleBg(obj, false);
      prediv = '';
    }
  }
}

function toggleBg(el, state){
  while(el.tagName != 'TR'){
    el = el.parentNode;
  }
  if(!state) $(el).removeClass('msgon');
  else $(el).addClass('msgon');
}

function checkAll(obj,box) {
  var tag = obj.getElementsByTagName('input');
  for(var i = 0;i < tag.length;i++){
    tag[i].checked = box.checked;
  }
}
</script>
<div class="title"><{t}>收件箱<{/t}></div>
<form action="<{link app=b2c ctl='site_member' full='1' act='del_in_box_msg'}>" method="post">
<table width="100%" cellspacing="0" cellpadding="0" class="liststyle_option">
    <col class="span-0 textcenter"></col>
    <col class=" textleft"></col>

    <tr>
      <th class="textcenter"><input type="checkbox" onclick="checkAll(this.form,this)" name="chkall" id="chkall" title="全选"></th>
            <td><input type="submit" value="删除" name="pmsend /"></td>
            <td class="textright"><{t}>共有短消息:<{/t}><em id="pmtotalnum"><{$total_msg}></em></td>
    </tr>

    </table>
  <table width="100%" cellspacing="0" cellpadding="0"  summary="收件箱" class="memberlist">
    <col class="span-0 ColColorGraydark"></col>
    <col class="span-15 textleft"></col>
    <col class="span-2 ColColorOrange"></col>
    <col class="span-3"></col>
    <col class="span-2"></col>
    <col class="span-2"></col>
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th><{t}>标题<{/t}></th>
        <th ><{t}>来自<{/t}></th>
        <th ><{t}>时间<{/t}></th>
        <th ><{t}>操作<{/t}></th>
        <th ><{t}>是否阅读<{/t}></th>
      </tr>
    </thead>
    <tbody>
      <{if count($message)>0}>
      <{foreach item=msg from=$message}>
      <tr class="msgon">
        <td class="selector"><input type="checkbox" value=<{$msg.comment_id}> name="delete[]"></td>
        <td class="textleft">
          <span><a href="<{if $msg.unread}><{else}>#<{/if}>" onclick="showMsg(this,<{$msg.comment_id}>,'<{link app=b2c ctl='site_member' act='view_msg' arg0=$msg.comment_id }>');return false;" class="viewmsgoff"><{$msg.title|cut:60|nl2br}></a></span></td>
        <td><{$msg.author}></td>
        <td><{$msg.time|cdate:SDATE_STIME}></td>
        <td><a href="<{if $msg.author_id==1}><{link app=b2c ctl=site_member act=message arg0=$msg.comment_id arg1=reply}><{else}><{link app=b2c ctl=site_member act=send arg0=$msg.comment_id arg1=reply}><{/if}>"  ><{t}>回复<{/t}></a></td>
        <td >
        <{if $msg.mem_read_status == 'true'}>
        已读
        <{else}>
        未读
        <{/if}>
        </th>
      </tr>
      <tr id="view_msg_pro_<{$msg.comment_id}>" style="display:none; white-space:normal;">
        <td class="textleft memberviewinfo" colspan="6"><p id="view_msg_<{$msg.commemt_id}>"><{$msg.comment}></p></td>
      </tr>
      <{/foreach}>
      <{else}>
      <tr>
      <td height="60" colspan="6" class="ColColorWhite">
        收件箱内没有短信息。
      </td>
      </tr>
      <{/if}>
    </tbody>
    
  </table>
    <table width="100%" cellspacing="0" cellpadding="0" class="liststyle_option">
    <col class="span-0 textcenter"></col>
    <col class=" textleft"></col>

    <tr>
      <th class="textcenter"><input type="checkbox" onclick="checkAll(this.form,this)" name="chkall" id="chkall" title="全选"></th>
            <td><input type="submit" value="删除" name="pmsend /"></td>
            <td class="textright"><{t}>共有短消息:<{/t}><em id="pmtotalnum"><{$total_msg}></em></td>
    </tr>

    </table>
  <{pagers data=$pager}>

</form>

</div>
</div>
<!-- right-->
