<script >

window.addEvent("domready",function() {

  $$(".MemberMenuList span")[0].setStyle("border-top","none");

$$(".MemberMenuList").each(function(item,index) {

  item.addEvents({

    mouseenter:function() { 
      this.getElement('span').addClass('hover');
      $$(".MemberMenuList ul")[index].setStyle("background","#f2f2f2");
    },
    mouseleave:function() {
      this.getElement('span').removeClass('hover');
      $$(".MemberMenuList ul")[index].setStyle("background","#fff");
    }
  });

});

$$(".memberlist tr").each(function(item,index) {

  if(index>0&&index%2==0) { item.setStyle("background","#f7f7f7");}

});

});


// 
// window.addEvent("domready",function() {
// 
//   $$(".MemberMenuList span")[0].setStyle("border-top","none");
// 
//   $$(".MemberMenu span div").each(function(item,index) {
// 
//     item.setStyle("background-image","url(statics/icons/member" + index + "_grey.gif)");
// 
//   });
// 
// 
// $$(".MemberMenuList").each(function(item,index) {
// 
//   item.addEvents({
// 
//     mouseenter:function() { 
//       $$(".MemberMenu span div")[index].setStyle("background-image","url(statics/icons/member" + index + ".gif)"); 
//       $$(".MemberMenuList ul")[index].setStyle("background","#f2f2f2");
//     },
//     mouseleave:function() {
//       $$(".MemberMenu span div")[index].setStyle("background-image","url(statics/icons/member" + index + "_grey.gif)");
//       $$(".MemberMenuList ul")[index].setStyle("background","#fff");
//     }
//   });
// 
// });
// 
// $$(".memberlist tr").each(function(item,index) {
// 
//   if(index>0&&index%2==0) { item.setStyle("background","#f7f7f7");}
// 
// });
// 
// });

</script>
<{script src='formplus.js' app=site}>
<style>

body { font-size:12px; font-family:Arial, Helvetica, sans-serif;}

</style>

<div style="margin:auto; width:950px;">

<div class="MemberCenter">


  <!-- title-->
  <div class="siteparttitle">
    <{if $member.sex == "male"}>
        <div class="gender"></div>
    <{else}>
        <div class="female"></div>
    <{/if}>
    <div class="info">
     <strong><{t}>您好：<{/t}><{$member.uname}></strong>&nbsp;&nbsp;[<a class="lnk" href="<{link  app=b2c ctl='site_member' act='index'}>">会员中心</a>]&nbsp;&nbsp;[<a class="lnk" href="<{link app=b2c ctl='site_passport' act='logout'}>">退出</a>]    </div>
    
    <div class="time"></div>
    
    <div style="clear:both;"></div>
  
  </div>
  <!-- title-->

  <!-- left-->
  <div class="MemberSidebar">
    <div class="MemberMenu">
      <div class="title"></div>
      <div class="body">
        <ul>
          <{foreach from=$cpmenu item=menus}>
          <li class="MemberMenuList"><span><div class="m_<{$menus.mid}>" style="font-size:14px;"><{$menus.label}></div></span>
            <ul>
              <{foreach from=$menus.items item=items}>
              <li <{if $current == $items.link}> class="current"<{/if}>><a href="<{link app=b2c ctl="site_member" act=$items.link}>"><{if $items.label=='我的订单'}><b><{/if}><{$items.label}><{if $items.label=='我的订单'}></b><{/if}></a></li>
              <{/foreach}>
            </ul>
          </li>
          <{/foreach}>
        </ul>
      </div>
      <div class="foot"></div>
    </div>
  </div>
  <!-- left-->

  <{include file=$_PAGE_}>


  <div class="clear"></div>

</div>

</div>



<div style="display:none;">
<div class="memberlist-tip"> 
    <div class="tip">
        <div class="tip-title"></div>
        <div class="tip-text"></div>
    </div>
</div>
</div>
