<!-- right-->
<div class="MemberMain">
<div style="margin-right:175px;">

<div class="title"><{t}>缺货登记<{/t}></div>
<!--//todo 页面信息判断（是否到货，是否被删除）-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="liststyle data GoodsSearchWrap ">
    <col class="span-3 textleft"></col>
    <col class="textleft"></col>
    <col class="span-3"></col>
  <tr>
  	
<{foreach from=$notify item=good}>
    <td class="textcenter">
    	  <{if $good.udfimg == 'true'}>
  <{assign var="gimage" value=$good.thumbnail_pic}>
  <{else}>
  <{assign var="gimage" value=$good.image_default_id|default:$defaultImage}>
  <{/if}>
      <{if $good.store >= 0 || $good.store ==''}><a href="<{link app=b2c ctl="site_product" act="index" arg0=$good.goods_id}>" title="<{$good.name}>"><{/if}><{if $good.spec_info}> (<{$good.spec_info}>)<{/if}>
        <img src="<{$gimage|storager:'s'}>" width="<{$env.conf.site.thumbnail_pic_width}>" height="<{$env.conf.site.thumbnail_pic_height}>" alt="<{$good.name}>"/></a></td>
    <td><h3><{if $good.store >= 0 || $good.store ==''}><a href="<{link app=b2c ctl="site_product" act="index" arg0=$good.goods_id}>" target="_blank"><{/if}><{$good.name}><{if $good.spec_info}> (<{$good.spec_info}>)<{/if}></a></h3>
<a  href="<{link app=b2c ctl="site_member" act="del_notify" arg0=$good.product_id arg1=$member_id}>"><{t}>删除<{/t}></a>&nbsp;&nbsp;
<{if $good.store >= 0 || $good.store ==''}><a href="<{link app=b2c ctl="site_product" act="index" arg0=$good.goods_id}>"><{t}>查看详情<{/t}></a><{/if}></td>
    <td><{if $good.store > 0 || $good.store ==''}><{t}>已到货<{/t}><{else}><{t}>缺货<{/t}><{/if}></td>
    <td><ul>
    <li><span class="price1"><{$good.price.price.price}></span></li>
        <li><{t}>市场价：<{/t}><span class="mktprice1"><{$good.price.mktprice.price}></span></li>
  </ul></td>
  </tr>
<{/foreach}>
</table>

<{pagers data=$pager}>

</div>
</div>
<!-- right-->
