<!-- right-->
  <div class="MemberMain">
  <div style="margin-right:175px;">

 <div class="title"><{t}>我的订单<{/t}></div>
 
 <table class="memberlist blueth" width="100%" border="0" cellspacing="0" cellpadding="0">
   <tr>
     <th>商品名称</th>
     <th>订单号</th>
     <th>下单日期</th>
     <th>总金额</th>
     <th>订单状态</th>
   </tr>
<tbody>
<{foreach from=$orders item="order" name=orders}>
<tr>
  <td width="40%">
	<{if $order.goods_items}>
	<{foreach from=$order.goods_items item=item_goods name=goods_item}>
	<dl>
		<dt>
		  <div class='product-list-img' isrc="<{$item_goods.thumbnail_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>" ghref='<{link app=b2c ctl=site_product act="index" arg0=$item_goods.goods_id}>' style='width:50px;height:50px; margin:0 auto'> <img src='statics/loading.gif'/> </div>
		</dt>
		<dd style="width:50%">
			<span>
			<a target="_blank" href="<{link app=b2c ctl="site_product" act="index" arg0=$item_goods.goods_id}>">
				<{$item_goods.name}>
				<!--<{if $item_goods.minfo}><br>
				<{foreach from=$item_goods.minfo item=minfo key=name}>
				<{$minfo.label}>：<{$minfo.value}>
				<{/foreach}>
				<{/if}>-->
				<{if $item_goods.adjname}><br>
				<{$item_goods.adjname}>
				<{/if}>
				<{if $item_goods.giftname}><br>
				<{$item_goods.giftname}>
				<{/if}>
			</a>
			</span>
			<{if $item_goods.attr}><br/>
				<span><{$item_goods.attr}></span>
			<{/if}>
		</dd>
		<dd style=" width:25%; font-weight:bold">
		  <ul>
			<li><{$item_goods.price|cur_odr:$order.currency}></li>
			<li>×<{$item_goods.quantity}></li>
		  </ul>
		</dd>
	</dl>
	<{/foreach}>
	<{/if}>
</td>
<td><a href="<{link app=b2c ctl="site_member" act="orderdetail" arg0=$order.order_id}>"><{$order.order_id}></a></td>
  <!--<td  class="textwrap"><{$order.tostr}></td> -->
  <td><{$order.createtime|cdate:FDATE_STIME}></td>
  <td><{$order.cur_amount|cur_odr:$order.currency:false:true}></td>
  <td><span class="point">
  <{if $order.status == 'finish'}>已完成
  <{elseif $order.status == 'dead'}>已作废
  <{else}>
  <{if $order.pay_status==1}>已付款
    [<{if $order.ship_status==1}>
    已发货
    <{elseif $order.ship_status==2}>
    部分发货
    <{elseif $order.ship_status==3}>
    部分退货
    <{elseif $order.ship_status==4}>
    已退货
    <{else}>
    正在备货...
    <{/if}>]
  <{elseif $order.pay_status==2}>
    已付款至担保方
  <{elseif $order.pay_status==3}>
    <a href="<{link app=b2c ctl="site_member" act="orderPayments" arg0=$order.order_id}>" ><{t}>等待补款<{/t}></a>
    <{if $order.ship_status==1}>
    [已发货]
    <{elseif $order.ship_status==2}>
    [部分发货]
    <{elseif $order.ship_status==3}>
    [部分退货]
    <{elseif $order.ship_status==4}>
    [已退货]
    <{/if}>
  <{elseif $order.pay_status==4}>
    部分退款
    [<{if $order.ship_status==1}>
    已发货
    <{elseif $order.ship_status==2}>
    部分发货
    <{elseif $order.ship_status==4}>
    已退货
    <{elseif $order.ship_status==0}>
    未发货
    <{/if}>]
  <{elseif $order.pay_status==5}>
    已退款
    [<{if $order.ship_status==1}>
    已发货
    <{elseif $order.ship_status==2}>
    部分发货
    <{elseif $order.ship_status==4}>
    已退货
    <{elseif $order.ship_status==0}>
    未发货
    <{/if}>]
  <{else}>
    <a href="<{link app=b2c ctl="site_member" act="orderPayments" arg0=$order.order_id}>" ><{t}>等待付款<{/t}></a>
    <{if $order.ship_status==1}>
    [已发货]
    <{elseif $order.ship_status==2}>
    [部分发货]
    <{elseif $order.ship_status==3}>
    [部分退货]
    <{elseif $order.ship_status==4}>
    [已退货]
    <{/if}>
  <{/if}>
  <{/if}>
  </span></td>
</tr>
<{/foreach}>
</tbody>
 </table>
 <{pagers data=$pager}>
  </div>
  </div>
  <!-- right-->
  
<script>
/*小图mouseenter效果*/
window.addEvent('domready',function(){

  var cart_product_img_viewer=new Element('div',{styles:{'position':'absolute','zIndex':500,'opacity':0,'border':'1px #666 solid'}}).inject(document.body);
  
  var cpiv_show=function(img,event){
       
      if(!img)return;
      cart_product_img_viewer.empty().adopt($(img).clone().removeProperties('width','height').setStyle('border','1px #fff solid')).fade(1);
      
      var size = window.getSize(), scroll = window.getScroll();
        var tip = {x: cart_product_img_viewer.offsetWidth, y: cart_product_img_viewer.offsetHeight};
        var props = {x: 'left', y: 'top'};
        for (var z in props){
            var pos = event.page[z] + 10;
            if ((pos + tip[z] - scroll[z]) > size[z]) pos = event.page[z] - 10 - tip[z];
            cart_product_img_viewer.setStyle(props[z], pos);
        }
  
  };
  
   $$('.memberlist .product-list-img').each(function(i){
  
       new Asset.image(i.get('isrc'),{onload:function(img){
	   if(!img)return;
           var _img=img.zoomImg(50,50);
		     if(!_img)return;
           _img.setStyle('cursor','pointer').addEvents({
              'mouseenter':function(e){
                 cpiv_show(_img,e);
              },
              'mouseleave':function(e){
                cart_product_img_viewer.fade(0);
              }
           });
           i.empty().adopt(new Element('a',{href:i.get('ghref'),target:'_blank',styles:{border:0}}).adopt(_img));                 
       },onerror:function(){
            i.empty();
		
       }});
   
   });

});
</script>
