<style>
.division { padding-left:20px;}
.division li{list-style-type:disc;}
</style>
<div class="MemberMain">
<div style="margin-right:175px;">
<{if $is_open_return_product }>
<h1 class="title"><{t}>售后服务须知<{/t}></h1>
<div class="division uarea-output clearfix">
<{$comment}>
</div>
<div class="textcenter pushdown-1"><a href="<{link app=b2c ctl=site_member act=return_list}>" class='btn-normal'><{t}>下一步<{/t}></a></div>
<{else}>
<h1 class="title"><{t}>本站没有启用退货功能<{/t}></h1>
<{/if}>
</div>
</div>
