/*---------------------------------------------------------------------------------------------------------------
	按钮
---------------------------------------------------------------------------------------------------------------*/
.btn { background: none; border: none; display:inline-block; display:-moz-inline-stack;  *display:inline; zoom:1; font-style:normal; font-variant:normal; font-weight:normal; margin:0 1px; padding:0; overflow:visible; text-decoration:none; cursor:pointer; vertical-align: middle; }
.btn span { background: url(main_bg.gif) -250px -240px; display:block; padding:0 0 0 10px; height:23px; line-height:23px; white-space:nowrap;overflow:visible; }
.btn:hover { text-decoration:none; }
.btn:hover span { background-position: -250px -280px; color: #222;}
.btn-has-icon span { padding: 0 0 0 5px; }
.btn span span, .btn-has-icon span span { background-position: right -240px; padding:0 10px 0 0; }
.btn:hover span span { background-position: right -280px;}
.disabled { cursor: auto; }
.disabled span, .disabled:hover span { background-position: -250px -320px; color:#888; }
.disabled span span, .disabled:hover span span { background-position: right -320px;}

.btn img { vertical-align: middle; }
.btn .btn-icon { zoom:1; margin:-6px 0 0 0; *margin:3px 2px 0 0; }
.btn-icon img { margin-top:-2px; }
.btn .drop-handle { margin:0 -3px 0 2px; padding:0; background:url(arrow-down.gif) no-repeat 4px 50%; width:14px; }
/*
有图标的按钮样式
*/
.sysiconBtn { background:#E2E5E8 url(sysicon.gif) no-repeat; margin:0; padding:0; margin:1px 3px 0 0; padding:4px 4px 2px 20px; line-height:24px; cursor: pointer; color: #000; text-decoration: none; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 2px solid #bec6ce; border-bottom: 2px solid #bec6ce; outline:none; display:inline; font-weight: normal; cursor:pointer; }
.btn-show-cate { background:#E2E8EB url(sysicon.gif) no-repeat 2px -1177px; }
.btn-hide-cate { background:#E2E8EB url(sysicon.gif) no-repeat 2px -1217px; }
/*
树型菜单的图标样式
*/
.imgTree { cursor:pointer; }
/*
排序框的样式
*/
.orderTextStyle { width:22px; height:15px; padding:0 3px; }
/*
无图标的按钮样式
*/
.sysiconBtnNoIcon { margin:0; padding:0; background: #E2E8EB; margin-left: 3px; padding:4px 4px 2px 4px; cursor: pointer; color: #000; text-decoration: none; border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 2px solid #bec6ce; border-bottom: 2px solid #bec6ce; display:inline; font-weight: normal; }
/*
按钮被按下以后处于编辑状态，无图标样式。具体效果参看在“会员>信息发送管理”
*/
.sentmailsetting .editing { background:none; background:#fff; border-top: 1px solid #bec6ce; border-left: 1px solid #bec6ce; border-right: 2px solid #ccc; border-bottom: 2px solid #ccc; }
.nowediting { background:none; background:#fff; border-top: 1px solid #bec6ce; border-left: 1px solid #bec6ce; border-right: 2px solid #ccc; border-bottom: 2px solid #ccc; }
/*
按钮被按下以后处于编辑状态，有图标样式。具体效果参看“finder”列表中的“列表编辑按钮”
*/
.edit.editing { background:#fff url(sysicon.gif) no-repeat 2px -41px; border-top: 1px solid #bec6ce; border-left: 1px solid #bec6ce; border-right: 1px solid #fff; border-bottom: 1px solid #fff; }
.sysiconBtn:active { border-top: 1px solid #bec6ce; border-left: 1px solid #bec6ce; border-right: 2px solid #fff; border-bottom: 2px solid #fff; }
.orderlistedit { background: #E2E8EB url(sysicon.gif) no-repeat 5px -523px; }
.delete { background:#E2E8EB url(sysicon.gif) no-repeat 2px -83px; }
img.delete { background:none; }
.recyclebin { background:#E2E8EB url(sysicon.gif) no-repeat 2px -786px; }
.print { background:#E2E8EB url(sysicon.gif) no-repeat scroll 2px -124px }
.addorder { background:#E2E8EB url(sysicon.gif) no-repeat 2px 0px; }
.printtyle { background:#E2E8EB url(sysicon.gif) no-repeat 2px -164px; }
.cal { background: #E2E8EB url(sysicon.gif) no-repeat 2px -200px; padding-left: 20px; }
.enable { background:#E2E8EB url(sysicon.gif) no-repeat 2px -262px; text-indent: -99999px; padding: 0 5px; display: block; }
.viewRefresh { background:#E2E8EB url(sysicon.gif) no-repeat 2px -285px; display: block; float: right; margin: 2px 0 0 8px; height: 16px; padding-left: 20px; }
.BtnviewRefresh { background:#E2E8EB url(sysicon.gif) no-repeat 2px -285px; }
.useorder { background:#E2E8EB url(sysicon.gif) no-repeat 2px -319px; }
.memberinfo { background:url(sysicon.gif) no-repeat 2px -355px; padding:3px 8px }
.bacthedit { background:#E2E8EB url(sysicon.gif) no-repeat 2px -355px; }
.buttonsave { background:#E2E8EB url(sysicon.gif) no-repeat 2px -619px; }
.sms { background:#E2E8EB url(sysicon.gif) no-repeat 2px -877px; }
.email { background:#E2E8EB url(sysicon.gif) no-repeat 3px -991px; }
input.email { background:none; }
.gridedit { background:#E2E8EB url(sysicon.gif) no-repeat 2px -1040px; }
.gridedit.editing { background:#fff url(sysicon.gif) no-repeat 2px -1040px; border-top: 1px solid #bec6ce; border-left: 1px solid #bec6ce; border-right: 1px solid #fff; border-bottom: 1px solid #fff; }
.searchico { background:#E2E8EB url(sysicon.gif) no-repeat 2px -1091px; }
.addwgt { background:#E2E8EB url(sysicon.gif) no-repeat 5px -1141px; padding-left:25px; }
.arrow-up,
.arrow-down,
.arrow-left,
.arrow-right { padding-right:20px; background-position: 95% 50%; background-repeat: no-repeat; }
.arrow-up { background-image:url(arrow-up.gif) }
.arrow-down { background-image:url(arrow-down.gif) }
.arrow-left { background-image:url(arrow-left.gif) }
.arrow-right { background-image:url(arrow-right.gif) }
/*

*/
.headContent .selectModeBar { display:none; }
.headContent .x-ready,
.headContent .x-all { display:block; }
.headContent .mode { text-align:center; border-bottom:1px solid #ccc; }
.headContent .selectAll { background:#ffc; display:none; }
.headContent .deSelectAll { background:#ffff80; display:none; }
.headContent .x-ready .selectAll { display:block; }
.headContent .x-all .deSelectAll { display:block; }
.x-colbody label { cursor:move; }
/*
订单区 打印按钮
*/
.p_prt,
.p_prted { background:url(p_prt.gif) no-repeat; cursor:pointer; width:17px; height:18px; display:inline-block; display:-moz-inline-stack;  *display:inline; *zoom:1; *width:15px; *height:16px; *padding:2px 0 0 2px; line-height:18px; vertical-align:top; text-align:center; margin:2px 0 0 0; color:#000000;font-weight:400; }
.p_prt:hover,
.p_prted:hover { background-position:0 -60px; }
.p_prted { background-position:0 -30px; }
.actionItems { border-top: 1px solid #fff; border-left: 1px solid #fff; border-right: 1px solid #bec6ce; margin: 0; height: 65px; padding: 0 3px; }
.actionItems table td { width:auto; }
.actionItemsSingleLine { padding: 6px 9px 3px 3px; border-left: 1px solid #fff; border-right: 1px solid #bec6ce; }
.actionItems .functop h3 { color: #969696; margin:0 0 5px; padding:3px 0px; border:none; font-size: 12px; font-weight: normal; text-align: center; }
.actionItems .functop { padding-top:3px; height:20px; line-height:28px;  *height:20px;
_height:27px; }
.actionItems .func { padding-top:0px; }
.actionItems .func selete { margin-left:5px; }
.actionItems .funcTopWrap .func { height: 30px; }
.actionItems .keywords { border: 1px solid #ccc; width: 75px; height: 18px; }

.finder_order_tips { background:#FFFFEC; padding:5px; width:200px; position:absolute; margin-left:-220px; }
.t-del img { vertical-align:middle; }


/*.btn-upload span, .btn-upload:hover span { background-position: 0 -150px; height: 22px; color: #fff; }
.btn-upload span span, .btn-upload:hover span span { background-position: right -150px; }
*/.btn-upload .icon { margin: -5px 2px 0 0; *margin:0 2px 0 0; }

.table-action { border-top: 1px solid #e0e0e0; padding: 10px 0; height:30px; line-height:30px; margin:0; text-align: center; clear: both; }
.table-action .btn, .btn-primary { *margin: 0 2px; }
.table-action .btn span, .btn-primary span { background: url(main_bg.gif) -250px -360px; color:#fff; padding: 0 0 0 10px; height: 27px; line-height: 27px; font-weight: bold; border: none; cursor: pointer; overflow: visible; }
.table-action .btn span span, .btn-primary span span { background: url(main_bg.gif) right -360px; height: 27px; padding: 0 10px 0 0; overflow: visible; width: auto !important; min-width: 40px; width: 40px; }
.table-action .btn:hover span, .btn-primary:hover span { background-position: -250px -400px; }
.table-action .btn:hover span span, .btn-primary:hover span span { background-position: right -400px; }
.table-action .btn-secondary span { background-position: -250px -440px; color:#222; }
.table-action .btn-secondary span span { background-position: right -440px; }
.table-action .btn-secondary:hover span { background-position: -250px -480px; }
.table-action .btn-secondary:hover span span { background-position: right -480px; }

/*template edit View button*/
.btn-addwgt span,.btn-savewgt span{background-position: -250px -802px;color:#000}
.btn-addwgt span span,.btn-savewgt span span{ background-position: right -802px}
.btn-addwgt:hover span,.btn-savewgt:hover span{background-position: -250px -840px}
.btn-addwgt:hover span span,.btn-savewgt:hover span span{background-position: right -840px}
.btn-quit span{background-position: -250px -955px;color:#000}
.btn-quit span span{background-position: right -955px}
.btn-quit:hover span{ background-position:-250px -999px}
.btn-quit:hover span span{background-position:right -999px}
.btn-browse span{ background-position:-250px -881px; color:#000}
.btn-browse span span{background-position:right -881px}
.btn-browse:hover span{background-position:-250px -918px}
.btn-browse:hover span span{background-position:right -918px}
