/*----------------------------------------------------------------
 表格form
 ------------------------------------------------------------------*/
.head-title, .content-main h3 { font-size:14px; color:#222; height:22px; line-height:22px; padding:1px 7px 2px; margin: 0; }
h2.head-title { color:#222; padding:1px 7px 2px; margin:2px 0 0; border:none; }
h3.head-title { border-bottom:2px solid #e0e0e0; }
.head-title .num, .content-main h3 .num { font-weight: normal; font-style: normal; color: #999; font-size: 0.9em; margin: 0 2px; }
.tableform { margin: 5px 5px 10px; }
.tableform-tabs { background: #fff; }
.tableform-tabs .table-action { margin: 0 0 15px;}
.division h4 { color:#333; font-size:12px }
.tableform-tabs .division { border: none; margin: 0; }
.tableform h4 { font-size: 12px; margin: 5px; border-top: 1px solid #e8e8e8; padding: 10px 10px 0;}
.tableform h5 { color: #333; font-size:12px; margin:0 0 5px; padding:0 5px; }
.tableform .first, .tableform .division h4 { border: none; }
.tableform h5.head-title{ border-bottom:1px solid #ddd}
.division-bottom {border-bottom: 1px solid #cbd5dc;}
.tableform .division {  }
.division .division { border:none; }
.tableform .division td a { padding: 2px 5px 0 5px; margin: 0 3px; color: #000; line-height: 20px; }
.tableform table { padding:0; }
.tableform th,
.tableform td { padding: 7px 5px; vertical-align:top; }
.tableform th{ text-align: right; font-weight: normal; white-space: nowrap; width:120px; padding-right: 5px; color: #4f4f4f; }
.tableform td { white-space:normal; }
.tableform .red { font-weight:bold; margin:0 2px;}
.b-tp, tr.b-tp th, tr.b-tp td { border-top:1px solid #e8e8e8; padding-top:9px; margin-top:3px; }
.b-ft, tr.b-ft th, tr.b-ft td { border-bottom:1px solid #e8e8e8; padding-bottom:9px; margin-bottom:3px; }

.tableform .intro { color: #369; padding-left: 15px; }
.table-title { padding: 10px 5px; }
.table-title h4 { display: inline; padding: 0; }
.dialog div.wgtconfig-header { margin-top:10px;}
.widgetconfig h4 { padding: 5px; color: #364b7d; font-size: 1em; }

.division { margin: 5px; padding:10px; line-height: normal; white-space:normal; }
.division .shopping_setting th { width:190px; }
.division .shop-setting th { width:190px; }
.division td label,
.division div label { display:inline; float:none; white-space: normal; }
.division .span-auto label{white-space:nowrap;}
.division ul,
.division li { list-style:none;}
.division li { padding:2px; }
.helptips { font-size:14px; border-bottom:1px dotted #f90; cursor:pointer; }
.division .info { color:#b6b6b6; margin-left:5px; }
.division h3 a, .division h4 a { font-size: 12px; }
.section h4 { color:#003366; padding:3px 10px; margin:0 0 5px;}
div.division-skin { background: #f8f8f8; border: 1px solid #dbdbdb; }
.division.table-action { margin: 5px 7px; padding: 1px 3px; }

.handles { padding-left:5px; }
.t-handle-current, .handles .cur { background-color:#FFFFFF; border-color:#FF9900 #DDDDDD #FFFFFF; border-style:solid; border-width:2px 1px 1px; cursor:pointer; font-weight:bold; height:25px; line-height:25px; text-align:center; width:80px; padding:3px 15px 3px 15px; }
.t-handle { background-color:#FFFFFF; border:1px solid #DDDDDD; cursor:pointer; height:25px; text-align:center; width:80px; padding:3px 15px 3px 15px; }

.discuss-pro{ margin:10px 0 5px 15px;}
.discuss-pro ul{ list-style-type:none; margin:5px}
.discuss-pro li{ height:auto; padding:5px 0}
.discuss-pro-pic{ width:75px; height:74px; margin-bottom:6px; background:#fff; text-align:center}
