/*---------------------------------------------------------------------------------------------------------------
	gridlist
 ---------------------------------------------------------------------------------------------------------------*/ 
.gridlist-action { background: url(tile_bg.gif) repeat-x 0 -100px; color: #425a78; padding: 2px 5px; border-bottom: 1px solid #C6D7E4; height: 25px;overflow: hidden}
.gridlist-action ul, .gridlist-action li { margin: 0;  list-style: none; padding: 0;}
.gridlist-action li { float: left; margin-right: 5px; }
.gridlist-action .first { border-left: none; }
.gridlist-action .cur { background-position:0 -79px; margin: 3px 3px 0; }
.gridlist-action .cur span { background-position: right -79px; height: 26px; line-height: 25px; }
.gridlist-action button { margin-right:0;}

.gridlist-notice {background-color: #FFF9CF; color: #514721; border:1px solid #FFD324; margin-bottom: 1em; width:98%; height:100px; padding:4px 0px 4px 3px;}
.gridlist-notice-title { width:20%; float:left;}
.gridlist-notice-info { width:80%; float:left; color:#333;}
.gridlist-notice-info ul{ padding:0; margin:0;}
.gridlist-notice-info li{ list-style:none;}
.gridlist-notice-statistics { width:50%; float:left; font-weight:normal;}
.gridlist-notice-statistics span{ width:45%; padding-right:10px; float:left; font-weight:bold;}

.gridlist-setting { background: #eeeded; border: 1px solid #ccc; border-top: none; padding: 2px; margin: 0 0 2px; }
.gridlist-setting-filter { margin: 0; padding: 10px; }
.gridlist-setting-filter li { float: left; width: 80px; white-space: nowrap; list-style: none; }

.gridlist-setting-col { width: 100%; table-layout: fixed; }
.gridlist-setting-col td { padding: 0; vertical-align: top; }
.gridlist-setting-col-btn { width: 11px; overflow: hidden; }
.gridlist-setting-col-items { position: relative; width: 100%; height: 27px; overflow: hidden; }
.gridlist-setting-col ul { margin: 0; position: absolute; width: 2000px; }
.gridlist-setting-col li { background: url(main_bg2.gif) no-repeat 0 -105px; float: left; list-style: none; padding: 0 0 0 17px; cursor: pointer;}
.gridlist-setting-col li span { background: url(main_bg2.gif) no-repeat right -105px; padding: 0 7px 0 0; height: 26px; line-height: 26px; float: left; }
.gridlist-setting-col li:hover { background-position: 0 -131px; }
.gridlist-setting-col li:hover span { background-position:  right -131px; }
.gridlist-setting-prev, .gridlist-setting-next { background: url(main_bg2.gif) no-repeat 0 -157px; width: 11px; height: 27px; overflow: hidden; text-indent: -9999px; cursor: pointer; }
.gridlist-setting-prev:hover { background-position: -11px -157px; }
.gridlist-setting-next { background-position: right -157px; }
.gridlist-setting-next:hover { background-position: -78px -157px; }
.gridlist-setting-btn { padding: 3px; }

.gridlist-head { overflow:hidden; background: url(tile_bg.gif) 0 -300px; color: #4e4e4e; height:22px; line-height:22px; border-left:1px solid #D5DFE3; border-right:1px solid #D5DFE3; }
.gridlist-head th,
.gridlist-head td { background: url(tile_bg.gif) 0 -300px; padding:0 2px; text-align:left;  }
.Node .gridlist-head td{ text-align:center;border-right:1px solid #ddd;border-left:1px solid #fff; border-collapse:collapse}
.gridlist-head .pointer { cursor:pointer; }
.gridlist-head .pointer:hover { color:#f90; cursor:pointer; }
.gridlist-head .highlight-up { cursor:pointer; background:url(arrow-up.gif) no-repeat 95% 50%; color:#369; padding-left:3px; }
.gridlist-head .highlight-down { cursor:pointer; background:url(arrow-down.gif) no-repeat 95% 50%; color:#369; padding-left:3px }
.gridlist thead th { background: url(tile_bg.gif) 0 -300px; text-align:center; font-size:12px; padding:0 3px; height:22px; line-height:22px; border-right:1px solid #c8d6dc; border-bottom:1px solid #d0d2d5; color:#4e4e4e; font-weight:normal; white-space: nowrap; vertical-align: middle; }

.gridlist-head div.span-1,
.gridlist-head div.span-2,
.gridlist-head div.span-3,
.gridlist-head div.span-4,
.gridlist-head div.span-5,
.gridlist-head div.span-6,
.gridlist-head div.span-7,
.gridlist-head div.span-8,
.gridlist-head div.span-9,
.gridlist-head div.span-10,
.gridlist-head div.span-11,
.gridlist-head div.span-12 { margin:0; padding:0 2px; border-left: 1px solid #fff; border-right: 1px solid #e1e1e1; text-align:center; }
.gridlist { background: #fff; color: #5b5b5b; border-collapse:collapse; border: 1px solid #d5dfe3; margin: 0; }
.gridlist th { width:auto; }
.gridlist .lnk { margin:0 2px; }
.division td .gridlist { width:auto; }
.gridlist caption{line-height:25px; padding:1px 8px; background:none; border:1px solid #D5DFE3; border-bottom:none; text-align:left; font-weight:700;}
/*gridlist tr invalidation*/
.gridlist .invalidation{background-color:#e8e8e8;}

.gridlist-footer { background:#eef0f2; border-bottom:1px solid #CFD8DD; padding:5px 10px; line-height: 22px; margin:0 0 5px;}
.gridlist-footer a { color: #586580; }
.gridlist-footer i { font-style: normal; }
.gridlist-footer .pager { margin-left: 10px; float: left; }
.gridlist-footer .pager a, .gridlist-footer .pager a:hover { padding: 2px 4px; margin: 0 2px 0 0; }
.gridlist-footer .pager .next { }
.gridlist-footer .pager .prev { }

.gridlist tbody th.gridlist-sub-title, .gridlist tbody td.gridlist-sub-title { text-align: left; font-weight: bold; padding: 12px 10px 0; font-size: 12px; border-bottom: none; }

.gridlist tbody td,
.gridlist tbody th { text-align: center; height: 27px; line-height: 27px; border-bottom: 1px solid #e8e8e8;border-right: 1px solid #e8e8e8; white-space:normal; padding: 0 3px; vertical-align: middle; }
.Node-body .gridlist tbody td{border-bottom:none;border-right:none;}

.gridlist div.span-1,
.gridlist div.span-2,
.gridlist div.span-3,
.gridlist div.span-4,
.gridlist div.span-5,
.gridlist div.span-6,
.gridlist div.span-7,
.gridlist div.span-8,
.gridlist div.span-9,
.gridlist div.span-10,
.gridlist div.span-11,
.gridlist div.span-12 { margin:0; padding:0 3px; }

.highlight div.span-1,
.highlight div.span-2,
.highlight div.span-3,
.highlight div.span-4,
.highlight div.span-5,
.highlight div.span-6,
.highlight div.span-7,
.highlight div.span-8,
.highlight div.span-9,
.highlight div.span-10,
.highlight div.span-11,
.highlight div.span-12 { margin:0; padding:0 3px; }

.gridlist-colChanger { border:1px solid #ccc; background:#E7EFF4 url(sysrightbackgroud.gif) repeat-x; }
.gridlist .opt { display:block; padding:3px 0; cursor:pointer; text-align:center; }
.gridlist p.notice, .gridlist p.note { margin: 20px 10px; }

.row-line { cursor: default; }
div.row { line-height:24px; padding:2px 0; border-bottom: 1px solid #e8e8e8; clear:both; overflow:hidden; white-space: nowrap;}
div.highlight-row { font-weight:bold; background-color:#fff; }
div.row:hover { background-color:#FFFFD4; }
div.row div.span-relative { position:relative; overflow:visible; }
div.highlight .row-line { border-bottom:0; }
.move-handler { padding: 0 3px; vertical-align: middle;}
.footer { background:#E8EFF5; border-top:1px solid #CFD8DD; padding:0 0 3px; text-align:center;}
.footer .table-action { width:auto; margin:0 auto;}
/*---------------------------------------------------------------------------------------------------------------
	action-bar
 ---------------------------------------------------------------------------------------------------------------*/
.action-bar { background:url(tile_bg.gif) repeat-x 0 -100px; line-height: 29px; padding: 0 15px; }
.action-bar-info { color: #000; }
.action-bar ul, .action-bar li { list-style: none; margin: 0; padding: 0; display: inline; }
.action-bar ul { *margin-top:5px; vertical-align:top;}
.action-bar-info { margin-right: 10px; }
.action-bar ul { margin-right: 15px; }
.actionBar { line-height: 30px; border-top:1px solid #fff; border-bottom:1px solid #CCC; padding:2px 8px;  *padding:0 8px; background:#f0f0f0; }
.actionBar td,
.actionBar th { padding: 0; }
.actionBar table { width:auto; margin:0; } 



/*---------------------------------------------------------------------------------------------------------------
	finder 
 ---------------------------------------------------------------------------------------------------------------*/
.finder-title { padding:0 7px 0 0; overflow:hidden; zoom:1; }
.finder-title ul, .finder-title li { list-style:none; margin:0; padding:0;}
.finder-title ul { padding:5px 5px 0; color:#777;}
.finder-title li { display:inline; }
.finder-title a, .finder-title .lnk { text-decoration:none; color:#2c4a71; }
.finder-search { background:#fff; *width:180px; border:1px solid #898989; padding:0 0 0 5px; height:19px; line-height:19px; }
.finder-search td { padding:0; white-space:nowrap; }
.finder-search-select { border-right:1px solid #d8d8d8; padding:0 3px 0 0; margin:0 2px 0 0; }
.finder-search li { float:none; }
.finder-search-btn { float:right; cursor:pointer; }
.finder-search-input { border:none; background:#fff; width:110px; color:#666; }
.finder-action { background:url(tile_bg.gif) repeat-x 0 -100px; padding:7px 7px 3px; position:relative; height:25px; line-height:25px; overflow:visible;}
.finder-action li { margin-right:3px; }
.finder-action-items a { background:url(main_bg.gif) no-repeat -250px -120px; text-decoration:none; padding:0 0 0 13px; float:left; color:#222; cursor:pointer; font-weight:normal; height:21px; line-height:21px; }
.finder-action-items a span { background:url(main_bg.gif) no-repeat right -120px; padding:0 13px 0 0; float:left; height:21px;}
.finder-action-items a:hover { background-position: -250px -160px; color:#000; text-decoration:none; -moz-box-shadow:0 0 2px #ccc; }
.finder-action-items a:hover span { background-position: right -160px; }
.finder-col-option { position:absolute; right:5px; top:38px; }
.finder-header-wrapper { overflow:hidden; }
.finder-header td { padding:0; vertical-align:center; overflow:hidden; border-left: 1px solid #fff;  border-right:1px solid #cccccc;}
.finder-header td td { padding:0; border:none; }
.finder-header .orderable { cursor:pointer; }
.finder-header .orderable:hover { color:#507cb5; }
.finder-header .highlight-up { cursor:pointer; background:url(arrow-up.gif) no-repeat 95% 6px; padding-left:3px; }
.finder-header .highlight-down { cursor:pointer; background:url(arrow-down.gif) no-repeat 95% 8px; padding-left:3px; }
.finder-header { background:url(tile_bg.gif) repeat-x 0 -400px; color: #4e4e4e; line-height: 20px;}
.finder-footer { background:url(tile_bg.gif) repeat-x 0 -200px; height:27px; line-height:27px padding:0 5px; margin: 0;}

.finder-packet { font-family:Tahoma, Arial, Verdana; height:23px; padding:0 1px; overflow:hidden; }
.finder-packet ul, .finder-packet li { display:inline; margin:0; padding:0; }
.finder-packet li { height:auto; float:left  }
.finder-packet .last { border:none; }
.finder-packet li a { text-decoration:none; cursor:pointer; margin-top:2px; height:22px; line-height:22px; float:left; color:#333;  background:url(main_bg.gif) no-repeat -250px -761px; padding:0 0 0 10px;}
.finder-packet li span{  background:url(main_bg.gif) no-repeat right -761px; float:left; padding:0 10px 0 0; }
.finder-packet li a:hover { text-decoration:underline; }
.finder-packet .current a { text-decoration:none;color:#3A5999; margin-top:0; height:23px; line-height:26px; font-weight:bold; float:left; background:url(main_bg.gif) no-repeat -250px -720px;}
.finder-packet .current span{ background:url(main_bg.gif) no-repeat right -720px; float:left;}

.finder-header-wrapper table,
.finder-list table { table-layout:fixed; }
.finder-list .cell { white-space:nowrap; overflow:hidden; padding:1px 5px; *padding:1px 0;}
.finder-header .cell { padding:0 0 0 5px; height:20px; line-height:20px; overflow: hidden;}
.finder-list .cell table td{ overflow:hidden; white-space:nowrap;}

.finder-col-label { white-space:nowrap; text-align:left; }
.finder-col-resizer { text-indent:2000px; display:block; width:5px; overflow:hidden; cursor:col-resize; }
.finder-col-options { background:none; border:none; padding:5px 0; *padding:2px 0; position:absolute; right:0;}
.finder-list { z-index:1; }
.finder-list table { border-collapse: collapse;}
.finder-list td { border:none; overflow:hidden; padding:0 1px; }
.finder-list .row { line-height:22px; background-color:#fff; }
.finder-list tr.even{background-color:#f8f8f8;}
.finder-list .row:hover { background: #F0F6FE; }
.finder-list .row td { border-bottom:1px solid #e3e6eb;}
.finder-list .highlight-row td { font-weight:bold;}
.finder-list .unconv{background-color:#ffe3e7;}

.finder-list .view-detail td { background-color:#e6ecf2; color:#333; font-weight:bold; border-bottom:none;  }
.finder-list .view-detail .cell { border: none; }

.finder-list .finder-detail-colspan{ background: #e6ecf2; text-align:left; border-top:1px solid #edf1f5; padding: 0 3px 4px; }
.finder-detail-content { background: #fff url(finder_detail.gif) repeat-x 0 -62px; border: 1px solid #c5d3e3; overflow:hidden; width:100%}
.finder-detail .action-bar {  border: none; height: 31px; overflow: hidden; border-bottom: 1px solid #ddd; margin: 0 1px; line-height: 30px; float: none; clear: both; }
.finder-list .view-detail td a,
.finder-list .view-detail h6 {}
.finder-list .view-detail .edit-ready,
.finder-list .view-detail .tag { color:#333;background:#fff;}
.finder-list .btn-detail-open img{ width:16px; height:16px; background:url(finder_drop_arrow.gif) no-repeat;}
.finder-list .view-detail .btn-detail-open img{ background-position:0 -16px;}

.finder-list .edit-ready .cell { border:1px solid #6ea3f8; background:#f7faff; padding:0 4px 0 3px; }
.finder-list .edit-begin .cell { background-image:url(finder_loading.gif); background-repeat:no-repeat; background-position:98% center; }
.finder-list .edit-ing .cell { background-image:none; }
.finder-list-col-editpanel { position:absolute; }
.finder-list-col-editpanel .cell-edit-action { border:3px solid #6ea3f8; padding:8px; background:#eff6ff url(finder_celledit_bg.gif) repeat-x; }
.finder-list-col-editpanel .btn { margin-top:4px; }
.finder-list-col-editpanel .cell-edit-action-remote { background:#fff url(loading.gif) no-repeat center center; }
td.finder-list-command { padding-left:3px; }
.finder-list-command span,
.finder-list-command a { margin:2px 1px 0 0; float:left; cursor:pointer; }

.move-handler {cursor: url(hand.cur),move;}
.move-active,.move-active .move-handler,.move-active *{cursor:url(closedhand.cur),move!important;}

.finder-tip { background:#FFFFCC; text-align:center; color:#333; line-height:25px; border-bottom:1px solid #EBEBEB;  overflow:hidden; }
.finder-tip strong { margin:0 3px; font-weight:normal; cursor:pointer; color:#338DCC; text-decoration:underline; }
.finder-tip i { display:none; font-style:normal; }
.finder-tip em,
.finder-tip span { font-weight:bold; margin:0 2px; font-style:normal; }
.finder-tip .selected, .finder-tip .selectedall { background: #ffffa0; }

.finder-tabs-wrap { background-position:0 -700px; height:31px; border:none; overflow:hidden; zoom:1; }
.finder-tabs-wrap li { margin:0;}
.finder-tabs-wrap a { color:#3b495a;}
.finder-tabs-wrap .tab { background:url(main_bg.gif) no-repeat -250px -640px; height:28px;ã€€overflow: hidden; }
.finder-tabs-wrap .tab span { background:url(main_bg.gif) no-repeat right -640px; }
.finder-tabs-wrap .current { background:url(main_bg.gif) no-repeat -250px -680px;}
.finder-tabs-wrap .current span { background:url(main_bg.gif) no-repeat right -680px;}
.finder-detail .tableform { background:#f8f8f8; -moz-border-radius: 5px; -moz-webkit-radius: 5px; margin: 10px 15px; border: 1px solid #d9d9d9; padding: 5px; }
.finder-detail .tableform h4 { border: none; }
.finder-detail .tableform h5 { border-bottom: 1px solid #c8c8c8; color: #305c89; margin: 0 0 5px; padding: 7px 0 5px 25px; }
.finder-detail .tableform th{ color:#555; width: 90px; }
.finder-detail .tableform td{padding:5px; }
.finder-detail .division { background: transparent; margin: 5px; padding: 5px 10px; }
.finder-detail .table-action { border-top:2px solid #e0e0e0; margin: 5px 5px 3px; padding: 3px 0 7px; }
.finder-detail .gridlist thead th { border-bottom:1px solid #d0d2d5; width:auto; }
.finder-detail .gridlist td { padding:0 3px; }
.finder-detail table { table-layout: auto; }
.fitting-bg{ background:#F7FAFB}

col { display:table-column; }
.col-select { width: 25px;padding: 0;zoom: 1;}

.col-opt { width: 50px; }


.gray_form{border:1px solid #ccc; background: #eee; padding:6px 10px;}
.dis_n{display:none;}
.dis_b{display:block;}

.provice-bg:hover{ background:#F6F9FA}