<h5><{$spec.spec_name}></h5>
<p><{$spec.spec_memo}> &nbsp; [显示方式：<{if $spec.spec_show_type == 'select'}>下拉显示<{else}>平铺显示<{/if}>]</p>
<ul class='spec_box' > 
	<{foreach from=$spec_value item=vItem }>
	  <li style="cursor:default;"><{if $spec.spec_type == 'text'}><span ><{$vItem.spec_value}></span><{else}><img src='<{if $vItem.spec_image}><{$vItem.spec_image|storager}><{else}><{$spec_default_pic|storager}><{/if}>' alt='<{$vItem.spec_value}>' width='30' height='30'/><{/if}></li>
	  <{/foreach}>
</ul>