
<div class="CartWrap">
<div class="CartNav clearfix"><div class="floatLeft"><img src="statics/cartnav-step2.gif" alt="购物流程--用户认证" /></div><div class="floatRight"><img src="statics/cartnav-cart.gif"  /></div></div>
</div>

<div class="RegisterWrap clearfix">
    <div class="leftpart" style="width:47%; margin-right:10px;margin-top:20px;">
      <{require file="passport/index/login.html"}>
    </div>
    <div class="righttop" style=" width:47%; height:auto; margin-top:20px;">
      <{require file="passport/index/signup.html"}>
      </div>
  
	

	  <{foreach from=$cart_login_content item=no}><{$no}><{/foreach}>


      <{if !$mustMember}>
        <div class="rightbottom" style="<{if $cart_login_content}>clear:both;<{/if}> float:left; width:47%; height:auto; margin-top:5px;">
	 		<div class="RegisterWrap">
               <h4><{t}>直接购买<{/t}></h4>
               <div class="intro"><div class="customMessages">{nologin_buy}</div></div>
               <{if $guest_enabled=='true'}>  <!--非会员购买-->
               <div class="form">
               	<a class="lnk" href="<{link ctl=cart act=checkout arg0=$isfastbuy}>" onclick="Cookie.set('S[ST_ShopEx-Anonymity-Buy]', 'true')" id="anonymityBuy"><{t}>直接进入购买<{/t}></a>
               </div>
               <{/if}>
			</div>
           </div>
       <{/if}>



  </div>







<div class="clear"></div>
<{script src='formplus.js' app='site'}>
