<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td>
<{include file="site/passport/login.html"}>
</td>
<td>
<input type='hidden' name='from_minipassport' value='1' >
  <div class="RegisterWrap">
      <div class="form">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
         <tr>
            <!--<td colspan="2"><h4><{t}>已注册用户，请登录<{/t}></h4></td>-->
            <td class='row-span' rowspan='<{if $valideCode}>5<{else}>4<{/if}>'>
               <div class='span-auto' style='width:160px; text-align:left;'><h4 style="padding-top:0;"><{t}>还不是会员?<{/t}></h4></div><div class='span-auto close' style='width:25px'>X</div>
               <div class='clear'></div>
               <ul class="list fast-login">
                 <li><span>没有账号？</span><a href='<{link app=b2c ctl="site_passport" act="signup"  }>' class="actbtn btn-newregister">立即注册</a></li>
                 <{if $guest_enabled=='true'}>  <!--非会员购买-->
                 <li><span>您还可以...</span><a class="actbtn btn-buynow" href="<{link app=b2c ctl=site_cart act=checkout}>" onclick="Cookie.set('S[ST_ShopEx-Anonymity-Buy]', 'true');$(this).getParent('.dialog').retrieve('chain',$empty)();return false;" ><{t}>无需注册直接快读购买<{/t}></a></li>
                 <{/if}>
               <ul>
            </td>
         </tr>
        </table>
     </div>
  </div>
</td></tr></table>
<{if $valideCode}>
<script>
   void function(formclz){
         var vcodeBox = $E('.'+formclz+' .verifyCode');
         var vcodeImg  =vcodeBox.getElement('img');
         var refreshVcodeBtn  = vcodeBox.getElement('a').addEvent('click',function(e){
              e.stop();
              vcodeImg.src = vcodeImg.get('codesrc')+'?'+$time();
         });
         $$('.'+formclz+' input').addEvent('focus',function(){
             if (this.form.retrieve('showvcode',false))return;
             vcodeBox.show();
             refreshVcodeBtn.fireEvent('click',{stop:$empty});
             this.form.store('showvcode',true);
         });
   
   }('mini-loginbuyform');
</script>
<{/if}>

