<form action="index.php?ctl=service/domainbind&act=result" method='POST' class="tableform">
<div class="tableform">
<div class="division">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td colspan='2'>&nbsp;&nbsp;&nbsp;&nbsp;根据信息产业部文件通知，只有备案通过的域名才可以正式开店。我们将会对您提交绑定的域名进行审核，请确认您在进行此步操作的时候已经为此域名进行过备案。
    </td>
    <tr>
        <th>请输入要绑定的域名： </th>
        <td>http://<input type="text" name='domain'value="<{$url}>" <{if $url!=''}>readonly='true'<{/if}>/></td>
    </tr>
</table>
</div>
</div>

<table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
<tr>
<td><b class="submitBtn">
<input type="submit"  value="绑定"/></b>
<b class="submitBtn">
<input type="button" value="取消" isCloseDialogBtn='true'/>
</b>
</td>
</tr>
<{if $url!=''}><input type='hidden' name='edit' value='true'><{/if}>
</table>
</form>



<!--以下是反馈页面-->

<!--div class="success">
    域名绑定已经提交审核，请等待相关部门审核域名是否备案成功，此过程大概需要1-2个工作日。审核通过后，域名绑定将会自动生效。<br />请点击”确定“按钮返回商店管理后台。
</div>

<table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
<tr>
<td><b class="submitBtn"><input type="submit" id="on_submit" value="确定"/></b></td>
</tr>
</table-->