<form method="post" action="<{link ctl="passport" act="recover"}>">
<div class="RegisterWrap">
    <div  style="padding-left:100px;">
  
      <div class="intro" ></div>
      <div class="form" style=" margin-top:0; padding-top:0;">
        <input name="forward" type="hidden" value="<{$options.url}>">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" >
          <tr>
            <tdcolspan="2"><div align="left" style="font-weight:bold; text-indent:16px;">We can either email you a new password</div></td>
          </tr>
                   <tr>
            <th><div align="left"><i>*</i><{t}>username：<{/t}></div></th>
            <td><{input class="inputstyle" name="login" required="true" id="recover_login" }><span id="reg_user_info"></span></td>
          </tr>
          <tr>
            <th></th>
            <td><input class="memlogin_btn" type="image" value=""  src="../../../../../statics/btn-getpassword.gif" />            </td>
          </tr>
        </table>
     </div>
    </div>
  </div>



        </form>