<div class='CartWrap'>
    <div class="CartNav clearfix">
    <div class="floatLeft">
    <img src="<{$res_url}>/cartnav-step4.gif" alt="购物流程--确认订单填写购物信息" />
    </div>
    <div class="floatRight"><img src="<{$res_url}>/cartnav-cart.gif"  /></div>
    </div>
</div>
<form action="<{link app=b2c ctl='site_paycenter' act='dopayment' arg0='order'}>" method="post" id="f_order_pay">
  <{include file="site/common/orderinfo.html"}>
<input type="hidden" name="payment[order_id]" value="<{$order.order_id}>" />
<input type="hidden" name="payment[money]" value="<{$order.total_amount-$order.payed}>" id="hidden_money"/>
<input type="hidden" name="payment[currency]" value="<{$order.currency}>" />
<input type="hidden" name="payment[cur_money]" value="<{$order.cur_money}>" id="hidden_cur_money"/>
<input type="hidden" name="payment[cur_rate]" value="<{$order.cur_rate}>" />
<input type="hidden" name="payment[cur_def]" value="<{$order.cur_def}>" />
<input type="hidden" name="payment[cost_payment]" value="<{$order.payinfo.cost_payment}>" />
<input type="hidden" name="payment[cur_amount]" value="<{$order.cur_amount}>" />
<input type="hidden" name="payment[memo]" value="<{$order.memo}>" />
<!--<input type="hidden" name="payment[return_url]" value="<{$return_url}>" />-->
<{if $order.selecttype}>
  <div class="division select-paymethod">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="liststyle data">
      <{foreach from=$payments item=item key=key}>
			<tr>
				<th style="text-align: left;width:20%;">
					<label><input type="radio" onclick="Order.paymentChange(this)" formatmoney="<{$order.cur_def}><{$order.total_amount}>" curmoney="<{$order.cur_money}>" moneyamount="<{$order.total_amount}>"<{if $order.payinfo.pay_app_id == $item.app_id}> checked="checked"<{/if}> value="<{$item.app_id}>" paytype="<{$item.app_id}>" name="payment[pay_app_id]" class="x-payMethod" style="cursor: pointer;"><{$item.app_name}></label> 
				</th>
				<td class="ColColorBlue selected"><{$item.app_des}></td>
			</tr>
		<{/foreach}>
    </table>
  </div>
  <div class="division textcenter" style="margin:10px;">
    <input type="submit" class='actbtn btn-pay' value="立刻支付" />
  </div>
<{else}>
  <input type="hidden" name="payment[pay_app_id]" value="<{$order.payinfo.pay_app_id}>" />
  <div class="FormWrap ">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="liststyle data">
      <col class="span-6 ColColorBlue"></col>
      <col class="span-5 ColColorGray textcenter"></col>
      <col class="span-auto ColColorGray textcenter"></col>
      <tr>
        <td>
        <strong><{t}>共需支付:<{/t}></strong>
          <span class="hueorange fontcolorRed font20px"><{$order.total_amount-$order.payed|cur:$order.currency}></span>
        </td>
        <td>
          <{if $order.total_amount > $order.payed}>
            <{if $order.payinfo.pay_key=="OFFLINE"}>
              <strong><div class="customMessages">您选择了线下支付，请根据支付方式说明进行付款，付款后可通过网站信息联系我们。</div></strong>
            <{elseif $order.payinfo.pay_key==-1 || $order.payinfo.pay_key=="PAYAFT"}>
              <strong><div class="customMessages">货到付款</div></strong>
            <{else}>
              <{if $order.payinfo.pay_key=="DEPOSIT"}>
                <strong><{t}>您选择了预存款支付<{/t}></strong>
              <{/if}>
           <input type="submit" class='actbtn btn-pay' value="立刻支付" />
           <a class="lnk" href="<{link app=b2c ctl="site_order" act="detail" arg0=$order.order_id arg1='true'}>"><{t}>选择其他支付方式&raquo;<{/t}></a></div> 
            <{/if}>
           <{else}>
            订单不需要再支付,请等待我们处理
            <{/if}>
        </td>
      </tr>
    </table>
  </div>
<{/if}>
</form>

<script>
        void function(){
        var form= $('f_order_pay');
            Order ={
                
                paymentChange:function(target){
                         if(!target)return;
                         target = $(target);
                     var money  = target.get('moneyamount');
					 var cur_money = target.get('curmoney');
                     var fmoney = target.get('formatmoney');
                     var paytype= target.get('paytype');
                     
                     $('hidden_money').set('value',money);
                     $('hidden_cur_money').set('value',cur_money);
                     //$('span_amount').set('text',fmoney);
                     form.getElement('input[type=submit]').set('value',paytype!='offline'?'立即付款':'确定');
                     
                     form.getElement('input[type=submit]')[(paytype=='offline'?'addClass':'removeClass')]('btn-pay-ok');
                     /* $$('#_normal_payment th .ExtendCon input[type=radio]').fireEvent('checkedchange');*/
                }
            
            };
            
            if($E('#f_order_pay .select-paymethod')){
                Order.paymentChange($E('#f_order_pay .select-paymethod input[checked]'));
                
                if(form&&form.getElement('input[type=submit]')){
                    form.getElement('input[type=submit]').addEvent('click',function(e){
                        
                        if(!$E('#f_order_pay .select-paymethod input[checked]')){
                        MessageBox.error('请选择支付方式');
                        return e.stop();
                        }
                    
                    });
                }
            }
        }();
</script>