<div class='CartWrap'>
    <div class="CartNav clearfix">
    <div class="floatLeft">
    <img src="<{$res_url}>/cartnav-step4.gif" alt="购物流程--确认订单填写购物信息" />
    </div>
    <div class="floatRight"><img src="<{$res_url}>/cartnav-cart.gif"  /></div>
    </div>
</div>
<form id="f_order_pay" target="_blank" action="<{link app=b2c ctl='site_paycenter' act='dopayment' arg0='order'}>" method="post">
<input type="hidden" name="payment[order_id]" value="<{$order.order_id}>" />
<input type="hidden" name="payment[money]" value="<{$order.total_amount-$order.payed}>" id="hidden_money"/>
<input type="hidden" name="payment[currency]" value="<{$order.currency}>" />
<input type="hidden" name="payment[cur_money]" value="<{$order.cur_money}>" id="hidden_cur_money"/>
<input type="hidden" name="payment[cur_rate]" value="<{$order.cur_rate}>" />
<input type="hidden" name="payment[cur_def]" value="<{$order.cur_def}>" />
<input type="hidden" name="payment[cost_payment]" value="<{$order.payinfo.cost_payment}>" />
<input type="hidden" name="payment[cur_amount]" value="<{$order.cur_amount}>" />
<input type="hidden" name="payment[memo]" value="<{$order.memo}>" />
<!--<input type="hidden" name="payment[return_url]" value="<{$return_url}>" />-->

<div class="success clearfix pushdown-2">
   <h3>恭喜！您的订单已经提交！</h3>
 
</div>

<h3>订单信息</h3>
  <div class='ColColorBlue' style='padding:5px;border:1px #ccc solid;'>
      <span><{t}>订单编号：<{/t}></span><strong class='font14px'><{$order.order_id}></strong>&nbsp;&nbsp;[ <a href="<{link app=b2c ctl=site_order act=detail arg0=$order.order_id}>" >查看订单详细信息&raquo;</a> ]
  </div>
  <div class='division' style='padding:15px;'>
     <span><{t}>订单金额:<{/t}></span><strong class="hueorange fontcolorRed font20px" id="span_amount"><{$order.total_amount|cur_odr:$order.currency}></strong>
  </div>

<h3>订单支付</h3>
<{if $order.total_amount > $order.payed}>
  <div class='ColColorBlue' style='padding:5px;border:1px #ccc solid;'>
      <{if !$order.selecttype}>
        <{t}>您选择了：<{/t}><strong class="hueorange fontcolorRed font14px"><{$order.payinfo.pay_name}></strong>
         <a href='<{link app=b2c ctl="site_order" act="index" arg0=$order.order_id arg1='true'}>' >[ 选择其他支付方式 ]</a>
      <{else}>
         <{t}>请选择支付方式:<{/t}>
     <{/if}>
  </div>
  <{/if}>
  <div class='division' style="padding: 15px;">
  
  <{if $order.selecttype}>
    <div class='select-paymethod'>
        <{if $payments}>
        <table width="100%" cellspacing="0" cellpadding="0" id="_normal_payment" class="liststyle data"> 
            <col class="span-5 ColColorGray">
            <col class="span-auto">
            <tbody>
            <{foreach from=$payments item=item key=key}>
                <tr>
                    <th style="text-align: left;">
                        <label><input type="radio" onclick="Order.paymentChange(this)" formatmoney="<{$order.cur_def}><{$item.total_amount}>" curmoney="<{$item.cur_money}>" moneyamount="<{$item.total_amount}>"<{if $order.payinfo.pay_app_id == $item.app_id}> checked="checked"<{/if}> value="<{$item.app_id}>" paytype="<{$item.app_id}>" name="payment[pay_app_id]" class="x-payMethod" style="cursor: pointer;"><{$item.app_name}></label> 
                    </th>
                    <td class="ColColorBlue selected"><{$item.app_des}></td>
                </tr>
            <{/foreach}>
            </tbody>
        </table>
        <{/if}>
    </div>
  <div class="textcenter" style="padding:10px;">
   <input type="submit" class='actbtn btn-pay' value="立刻支付" />
  </div>
<{else}>
  <input type="hidden" name="payment[pay_app_id]" value="<{$order.payinfo.pay_app_id}>" />
  <{if $extendInfo}>
      <div class='division paymethodextendInfo'>
      <{foreach from=$extendInfo item=item key=key}>
        <{if $item.type=='select'}>
            <select name=<{$key}>>
                <{foreach from=$item.value item=vitem key=vkey}>
                    <option value="<{$vitem.value}>" <{if $vitem.checked}>selected<{/if}>><{$vitem.name}></option>
                <{/foreach}>
            </select>
        <{else}>
            <{foreach  from=$item.value item=vitem key=vkey}>
                <{if $item.type=='radio'}>
                    <input <{$vitem.checked}> type='radio' name=<{$key}> value=<{$vitem.value}>><{if $vitem.imgname}><{$vitem.imgname}><{else}><{$vitem.name}><{/if}></if>
                <{else if $item.type=='checkbox'}>
                    <input <{$vitem.checked}> type='checkbox' name="<{$key}>[]" value=<{$vitem.value}>><{if $vitem.imgname}><{$vitem.imgname}><{else}><{$vitem.name}><{/if}></if>
                <{/if}>
            <{/foreach}>
        <{/if}>
      <{/foreach}>
      </div>
  <{/if}>
  
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="50%">
          <{if $order.total_amount > $order.payed}>
             <{if $order.payinfo.pay_app_id=="offline" || $order.payinfo.pay_app_id ==-1}>
              <{if $order.payinfo.pay_app_id==-1}><div class="customMessages">货到付款</div><{else}>
              <div class="customMessages">您选择了线下支付，请根据支付方式说明进行付款，付款后可通过网站信息联系我们。</strong>
			  <{/if}>
            <{else}>
              <{if $order.payinfo.pay_app_id==-1}><div class="customMessages"><{t}>货到付款<{/t}></div><{else}>
              <{if $order.payinfo.pay_app_id=="deposit"}>
                <strong><{t}>您选择了预存款支付<{/t}></strong>
              <{else}>
                <div class="customMessages">
                    <{if $payments}>
                    <h3>本网站支持的在线支付方式：</h3>
                     （此为默认内容，具体内容可以在后台“页面管理-提示信息管理- 订单付款页(线上付款)提示信息”中修改）
                    <table width="100%" cellspacing="5" cellpadding="5" border="0" class="liststyle data">
                    <tbody>
                    <{foreach from=$payments item=item key=key}>
                        <{if $item.app_pay_type == 'true'}>
                        <tr>
                            <td><img src="<{$res_url}>/copyright_<{$item.app_id}>.gif"></td>
                            <td><{$item.app_info}></td>
                        </tr>
                        <{/if}>
                    <{/foreach}>
                    </tbody>
                    </table>
                    <{/if}>
                </div>
              <{/if}><{/if}>
            </td>
            </tr>
            <tr>
            <td>
			<{if $order.payinfo.pay_app_id != -1}>
            <input type="submit" class='actbtn btn-pay' value="立刻支付" />
			<{/if}>
            <{/if}>
          <{else}>
             订单不需要再支付,请等待我们处理
          <{/if}>
        </td>
      </tr>
    </table>

<{/if}>
  
  </div>


</form>

<script>
        void function(){
        var form= $('f_order_pay');
            Order ={
                
                paymentChange:function(target){
                         if(!target)return;
                         target = $(target);
                     var money  = target.get('moneyamount');
					 var cur_money = target.get('curmoney');
                     var fmoney = target.get('formatmoney');
                     var paytype= target.get('paytype');
                     
                     $('hidden_money').set('value',money);
                     $('hidden_cur_money').set('value',cur_money);
                     $('span_amount').set('text',fmoney);
                     form.getElement('input[type=submit]').set('value',paytype!='offline'?'立即付款':'确定');
                     
                     form.getElement('input[type=submit]')[(paytype=='offline'?'addClass':'removeClass')]('btn-pay-ok');
                     /* $$('#_normal_payment th .ExtendCon input[type=radio]').fireEvent('checkedchange');*/
                }
            
            };
            
            if($E('#f_order_pay .select-paymethod')){
                Order.paymentChange($E('#f_order_pay .select-paymethod input[checked]'));
                
                if(form&&form.getElement('input[type=submit]')){
                    form.getElement('input[type=submit]').addEvent('click',function(e){
                        
                        if(!$E('#f_order_pay .select-paymethod input[checked]')){
                        MessageBox.error('请选择支付方式');
                        return e.stop();
                        }
                    
                    });
                }
            }
        }();
</script>
