<form id='SelectPromotionRuleForm' method='post' action='index.php?ctl=sale/promotion&act=doSelectPromotionRule' class="tableform">
<div class="division">
  <table border="0" cellspacing="0" cellpadding="0" >
    <{foreach key=key from=$scheme.list item=item}>
    <tr>      
      <th style="width:10px;"><input type='radio' name='pmts_id' value='<{$key}>' <{if $key==$scheme.pmts_id}>checked='checked'<{/if}>></th>
      <td><{$item.name}></td>
    </tr>
    <{/foreach}>
  </table>
  
    </div><table border="0" align="center" cellpadding="0" cellspacing="0" class="tableAction">
    <tr>
      <td><b class="submitBtn" ><input type='submit' value='下一步' /></b></td>
      <td><b class="submitBtn" ><a  href="index.php?ctl=sale/activity&act=index"><{t}>取消<{/t}></a></b></td>
      </tr>
  </table>  
</form>  
