<{area inject='.mainHead'}>

 <div id='swf-uploader-container' style='height:150px;'>
  <h5 style="height:30px; text-align:center; line-height:30px" id='image-currentcount'>当前图库图片数量：<em  style='color:#ff3300;'><{$currentcount}></em></h5>
  <div class='table-action' style=" border:none">   
  <div class='division' style="margin:0">  
     <h5>批量上传图片</h5>
    <{button type="button" label="浏览本地图片文件" id='swf-uploader-btn'  icon='image_new.gif'}>
  </div>
 </div>

<div style="height:1px; line-height:1px; clear:both"> </div>
<{/area}>
<div class='division'>
<h5>本次上传的图片(<em style='color:#ff3300;'>0</em>张):</h5>
<div class='clearfix image-list' style="height:auto;overflow:hidden" id='swf-uploader-result-container' >
</div>
<div style="height:1px; clear:both"></div>
</div>
<script>
void function(){
   var cd = $('swf-uploader-result-container').getParent('.division').hide();
   new Swiff.Uploader( { 
            verbose: true,
            container:'swf-uploader-container',
            zIndex:65535,
            url:'index.php?app=image&ctl=admin_manage&act=image_swf_remote&sess_id=<{$ssid}>',
            path: '<{$env.app.res_url}>/uploader.swf',
            typeFilter: {
                'Images (*.jpg, *.jpeg, *.gif, *.png)': '*.jpg; *.jpeg; *.gif; *.png'
            },
            fileSizeMax:20000000,
            target:'swf-uploader-btn',
            onSelectFail:function(rs){
               rs.each(function(v){
                    if(v.validationError=='sizeLimitMax'){
                        alert(v.name+'\n\n文件超出大小限制');
                    };
                });			
            },
            onSelectSuccess:function(rs){
               	rs.each(function(v,i){
				    new Element('div',{'class':'span-auto','id':'uping-'+v.id,styles:{
                        width:45,
                        height:45,
                        border:'1px #ccc solid',
                        padding:1,
                        'line-height':45,
                        'text-align':'center',
                        marginBottom:10
                    }}).inject('swf-uploader-result-container');
			    });   
                 
                 this.start();                 
            },
            onFileOpen:function(e){			
                $('uping-'+e.id).setHTML('正在连接...');
            },
            onFileProgress:function(e){
		
                var pt=Number(e.progress.bytesLoaded*100/e.size).toFixed()+'%';  
                    $('uping-'+e.id).set('text',pt);
            },		
            onFileComplete: function(res){
               if(res.response.error){
                    return  new MessageBox('文件'+res.name+'上传失败',{type:'error',autohide:true});
                }
                $('uping-'+res.id).setHTML(res.response.text);
                
                $E('#image-currentcount em').set('text',$E('#image-currentcount em').get('text').toInt()+1);
                cd.getElement('h5 em').set('text',cd.getElement('h5 em').get('text').toInt()+1);
                if(!cd.isDisplay())cd.show();
            }
        });	

}();
  

</script>