
  <div class="image-lib">
	  <table width="100%" cellpadding="0" cellspacing="0">
		  <tr>
			  <{foreach from=$images item=image key=key}>
				<{if $key%5==0 && $key!=0 }>
				</tr>
				<tr>
				<{/if}>
			  <td valign='bottom'>
				  <img src="<{$image.image_id|storager:'s'}>" <{$image.size}> gid='<{$image.image_id}>'>
				  <ul class="image-lib-info">
					<li style='width:90px;'><a href='<{$image.image_id|storager}>' target='_blank'>大图</a></li>
				  </ul>
			  </td>
			  <{/foreach}>
		  </tr>

	  </table>
  </div>
<{$pagers}>