<div class="prepend-1">

  <form method='post' action='index.php?ctl=order/delivery&act=edit' target="{update:'delivery_info'}">
  <input type='hidden' name='delivery_id' value='<{$detail.delivery_id}>'>
  <div class="span-5"><label><{t}>发货单号：<{/t}></label><{$detail.delivery_id}></div>
  <div class="span-5"><label><{t}>订单号:<{/t}></label><{$detail.order_id}></div>
  <div class="span-5"><label><{t}>配送方式:<{/t}></label><{$detail.delivery}></div>
  <div class="span-5"><label><{t}>操作员:<{/t}></label><{$detail.op_name}></div>
  <div class="span-5"><label><{t}>会员:<{/t}></label><{$detail.member_id}></div>
<!--  <div class="span-5"><label><{t}>配送时间:<{/t}></label><{$detail.t_end|cdate:SDATE_STIME}></div>-->
  <div class="span-5"><label><{t}>收货人:<{/t}></label><{$detail.ship_name}></div>
 <div class="span-5"><label><{t}>收货地区:<{/t}></label><{$detail.ship_area|region}></div>
  <div class="span-5"><label><{t}>收货地址:<{/t}></label><{$detail.ship_addr}></div>
  <div class="span-5"><label><{t}>邮编:<{/t}></label><{$detail.ship_zip}></div>
  <div class="span-5"><label><{t}>电话:<{/t}></label><{$detail.ship_tel}></div>
  <div class="span-5"><label><{t}>手机:<{/t}></label><{$detail.ship_mobile}></div>
  <div class="span-5"><label><{t}>物流公司:<{/t}></label><{$detail.logi_name}></div>
  <div class="span-5"><label><{t}>物流费用:<{/t}></label><{$detail.money}></div>
  <div class="span-5"><label><{t}>物流单号:<{/t}></label><{$detail.logi_no}></div>
  <div class="span-5"><label><{t}>生成时间:<{/t}></label><{$detail.t_begin|cdate:SDATE_STIME}></div>
<{if count($items) > 0}>
 <hr class="space">
  <h4><{t}>发货明细:<{/t}></h4>
    <div class="division">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="finderInform">
       <colgroup class="Colsn"></colgroup>
      <colgroup class="Colname"></colgroup>
      <colgroup></colgroup>
      <colgroup class="Colamount" ></colgroup>
        <thead>
      <tr>
        <th><{t}>货号<{/t}></th>
        <th><{t}>发货内容<{/t}></th>
        <th><{t}>商品名称<{/t}></th>
        <th><{t}>发货量<{/t}></th>
      </tr>
            </thead><tbody>
<{foreach from=$items item=aProduct}>
    <tr>
     <td><{$aProduct.product_bn}></td>       
    <td><{if $aProduct.item_type == 'gift'}><{t}>赠品<{/t}><{else}><{t}>商品<{/t}><{/if}></td>

    <td><{$aProduct.product_name}></td>
    <td class="Colamount"><{$aProduct.number}></td>
    </tr>
<{/foreach}>
</tbody>
    </table></div>
<{/if}>
<table cellspacing="0" cellpadding="0" border="0" class="tableAction" style="margin:0;">
  <tr>
    <td><{t}>备注：<{/t}><{$detail.memo}></td>
  </tr>
</table>
  </form>
  </div>