<div class="orderInfo" id="comment_gask_<{$comment.comment_id}>" >
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="300px" style="vertical-align:top">
          <div class="tableform"><ul>
            <li>
              <label><{t}>咨询人：<{/t}></label>
              <{if $comment.author_id}><span class='lnk' onclick="new Dialog('index.php?ctl=order/order&act=memberInfo&p[0]=<{$comment.author_id}>',{modal:false,singlon:false,ajaksable:false})"><{$comment.author}> <{if $comment.levelname!=""}> [<{$comment.levelname}>]<{/if}></span><{else}><{$comment.author}> <{if $comment.levelname!=""}> [<{$comment.levelname}>]<{/if}><{/if}></li>
              <li class="amount">
              <label><{t}>咨询商品名称：<{/t}></label>
              <a href="<{$comment.url}>" target="_blank"><{$comment.goods_name}></a></li>
            <li >
              <label><{t}>联系方式：<{/t}></label>
             <a href="mailto:<{$comment.contact|escape:'html'}>" target="_self"><{$comment.contact|escape:'html'}></a></li>
            <li>
              <label><{t}>咨询时间：<{/t}></label>
              <{$comment.time|cdate:SDATE_STIME}></li>
            <li>
              <label><{t}>咨询人IP：<{/t}></label>
              <{$comment.ip}></li>
              
              <{foreach from=$tree item=contact name=contact}>
        
      <li>
         <label><{t}><{$contact.attr_name}>：<{/t}></label>
     <{if $contact.attr_tyname eq 'QQ' && $contact.value !=''}>
     <a target="_self" href="tencent://message/?uin=<{$contact.value}>&&Site=www.shopex.cn&&Menu=yes"><img border="0" SRC='http://wpa.qq.com/pa?p=1:<{$contact.value}>:1' title="<{$contact.value}>"></a>
      
      	
      
      <{/if}><{if $contact.attr_tyname eq 'MSN' && $contact.value !=''}>
      <a  target="_self" href="msnim:chat?contact=<{$contact.value}>"><img width="30" height="30" border="0" src="http://im.live.com/Messenger/IM/Images/Icons/Messenger.Logo.gif" title="<{$contact.value}>"/></a>
      
      
      <{/if}>
      <{if $contact.attr_tyname eq '旺旺' && $contact.value !=''}>
     <a target="_blank" href="http://amos1.taobao.com/msg.ww?v=2&uid=<{$contact.value}>&s=1" ><img border="0" src="http://amos1.taobao.com/online.ww?v=2&uid=<{$contact.value}>&s=1" title="<{$contact.value}>"/></a>
    
      <{/if}>
      
      <{if $contact.attr_tyname eq 'Skype' && $contact.value !=''}>
     <a href="skype:mengsajewel?call"  target="_self"onclick="return skypeCheck();"><img src="http://mystatus.skype.com/smallclassic/<{$contact.value}>" style="border: none;" alt="Call me!"title="<{$contact.value}>" /></a>
  
      <{/if}>
     
        
        </li>
    
        
        
        
        
        
        
        
        
        <{/foreach}>   
               
              
          </ul></div></td>
        <td class="OtherInfo">
        <div class="tableform">
        <h5><{t}>咨询内容：<{/t}><span>[<a href="index.php?ctl=member/gask&act=toDisplay&p[0]=<{$comment.comment_id}>&p[1]=<{$comment.display}>"><{if $comment.display=='true'}><{t}>关闭显示<{/t}><{else}><{t}>显示到商品页<{/t}><{/if}></a>] [<a href="index.php?ctl=member/gask&act=delete&comment_id[]=<{$comment.comment_id}>" target="{update:'main'}"><{t}>删除<{/t}></a>]</span></h5>
            <div class="division">
              <h5><{$comment.title|escape:'html'}></h5>
              <{$comment.comment|escape:'html'}> </div>
        </div>
        <{if count($reply) > 0}>
        <div class="tableform"> 
            <{foreach from=$reply item=items}>
            <h5><{$items.author}><{if $items.levelname!=""}> [<{$items.levelname}>]<{/if}><{t}>于<{/t}><b class="assis">[<{$items.time|cdate:SDATE_STIME}>]</b><{t}>回复：<{/t}><span>[<a href="index.php?ctl=member/gask&act=toDisplay&p[0]=<{$items.comment_id}>&p[1]=<{$items.display}>&p[2]=<{$comment.comment_id}>"><{if $items.display=='true'}><{t}>关闭显示<{/t}><{else}><{t}>显示到商品页<{/t}><{/if}></a>] [<a href="index.php?ctl=member/gask&act=delete&comment_id[]=<{$items.comment_id}>&f_id=<{$comment.comment_id}>"><{t}>删除<{/t}></a>]</span></h5>
            <div class="division"><{$items.comment}></div>
            <{/foreach}> </div>
        <{/if}>
        <div class="tableform"><div class="division"><h5><{t}>回复用户咨询：<{/t}></h5>
        <{input type="textarea" name="reply_content" cols=100 rows=7}></div><table border="0" cellpadding="0" cellspacing="0" class="tableAction">
   <tr>
    <td><b class="submitBtn" ><input type="button" onclick="W.page('index.php?ctl=member/gask&act=toReply&p[0]=<{$comment.comment_id}>', {data:$('comment_gask_<{$comment.comment_id}>'),method:'post'}, this)" value="立即回复"></b></td>
  </tr>
</table></div>

        

         </td>
      </tr>
    </table>
</div>
