<form method="post" action="index.php?ctl=member/gask&act=toSetting&p[0]=<{$comment.comment_id}>">
  <div class="tableform">
    <h4><{t}>显示条数设置（商品评论/购买咨询共用此设置）<{/t}></h4>
    <div class="division">
      <table>
        <tr>
          <th><{t}>商品详细页显示：<{/t}></th>
          <td><{input type="digits" maxlength="3" style="width:50px" size=5 required="true" name="indexnum" value=$setting.index}> <{t}>条<{/t}></td>
        </tr>
        <tr>
          <th><{t}>评论/购买页显示：<{/t}></th>
          <td><{input type="digits" maxlength="3" style="width:50px" size=5  required="true" name="listnum" value=$setting.list}> <{t}>条/页<{/t}></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="tableform">
    <h4><{t}>其他设置：<{/t}></h4>
    <div class="division">
      <table width="100%" cellspacing="0" cellpadding="2" border="0">
        <tr>
          <th><{t}>是否开启咨询功能：<{/t}></th>
          <td><{html_radios name="switch[ask]" options=$setting.aSwitch.ask checked=$setting.switch.ask separator=""}></td>
        </tr>
        <tr>
          <th><{t}>发表咨询权限：<{/t}></th>
          <td><{html_radios name="power[ask]" options=$setting.aPower.ask checked=$setting.power.ask separator=""}><br /></td>
        </tr>
        <tr>
          <th><{t}>无咨询时缺省文字：<{/t}></th>
          <td><{input type="input" name="null_notice[ask]" style="width:360px" size=30 value=$setting.null_notice.ask}></td>
        </tr>
        <tr>
          <th><{t}>发表时需输入验证码：<{/t}></th>
          <td><{html_radios name="verifyCode[ask]" options=$setting.verifyLCode.ask checked=$setting.verifyCode.ask separator=""}></td>
       </tr>
      </table>
    </div>
    <div class="division">
      <table width="100%" cellspacing="0" cellpadding="2" border="0">
    <tr>
    <th><{t}>显示条件：<{/t}></th>
      <td>
        <input type="radio" name="display[ask]"<{if $setting.display.ask == 'reply'}> checked=checked<{/if}> value="reply">管理员回复后显示 
      </td>
  </tr>
    <tr>
    <th>&nbsp;</th>
      <td class="intro">发表成功提示文字 <{input type="input" name="submit_hidden_notice[ask]" style="width:360px" size=30 value=$setting.submit_hidden_notice.ask}>
      </td>
  </tr>    
    <tr>
    <th>&nbsp;</th>
      <td>
        <input type="radio" name="display[ask]"<{if $setting.display.ask == 'soon'}> checked=checked<{/if}> value="soon">用户发表后立即显示 
      </td>
  </tr>
  <tr>
         <th>&nbsp;</th>
      <td class="intro">发表成功提示文字 <{input type="input" name="submit_display_notice[ask]" size=30  style="width:360px" value=$setting.submit_display_notice.ask}>
      </td>
    </tr>
      </table>
    </div>
  </div>
  <table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
    <tr>
      <td><b class="submitBtn">
        <input type="submit" value="保存">
        </b></td>
    </tr>
  </table>
</form>
