<script>
top.Splash.go("<{$jumpto}>",<{$wait}>*1000,{method:'post',data:'a=b'});
</script>
<div style="width:400px;padding:20px;margin:0 auto;position:relative" class="error" id='failedSplash'>
  <h4><{$msg}></h4>
  <div style="clear:both;margin-top:30px">    
    <p>
      <{assign var="id" value=$smarty.now}>
      <td><a id="splash-<{$id}>" href="<{$jumpto}>"><{$wait}><{t}>秒后系统会自动跳转，也可点击本处<{/t}></a></p></td>
    </p>
    <{if count($errinfo)>0}>
    <ul>
    <{foreach from=$error_info item=item}>
      <li>[<{$item[0]}>]<{$item[1]}>
        <{if $debug_code}>
        (<{$item[2]}>:<{$item[3]}>)
        <{/if}>
      </li>
    <{/foreach}>
    </ul>
    <{/if}>
  </div>
</div>
