<div class="top_settings_block">
	<div class="ordered_block">
		__sort_block__
		&nbsp;
		<input type="checkbox" __photo_checked__ name="photos_only" value="on" onclick="oBrowsePage.LocationChange(this, '__photo_location__')" />
		__photo_caption__
		&nbsp;
		<input type="checkbox" __online_checked__ name="online_only" value="on" onclick="oBrowsePage.LocationChange(this, '__online_location__')"/>
		__online_caption__
	</div>
	<div class="per_page_block">
		__per_page_block__
	</div>
	<div class="clear_both"></div>
</div>
<div class="search_container">
	__searched_data__
</div>
__pagination__