<script type="text/javascript">
    var oCommunicatorPage = new CommunicatorPage();
    oCommunicatorPage.sPageReceiver     = '__current_page__?ajax_mode=true';
    oCommunicatorPage.sCommunicatorMode = '__communicator_mode__';
    oCommunicatorPage.sPersonMode       = '__communicator_person_mode__';
    oCommunicatorPage.sErrorMessage     = '__error_message__';
    oCommunicatorPage.sSureCaption      = '__sure_message__';
</script>
<div id="rows_content">
    <div class="top_settings_block">
        __settings__
        <div class="right_section">__per_page_block__</div>
        <div class="clear_both"></div>
    </div>
    __page_content__
</div>