
<div class="bx_sys_file_upload_wrapper">

    <div class="bx_sys_file_upload_line">

        <div class="input_wrapper input_wrapper_file">
            <input class="form_input_file" type="file" name="__file__[]" size="18" />
            <div class="input_close input_close_file"></div>
        </div>
        <img src="<bx_icon_url:action_fave.png />" title="Add" alt="Add" class="multiply_add_button" onclick="$(this).parent().parent().append($(this).parent().clone().find('img.multiply_add_button').remove().end().find('img.multiply_remove_button').show().end().hide()).find('.bx_sys_file_upload_line').slideDown();" />
        <img src="<bx_icon_url:action_block.png />" title="Remove" alt="Remove" class="multiply_remove_button" onclick="var $this = this; $(this).parent().slideUp(function () { $($this).parent().remove(); });" style="display:none;" />
        <div class="clear_both"></div>
        <div class="bx_sys_file_upload_title">        
            __file_upload_title__
        </div>
        <div class="input_wrapper input_wrapper_text">
            <input class="form_input_text" type="text" name="__title__[]"/>
            <div class="input_close input_close_text"></div>
        </div>
        <div class="clear_both"></div>

        <bx_if:price>
            <div class="bx_sys_file_upload_title">
                __file_price_title__
            </div>    
            <div class="input_wrapper input_wrapper_text">
                <input class="form_input_text" type="text" name="__price__[]"/>
                <div class="input_close input_close_text"></div>
            </div>
            <div class="clear_both"></div>
        </bx_if:price>

        <bx_if:privacy>
            <div class="bx_sys_file_upload_title">
                __file_permission_title__
            </div>    
            __select__
            <div class="clear_both"></div>
        </bx_if:privacy>

        <div class="clear_both"></div>

    </div>

</div>
