<div class="sys_tm_actions">
	<div class="input_wrapper input_wrapper_input_set">
		<div class="button_wrapper" style="margin-right: 14px">
			<input class="form_input_submit bigJoinButton submit" type="button" value="<bx_text:_Join />" name="join" onclick="window.open ('<bx_url_root />join.php','_self');" />
			<div class="button_wrapper_close">&nbsp;</div>
		</div><div class="button_wrapper">
			<input class="form_input_submit bigLoginButton submit" type="button" value="<bx_text:_Login />" name="login" onclick="showPopupLoginForm(); return false;" />
			<div class="button_wrapper_close">&nbsp;</div>
		</div>
	</div>
</div>