<table cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td class="lt"><img src="<bx_image_url:notify_tl.png />" width="19" height="16" /></td>
            <td class="mt" style="background-image:url(<bx_image_url:notify_tm.png />)"><img src="<bx_image_url:spacer.gif />" width="1" height="1"/></td>
            <td class="rt"><img src="<bx_image_url:notify_tr.png />" width="19" height="16" /></td>
        </tr>
        <tr>
            <td class="l" style="background-image:url(<bx_image_url:notify_l.png />)"><img src="<bx_image_url:spacer.gif />" width="1" height="1" /></td>
            <td class="m" style="background-image:url(<bx_image_url:notify_m.png />)"><div class="bubble_count">__message__</div></td>
            <td class="r" style="background-image:url(<bx_image_url:notify_r.png />)"><img src="<bx_image_url:spacer.gif />" width="1" height="1" /></td>
        </tr>
         <tr>
            <td class="lb"><img src="<bx_image_url:notify_bl.png />" width="19" height="16" /></td>
            <td class="mb" style="background-image:url(<bx_image_url:notify_bm.png />)"><img src="<bx_image_url:spacer.gif />" width="1" height="1" /></td>
            <td class="rb"><img src="<bx_image_url:notify_br.png />" width="19" height="16" /></td>
        </tr>
    </tbody>
</table>