<table cellpadding="0" cellspacing="0" class="description">
    <tbody>
        <tr>
            <td class="left_top_corner" valign="top"><img src="<bx_image_url:member_menu_desc_tl.png />" width="19" height="15" /></td>
            <td class="top_middle" style="background-image:url(<bx_image_url:member_menu_desc_tm.png />)"><img src="<bx_icon_url:spacer.gif />" width="1" height="1" /></td>
            <td class="right_top_corner" valign="top"><img src="<bx_image_url:member_menu_desc_tr.png />" width="19" height="15" /></td>
        </tr>
        <tr>
            <td class="left" style="background-image:url(<bx_image_url:member_menu_desc_l.png />)"><img src="<bx_icon_url:spacer.gif />" width="1" height="1" /></td>
            <td class="middle">__description__</td>
            <td class="right" style="background-image:url(<bx_image_url:member_menu_desc_r.png />)"><img src="<bx_icon_url:spacer.gif />" width="1" height="1" /></td>
        </tr>
        <tr>
            <td class="left_bottom_corner" valign="top"><img src="<bx_image_url:member_menu_desc_bl.png />" width="19" height="29" /></td>
            <td class="bottom_middle"  valign="top" style="background-image:url(<bx_image_url:member_menu_desc_bm.png />)"><img src="<bx_icon_url:spacer.gif />" width="1" height="1" /></td>
            <td class="right_bottom_corner" valign="top"><img src="<bx_image_url:member_menu_desc_br.png />" width="19" height="29" /></td>
        </tr>
    </tbody>
</table>
