<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>__page_header__</title>
		<base href="<bx_url_root />" />
		<meta http-equiv="Content-Type" content="text/html; charset=__page_charset__" />
		<bx_include_css />
        <script src="inc/js/functions.js" type="text/javascript" language="javascript"></script>
        <script src="plugins/jquery/jquery.js" type="text/javascript" language="javascript"></script>
        <bx_injection:injection_head />
	</head>
	<body>
		<div class="bx_sys_default_padding">
			<div class="disignBoxFirst">
				<div class="boxFirstHeader">__page_header__</div>
				<div class="boxContent">__page_code__</div>
			</div>
		</div>
	</body>
</html>
