<div class="TransBox">
	<table class="TransBox" cellpadding="0" cellspacing="0">
		<tr>
			<td class="corner"><img
				src="<bx_image_url:op_cor_tl.png />"
				alt="" /></td>
			<td class="top_side"><img
				src="<bx_image_url:spacer.gif />" alt="" /></td>
			<td class="corner"><img
				src="<bx_image_url:op_cor_tr.png />"
				alt="" /></td>
		</tr>
		<tr>
			<td class="left_side"><img
				src="<bx_image_url:spacer.gif />" alt="" /></td>
			<td class="msgbox_content">
                __content__
			</td>
			<td class="right_side"><img
				src="<bx_image_url:spacer.gif />" alt="" /></td>
		</tr>
		<tr>
			<td class="corner"><img
				src="<bx_image_url:op_cor_bl.png />"
				alt="" /></td>
			<td class="bottom_side"><img
				src="<bx_image_url:spacer.gif />" alt="" /></td>
			<td class="corner"><img
				src="<bx_image_url:op_cor_br.png />"
				alt="" /></td>
		</tr>
	</table>
</div>