<div style="padding:10px">
    
    <div class="note">
    对于不同地区，如中国大陆、台湾、香港或者美国等不同的国家地区，软件在语言、会员注册地区、购物流程、订单处理机制等各方面都会有着一些差异。为了解决此问题，ShopEx软件引入本地化这个管理概念，不同地区商家只要使用相应的本地化插件，就会得到一套符合当地情况的设置方案。ShopEx本地化默认包含"中国地区"方案。
    </div>
  <div class="location" style=" display:block; background:none; padding:0">
    <span id="locationMore" style="background:none; border:0"><a  href="http://click.shopex.cn/free_click.php?id=27" style="margin-top:5px;" target="_blank">查看更多区域设置</a> </span>  
    
        <{tabber}>

        <{foreach from=$packages item=item key=key}>
            <{tab name=$item.name}>


           <div class="division">
            <{if $key eq $using_local}>
            <form method="post" action="index.php?ctl=system/location&act=save_depth">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>地区设置：</th>
    <td><select name="area_depth">
                <option value="1">使用一级地区</option>
                <{if $item.maxdepth>1}><option value="2" <{if $area_depth eq 2}>selected="selected"<{/if}>>使用二级地区</option><{/if}>
                <{if $item.maxdepth>2}><option value="3" <{if $area_depth eq 3}>selected="selected"<{/if}>>使用三级地区</option><{/if}>
                <{if $item.maxdepth>3}><option value="4" <{if $area_depth eq 4}>selected="selected"<{/if}>>使用四级地区</option><{/if}>
                <{if $item.maxdepth>4}><option value="5" <{if $area_depth eq 5}>selected="selected"<{/if}>>使用五级地区</option><{/if}>
                <{if $item.maxdepth>5}><option value="6" <{if $area_depth eq 6}>selected="selected"<{/if}>>使用六级地区</option><{/if}>
                <{if $item.maxdepth>6}><option value="7" <{if $area_depth eq 7}>selected="selected"<{/if}>>使用七级地区</option><{/if}>
                <{if $item.maxdepth>7}><option value="8" <{if $area_depth eq 8}>selected="selected"<{/if}>>使用八级地区</option><{/if}>
                <{if $item.maxdepth>8}><option value="9" <{if $area_depth eq 9}>selected="selected"<{/if}>>使用九级地区</option><{/if}>
                <{if $item.maxdepth>9}><option value="10" <{if $area_depth eq 10}>selected="selected"<{/if}>>使用十级地区</option><{/if}>
            </select> <{$item.desc}></td>
  </tr> 
  <tr>             
    <th>&nbsp;</th>
    <td><b class="submitBtn"><input type="submit" value="保存" onclick="return confirm('更改地区后系统已经存在的地区数据将按照您更改后的设置显示，确认更改地区吗？')"></b></td>            
  </tr>
</table>
            </form></div>
                <{if $item.name=="中国地区"}>
                <div class="division">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th>数据恢复：</th>
    <td>恢复地区初始数据为 [中国地区]</td>
  </tr> 
  <tr>             
    <th>&nbsp;</th>
    <td>
       <b class="submitBtn">
          <a style="color:#fff;" href="index.php?ctl=system/location&act=setDefault&p[0]=<{$key}>" target='_blank' onclick='new Event(event).stop();if(!confirm("恢复后现在的地区信息将会完全被覆盖，确定要恢复吗？"))return false;this.innerHTML="恢复中...";W.page(this.href);'>
               <span style='display:block;width:90px;height:100%'>恢复初始数据</span>
          </a>
        </b>
    </td>            
  </tr>
</table>
                <{/if}>
            <{else}>
            <a class="sysiconBtnNoIcon" href="index.php?ctl=system/location&act=install&p[0]=<{$key}>" onclick="this.innerHTML='加载中,请稍等...'" >加载使用</a> 
            <{/if}>
          
  </div>             


            <{/tab}>
        <{/foreach}>
            

    <{/tabber}>
  
    
   
   
  </div>

<script>
   $E('.handles').grab($('locationMore'),'bottom');
</script>


</div>