<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">


<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

		<title>Help Request System</title>

		<link href="templates/admin/admin.css" type="text/css" rel="stylesheet">
		<link href="style.css" type="text/css" rel="stylesheet">
	</head>


	<style>
		
		.AdminTop{
			width: 770px;
			height: 46px;
			vertical-align: top;
			background: url('images/admin_top.png');
			text-align: right;
			font-family: arial;
			font-size: 18px;
			padding-right: 10;
			padding-top: 15;
		}
		.AdminTDSmall{
			font-size:9px;
		}
	</style>

	<body>
		<script src="templates/admin/admin.js"></script>
		<script src="templates/admin/layout.js"></script>
		<script src="templates/admin/common.js"></script>
		<table width="780" cellspacing=5 cellpadding=0>
			<tr>
				<td colspan="2" class="AdminTop">Help Request System</td>
			</tr>

			<tr>
				<td valign="top">

					<script>AdminMenuBox(1)</script>
						<div class="AdminTDSmall">
							powered by <a href="http://freehelpdesk.org/?ver=1.1" target="_blank">freehelpdesk.org</a>
						</div>
					<script>AdminMenuBox(2)</script>

								{MENU}		

				</td>
				<td valign="top">
					{PB_EVENTS}
				</td>
			</tr>
				
		</table>

		
	</body>
</html>
