
<form method="POST" id='newmember-edit-form' action="index.php?app=svhost&ctl=admin_vhostlist&act=add" class="tableform">
<div class="division">
<table width="100%" >
    <tr><th><em class="red">*</em><{t}>域名：<{/t}></th><td>
        <{input type="text" name="domain"  size="20" vtype="required"}></td></tr>
    <tr><th><em class="red">*</em><{t}>服务器：<{/t}></th><td>
        <{input type="select" name=$server.name options=$server.options  required=true }></td></tr>
</table>

</div>
</form>
<{area inject='.mainFoot'}>


<div class="table-action"><{button type="submit"  label="保存" id='newmember-edit-form-submit'}></div>


<{/area}>


<script>
(function(){
	var _form = $('newmember-edit-form');
	var btn =$('newmember-edit-form-submit');
	var finder = finderGroup['<{$env.get.finder_id}>'];
	
	_form.store('target',{
		onComplete:function(){			
			
		},
		onSuccess:function(response){
			var hash_res_obj = JSON.decode(response);
			if (hash_res_obj.success != undefined && hash_res_obj.success != "")
			{
				try{
					var _dialogIns = btn.getParent('.dialog').retrieve('instance');
				}catch(e){}
				
				if(_dialogIns)
				{
					_dialogIns.close();
					finder.refresh.delay(400,finder);
				}
			}
			else
			{
				//alert(hash_res_obj.error);
			}			
		}
	});

	    btn.addEvent('click',function(){
		
		    _form.fireEvent('submit',{stop:$empty});
			
		
		
		});
	
})();
	
	
</script>


