<div class="gridlist-footer finder-footer clearfix" id="finder-footer-<{$name}>">
	<div id="finder-pager-<{$name}>">
		<{$pager}>
	</div>
</div>
<{if $env.get.dialog && $env.get.nobuttion!=1}>
<div class='finder-submit-btn '>
    <table cellspacing="0" cellpadding="0" class="table-action">
          <tbody>
             <tr valign="middle">
                    <td>
                        <{button label="确  定" class="btn-primary dialogBtn" onclick=""}>
                        <{button label="关  闭" class="btn-secondary close" onclick="if(confirm('确定退出?'))window.close()"}>
                    </td>
                </tr>
         </tbody>
     </table>
 </div>
<{/if}>