<table width="100%">
    <tr>
        <td width="70%">
           <div class="span-4" dropmenu="finder-pagesel-<{$name}>" id="finder-pageset-<{$name}>" style="cursor:pointer">
              每页最多显示：<em><{$plimit}></em>条 <{img src="bundle/arrow-up.gif"}>
           </div>
           <div class="span-4">
            跳转到第 <input type="text" style="width:20px; padding:0;" value="" id='finder-jumpinput-<{$name}>'/> 页  
           </div>
           <div id="finder-pagesel-<{$name}>" class="x-drop-menu" style="display:none">
            <{$plimit_sel}>
           </div>
           <div class="span-auto">
              <{$pager}>
           </div>
       </td>
        <td class="t-r" width="30%"><{if $to>2}>当前页:<{$from|default:1}>-<{$to}>条, <{/if}>共<em><{$pinfo.count}></em>条记录</td>
    </tr>
</table>

<script>
   new DropMenu($('finder-pageset-<{$name}>'),{offset:{y:-100}});
   (function(){
       var ipt=$('finder-jumpinput-<{$name}>');
       var keyCodeFix=[13,48,49,50,51,52,53,54,55,56,57,96,97,98,99,100,101,102,103,104,105,8,9,46,37,39];

       ipt.addEvent('keydown',function(e){
                            if(!keyCodeFix.contains(e.code)){e.stop();}
                            if(e.key=="enter"){<{$var_name}>.page(ipt.value);};                     
                   });

       })();
</script>