<meta http-equiv="content-type" content="text/html; charset=utf-8">
<title><{$TITLE}></title>
<meta name="keywords" content="<{$KEYWORDS}>" />
<meta name="description" content="<{$DESCRIPTION}>" />
<{if $NOFOLLOW eq '是'}><meta name="nofollow" content="nofollow" /><{/if}>
<{if $NOINDEX eq '是'}><meta name="noindex" content="noindex" /><{/if}>
<{$headers|replace:"\n":' '}>
<link rel="icon" href="<{$env.app.res_url}>favicon.ico" type="image/x-icon" />
<link rel="bookmark" href="<{$env.app.res_url}>favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="<{$env.app.res_url}>/shop.css" type="text/css" />
<link rel="stylesheet" href="<{$env.app.res_url}>/widgets.css" type="text/css" />

<script type="text/javascript">
var Shop = <{$shopDefine}>;
</script>
<{script app=site src='formplus.js'}>
<script>
<{if $theme_color_href}>
   window.addEvent('domready',function(){

       new Element('link',{href:'<{$theme_color_href}>',type:'text/css',rel:'stylesheet'}).injectBottom(document.head);

   });
<{/if}>

</script>
<{$scriptplus}>




