.more a     { text-indent:-9999px; display:block;float:right;width:50px; height:25px; background:url(viewmore.gif)  no-repeat}

/*==============================================================================================
用户登录框
=============================================================================================*/

.IndexLoginWrap input.userinput{ width:80px;}
.IndexLoginWrap label{ width:40px;}

/*==============================================================================================
商品分类
=============================================================================================*/

/*商品分类默认方式(最普通)*/
/*-------------------------------------------------------------------------------------------*/
.c-cat-depth-1 ul{ padding-left:10px;}
.c-cat-depth-2 a{ display:inline;}

/*商品分类弹出式*/
/*-------------------------------------------------------------------------------------------*/
.s-cat-depth-1 ul{ padding-left:15px;}
.s-cat-depth-1 .s-cat-dropdown { padding:0 5px ;}


.SearchBar table{
	margin:0 auto;
}
.SearchBar table td {
  padding:0 5px;
vertical-align:middle
}
.SearchBar .keywords{
width:120px;
}
.SearchBar .gprice_from,
.SearchBar .gprice_to
{width:36px;}

/*商品分类折叠式*/
/*-------------------------------------------------------------------------------------------*/
li.e-cat-depth-1{ border-bottom:1px solid #efefef; padding:3px 0;}
.e-cat-depth-1 .symbols,
.e-cat-depth-2 .symbols,
.e-cat-depth-3 .symbols{cursor:pointer; display:block;float:left;text-align:center;margin-right:2px; width:14px; height:14px; border:1px solid #ddd; line-height:15px; margin-top:2px;}
.e-cat-depth-1 ul{ padding-left:15px;}
.nosymbols{padding-left:15px;}

/*==============================================================================================
标签样式
=============================================================================================*/
.GoodsList-Tabs,
.Article-Tabs			  {  background:#efefef;overflow:auto;	zoom:1;	padding:5px 10px 0 10px; margin-bottom:10px; border:0; }
.GoodsList-Tabs div,
.Article-Tabs div		  {	float:left;	padding:2px 9px;	cursor:pointer;}
.GoodsList-Tabs .current,
.Article-Tabs .current	  {color:#205687; background:#fff;}
.GoodsList-Tabs img,
.ArticleList img 		  {	margin-right: 4px;}


/*==============================================================================================
销售排行的样式
=============================================================================================*/
.RankingList{}
.RankingList .pic{	text-align:center;}
.RankingList li{	width:99%;}
.RankingList li span{	font-size:9px;	font-family:Arial, Helvetica, sans-serif; float:left; display:block; width:15px; height:15px; text-align:center;background:#ccc; color:#000; margin:2px 0;}

/*==============================================================================================
帮助中心
=============================================================================================*/
#helpcenter .TreeList{
	padding:0 5px;
}
#helpcenter .TreeList .cat1 a{
	font-size:12px;
	font-weight:700;
	color:#666666;
}
#helpcenter .TreeList .cat2{
}