<bx_include_auto:_header.html />

    <bx_injection:banner_left />
    <bx_injection:banner_right />
    __extra_top_menu__
    <div class="sys_main_logo">
		<div class="sys_ml" style="width:__main_div_width__;">
            <div class="sys_ml_wrapper">
                <bx_injection:injection_logo_before />
    			__main_logo__
    			<bx_injection:injection_logo_after />
            </div>
		</div>
		<bx_injection:banner_top />
	</div>
	<bx_injection:injection_between_logo_top_menu />
	<div class="sys_top_menu">
        <bx_injection:injection_top_menu_before />
        __top_menu__
        <bx_injection:injection_top_menu_after />		
		<div class="clear_both">&nbsp;</div>
	</div>
	<bx_injection:injection_between_top_menu_breadcrumb />
	<div class="sys_breadcrumb">
	   <div class="sys_bc_wrapper" style="width:__main_div_width__;">
            <bx_injection:injection_breadcrumb_before />	  
            __top_menu_breadcrumb__
            <bx_injection:injection_breadcrumb_after />
            <div class="clear_both">&nbsp;</div>
        </div>
    </div>
	<bx_injection:injection_between_breadcrumb_content />
	<!-- end of top -->
	
	<bx_injection:injection_content_before />
	<div class="main" style="border:0px; width:__main_div_width__;">
        <!-- body -->
        <bx_injection:injection_content_before />
        
  <!--[if lt IE 7]>
  <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative; margin-bottom: 10px;'>
    <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
    <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
      <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
      <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
        <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'><bx_text:_sys_outdated_browser /></div>
        <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'><bx_text:_sys_outdated_browser_explain /></div>
      </div>
      <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
      <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
      <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
      <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
    </div>
  </div>
  <![endif]-->