<div class="content">
    <table>
        <tbody>
            <tr>
                <bx_if:item_img>
                <td class="sub_item_img" style="border-width:0px;">
                    <img src="__item_img_src__" alt="__item_img_alt__" width="__item_img_width__" height="__item_img_height__" />
                </td>
                </bx_if:item_img>
                <td style="border-width:0px;">
                    <a href="__item_link__" __item_onclick__>__item_title__</a> __extra_info__
                </td>
            </tr>
        </tbody>
    </table>
</div>