			<div class="subMenu" id="subMenu___submenu_id__" style="display:__display_value__">
				<div class="subMenuOvr">

						<table class="subMenuInfoKeeper" cellspacing="0" cellpadding="0">
							<tr>
								<td>
									__picture__
								</td>
								<td class="sys_page_header">
									__sub_caption__
								</td>
								<td style="width:90%;">
								    <div class="sys_tm_title_addon">
    									__profile_status__
    									__login_section__
    									<div class="clear_both"></div>
									</div>									
								</td>
								<td style="width:10px;"></td>
							</tr>
						</table>

					__profile_actions__
					<bx_injection:injection_title_zone />
					<div class="clear_both"></div>