
<div class="pageable_items">

            <div class="paginate_btn notactive" style="background-image: url(<bx_icon_url:sys_pgt_prev.png />);">
                <a onclick="__prev_onclick__" title="__prev_title__" href="__prev_href__"><img alt="__prev_title__" src="<bx_icon_url:spacer.gif />" /></a>
            </div>

            <div class="pageable_items_content" id="__content_id__">
                __content__
            </div>

            <div class="paginate_btn" style="background-image: url(<bx_icon_url:sys_pgt_next.png />);">
                <a onclick="__next_onclick__" title="__next_title__" href="__next_href__"><img alt="__next_title__" src="<bx_icon_url:spacer.gif />" /></a>
            </div>

</div>

