<{if $flow}>
<dl id="message">
<{foreach from=$flow item=item}>
	<dt m="<{$item.flow_id}>" <{if $item.unread=="false"}> class="read"<{/if}>>
		<i <{if $item.has_star=="true"}> class="starred"<{/if}>>&nbsp;</i>
		<b>
			<{$item.subject}><div><{$item.flow_desc|default:"-"}></div>
		</b>
		<dd></dd>
	</dt>
<{/foreach}>
</dl>


	<{if $env.get.menu=='unread'}>
		<form action="index.php?<{$env.server.QUERY_STRING}>" method="POST" style="padding:5px;text-align:center;">
			<input type="submit" value="标记这些为已读" />
		</form>
	<{else}>
		<button>后20条</button> | <button>前20条</button>
	<{/if}>
	<script>
	$ES('dt','message').addEvent('click',flow.message.onClick);
	</script>

<{else}>
	<p class="notice">暂无事项。</p>
<{/if}>