订单状态操作:
<!--<input type="button" onclick="OrderMgr.act.confirm(this)" value="确认"<{if $order.confirm == 'Y' OR $order.status != 'active'}>class="btndisabled" disabled="disabled"<{/if}> />-->

<input type="button" value="支付<{if $order.flow.payed}>...<{/if}>" <{if ($order.pay_status==1 || $order.pay_status==2 || $order.pay_status==4 || $order.pay_status==5) or $order.status != 'active'}> disabled="disabled"<{/if}> onclick="OrderMgr.act.run('<{if $order.flow.payed}>showPayed<{else}>toPayed<{/if}>', this, '<{$order.flow.payed}>')" />

<input type="button"  value="退款<{if $order.flow.refund}>...<{/if}>" <{if ($order.pay_status==0 || $order.pay_status==5) or $order.status != 'active'}> disabled="disabled"<{/if}> onclick="OrderMgr.act.run('<{if $order.flow.refund}>showRefund<{else}>toRefund<{/if}>', this, '<{$order.flow.refund}>')" />

<input type="button"  value="发货<{if $order.flow.consign}>...<{/if}>" <{if $order.ship_status == 1 || $order.status != 'active'}> disabled="disabled"<{/if}> onclick="OrderMgr.act.run('<{if $order.flow.consign}>showConsignFlow<{else}>toDelivery<{/if}>', this, '<{$order.flow.consign}>')" />

<input type="button"  value="退货<{if $order.flow.reship}>...<{/if}>" <{if ($order.ship_status==4 || $order.ship_status==0) or $order.status != 'active'}> disabled="disabled"<{/if}> onclick="OrderMgr.act.run('<{if $order.flow.reship}>showReturn<{else}>toReturn<{/if}>', this, '<{$order.flow.reship}>')" />
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
<input type="button"   value="完成" <{if $order.status != 'active'}> disabled="disabled"  <{else}> onclick="if(confirm('完成操作 会将该订单归档并且不允许再做任何操作，确认要执行吗？')) OrderMgr.act.run('archive', this);"<{/if}> />

<input type="button"  value="作废" <{if $order.pay_status > 0 || $order.ship_status > 0 || $order.status != 'active'}> disabled="disabled" <{else}> onclick="if(confirm('作废后该订单何将不允许再做任何操作，确认要执行吗？'))  OrderMgr.act.run('cancel', this)" <{/if}> />

<label><{if $order.status == 'dead'}><{t}>[已作废]<{/t}><{elseif $order.status == 'finish'}><{t}>[已完成]<{/t}><{/if}></label>