<div class="actionItems">
<table >
  <tr>
		<td colspan="2" class="functop" style="text-align:center">
			<a class="sysiconBtn" href="index.php?ctl=order/delivery_printer&act=add_tmpl">
					<{t}>添加模板<{/t}>
			</a>
		</td>
  </tr>
  <tr>
		<td class="func">
			<span class="sysiconBtnNoIcon" submit="index.php?ctl=order/delivery_printer&act=set_enable">
					<{t}>启用模板<{/t}>
			</span>
			<span class="sysiconBtnNoIcon" submit="index.php?ctl=order/delivery_printer&act=set_disabled">
					<{t}>禁用模板<{/t}>
			</span>			
			<a class="sysiconBtnNoIcon"
                href="index.php?ctl=order/delivery_printer&act=import">
					<{t}>导入模板<{/t}>
			</a>
		</td>
    <td></td>
  </tr>
</table>
  </div>
</div>
