<div class="tableform">
  <{if count($goodsItems) > 0}>
  <div class="division">
    <div  class="table-grid">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="finderInform">
      <colgroup class="Colgoodsid"></colgroup>
      <colgroup class="textleft"></colgroup>     
      <colgroup class="Colcategory"></colgroup>          
      <colgroup span="3" class="Colamount"></colgroup>
        <thead>
          <th><{t}>货号<{/t}></th>
          <th><{t}>商品名称<{/t}></th>
          <th><{t}>分类<{/t}></th>
          <th><{t}>价格<{/t}></th>
          <th><{t}>购买量<{/t}></th>
          <th><{t}>已发货量<{/t}></th>
        </tr>
      </thead>
      <tbody>
        <{foreach from=$goodsItems item=aGoods name="item"}>
        <tr>
          <td><{$aGoods.bn}></td>
          <td class="textleft">
          <a <{if $aGoods.is_type == 'goods'}>href="../index.php?ctl=product&act=index&p[0]=<{$aGoods.goods_id}>"
        <{else}>href="../index.php?ctl=package&act=index"<{/if}> target="_blank"><{$aGoods.name}>
          <{if is_array($aGoods.minfo)}>
          <{foreach from=$aGoods.minfo item=minfo key=name}>
          <br><{$minfo.label}>：<{$minfo.value}>
          <{/foreach}>
          <{/if}></a><{if $aGoods.is_type == 'goods'}><{input type='viewIMG' value=$aGoods.small_pic|gimage:small }><{/if}>
          </td>
          <td><{$aGoods.cat_name}></td>
          <td class="Colamount"><{$aGoods.price}></td>
          <td class="Colamount"><{$aGoods.nums}></td>
          <td class="Colamount"><{$aGoods.sendnum}></td>
        </tr>
        <{/foreach}>
      </tbody>
      </table>
    </div>
  </div>
  <{/if}>
  <{if count($giftItems) > 0}>
  <div class="division">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="finderInform">
      <colgroup></colgroup>
      <colgroup class="Colamount"></colgroup>
      <colgroup class="Colamount"></colgroup>
      <colgroup class="Colamount"></colgroup>
        <thead>
          <tr>
            <th><{t}>赠品名称<{/t}></th>
            <th><{t}>积分<{/t}></th>
            <th><{t}>兑换量<{/t}></th>
            <th><{t}>已发货量<{/t}></th>
          </tr>
        </thead>
        <tbody>
        <{foreach from=$giftItems item=aGift}>
        <tr>
          <td class="textleft">
      <{$aGift.name}><{input type='viewIMG' value=$aGift.thumbnail_pic|gimage:thumbnail }> 
          </td>
          <td class="Colamount"><{$aGift.point}></td>
          <td class="Colamount"><{$aGift.nums}></td>
          <td class="Colamount"><{$aGift.sendnum}></td>
        </tr>
        <{/foreach}>
        </tbody>
      </table>
    </div>
    <{/if}>
</div>