<div class="wall-post">    
    <iframe class="wall_hidden" name="WallPostIframe"></iframe>
    <!-- Post Text -->
    <div class="wall-ptype-cnt wall_text">__post_wall_text__</div>
    <!-- Post Link -->
    <div class="wall-ptype-cnt wall_link">__post_wall_link__</div>
    <!-- Post Photo -->
    <div class="wall-ptype-cnt wall_photo">__post_wall_photo__</div>
    <!-- Post Video -->
    <div class="wall-ptype-cnt wall_video">__post_wall_video__</div>
    <!-- Post Music -->
    <div class="wall-ptype-cnt wall_music">__post_wall_music__</div>    
    <div class="wall-loading" style="background-image:url(<bx_image_url:loading_bg.png />)"><img src="<bx_image_url:loading.gif />" /></div>
    <script language="javascript" type="text/javascript">
    <!--
        __post_js_content__
    -->
    </script>    
</div>