
<form id='writePromotionRuleForm' method='post' action='index.php?ctl=sale/promotion&act=doWritePromotionRule' extra='promotion'>
<div class="tableform">
<h4><{t}>优惠方式<{/t}></h4>
<div class="division">
<table>
<{if $solution.type == "order"}>
<tr>
<th><{t}>订单优惠条件：<{/t}></th>
<td><{input type='unsigned' value=$pmt.orderMoney_from name='orderMoney_from' size=10 required='true' }><b>≤</b><{t}>订单金额<{/t}> ＜ <{input type='unsigned' size=10 value=$pmt.orderMoney_to name='orderMoney_to' required='true'}>
<input type='hidden' class='_x_ipt' vtype='m_check'>
</td>
</tr>
<{elseif $solution.type == "product"}>
<tr>
<th></th>
<td><input type='radio' checked='checked'/><{t}>购买促销商品进行优惠<{/t}></td>
</tr>
<{/if}>
<{if $solution.condition.mLev}>  
<tr>
<th><{t}>允许参加会员等级：<{/t}></th>
<td id="x-member-lv-sel"><{html_checkboxes name="mLev" id="mLev" options=$mLev checked=$pmt.mLev separator="&nbsp;&nbsp;"}><span id="x-member-lv-check"></span></td>
</tr>
<{/if}>
</table>
</div>
</div>

<div class="tableform">
<h4><{t}>其他设置<{/t}></h4>
<div class="division"><table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <th><{t}>活动期间是否允许使用优惠券:<{/t}></th>
    <td><{t}>是<{/t}><input type='radio' name='pmt_ifcoupon' value=1 <{if $pmt.pmt_ifcoupon == '1'}>checked='checked'<{/if}>>
      否<input type='radio' name='pmt_ifcoupon' value=0 <{if $pmt.pmt_ifcoupon == '0'}>checked='checked'<{/if}>></td>
  </tr>
  <tr>
    <th><{t}>活动规则开始时间:<{/t}></th>
    <td><{input type='date' name='pmt_time_begin' value=$pmt.pmt_time_begin class='cal' required='true'}></td>
  </tr>
  <tr>
    <th><{t}>活动规则结束时间:<{/t}></th>
    <td><{input type='date' name='pmt_time_end' value=$pmt.pmt_time_end class='cal' required='true'}></td>
  </tr>
</table>
</div>
</div>
<div class="tableform">
<h4><{t}>优惠内容<{/t}></h4>


<{if $solution.method.moreScore}>
<div class="division" style="float:left;">
<h5><{t}>请输入需要赠送多少倍积分<{/t}></h5>
<{input value=$pmt.moreScore name='moreScore' required='true' type='positive'}>
</div>
<{/if}> 


<{if $solution.method.exemptFreight}>
<div class="division" style="float:left;">
<h5><{t}>运费<{/t}></h5>
                
        是否免运费:<input type='checkbox' value='1' name='exemptFreight' <{if $pmt.exemptFreight}>checked='checked'<{/if}> />
        
</div>
<{/if}>  

<{if $solution.method.discount}>
<div class="division" style="float:left;">
<h5><{t}>请输入给予多少折扣<{/t}></h5>
<{input value=$pmt.discount name='discount' required='true' type='discount_check'}> 如果打9折，请输入0.9；
</div>
<{/if}>


<{if $solution.method.lessMoney}>
<div class="division" style="float:left;">
<h5><{t}>请输入减多少金额<{/t}></h5>
<{input type='digits' value=$pmt.lessMoney name='lessMoney' required='true'}>
</div>
<{/if}>
<hr class="clear" />
<{if $solution.method.giveGift}>
<div class="division">
<h5><{t}>送赠品<{/t}></h5>
<{finder_result cols='name' params=$pmt.gift_filter value=$pmt.giveGift type="gift" name="giveGift" select="checkbox"}>
</div>
<{/if}>
<{if $solution.method.generateCoupon}>
<div class="division">
<h5><{t}>送优惠券<{/t}></h5>
<{finder_result cols='cpns_name' params=$pmt.coupon_filter  value=$pmt.generateCoupon type="coupon" name="generateCoupon" select="checkbox"}>
</div>
<{/if}>
</div>
<div class="tableform">
<h4><{t}>规则描述<{/t}></h4>
    <{input type='textarea' name='pmt_describe'  cols='60' rows='6' value=$pmt.pmt_describe required='true'}><br /><span class="fontcolorGray">此描述会显示在前台相关页面展示给顾客
</div>
<table border="0" align="center" cellpadding="0" cellspacing="0" class="tableAction">
  <tr>
    <td><b class="submitBtn" ><a href="index.php?ctl=sale/promotion&act=selectPromotionRule"><{t}>上一步<{/t}></a></b></td>
    <td><b class="submitBtn" ><input type='submit' value='下一步' id="x-tonext-btn" /></b></td>
    <td><b class="submitBtn" ><a href="index.php?ctl=sale/activity&act=index"><{t}>取消<{/t}></a></b></td>  
  </tr>
</table>
<div style="display:none"><{input type="checkMoney"}></div>
</form>


<script>
$('x-tonext-btn').addEvent('click',function(e){
  var list = $ES('input[type="checkbox"]','x-member-lv-sel').filter(function(i){return i.checked;});
  if(list.length==0){
    new Event(e).stop();
    var div = new Element('div',{'class':'valierror','name': 'validationMsgBox'}).setHTML("本项必选");
    div.injectAfter($("x-member-lv-check"));
  }else{
    msgbox = $('x-member-lv-check').getNext();
    if(msgbox && msgbox.getProperty('name') == 'validationMsgBox'){
      msgbox.remove();
    }
  }
});
//初始化日期选择控件
$ES('.cal','writePromotionRuleForm').each(function(i){i.makeCalable()});

if(!extra_validator['promotion']){
//console.info(extra_validator['promotion']);
    
  extra_validator['promotion'] ={
    'pointnum':['请录入大于0的数',function(f,i){
        return i==null || i=='' || /^\+?[0-9]+(\.[0-9]+)?$/.test(i);
      }]
    };

  extra_validator['promotion'] ={
    'discount':['请录入小于等于1的数',function(f,i){
        return i==null || i=='' || (/^\+?[0-9]+(\.[0-9]+)?$/.test(i) && i<=1 );
      }]
    };
  extra_validator['promotion'] ={
    'checkMoney':['',function(f,i){
        if($E('input[name=orderMoney_from]','writePromotionRuleForm')&&
           $E('input[name=orderMoney_to]','writePromotionRuleForm')&&
           ($E('input[name=orderMoney_from]','writePromotionRuleForm').get('value').toFloat()
           >=$E('input[name=orderMoney_to]','writePromotionRuleForm').get('value').toFloat())
          )
        {
            alert('订单优惠条件价格不合理');
            return false;
        }else{
            return true;
        }
      }]
    };
}
    /*function m_check(){
	    var max = parseInt($('d_max').value);
		var min = parseInt($('d_min').value);
        if(min>max){
            $('alertbox').show();
			reutrn false;
		}else{
            $('alertbox').hide();
			return true;
		}
	}*/
	validatorMap.set('m_check',['订单优惠条件价格不合理	',function(element,value){
	    var p_element = element.getParent('td').getElements('input[name^=order]');
		p_element[0].focus();
		return parseInt(p_element[0].value)< parseInt(p_element[1].value);
    }]);
	validatorMap.set('discount_check',['请输入小于1的数值',function(element,value){
	    return value<=1&&value>0;
    }]);

</script>
