<div class="widgets clearfix"> 
	<div class="wcol l-1 flt">
		<{foreach from=$widgets item=widget}>
		 <{if $widget.width=='normal'||$widget.width=='l-1'}> 
			<div class="item <{$widget.className}>">
				<div class="dashbd-action"><h3>&nbsp;<{$widget.title}></h3></div>
				<div class="dashbd-bd"><{$widget.html}></div>
			</div>  
		<{/if}>
		<{/foreach}>
	</div>
	<div class="wcol l-2 flt">
		<{foreach from=$widgets item=widget}>
		 <{if $widget.width=='l-2'}>
		  <div class="item <{$widget.className}>">
			 <div class="dashbd-action"><h3>&nbsp;<{$widget.title}></h3></div>
			 <div class="dashbd-bd"><{$widget.html}></div>
		   </div> 
		 <{/if}>
		<{/foreach}>
	</div>  
</div>

<{area inject=".mainFoot"}>
<div class="note clearfix" style="margin-bottom:0;height:20px">
	 <div class="span-auto">
		  当前版本：<{$deploy.product_name}>  V<{$deploy.product_version}> <span class="lnk">检查更新</span>
	  </div>     
	<div class="user-tip frt">
		<b>你知道么?&nbsp;&nbsp;&nbsp;&nbsp;</b><span id="dashboard-tip"><{$tip}></span>
		 &nbsp;<span class="lnk" onclick="$('dashboard-tip').set('opacity',0);new Request.HTML({onComplete:function(){$('dashboard-tip').set('opacity',1);},update:'dashboard-tip',evalScripts:false}).get('index.php?app=desktop&ctl=dashboard&act=fetch_tip')">再一条</span>
	</div>
</div>

<{/area}>  

<input type="hidden" id="dashboard-side-r-trigger"/>
<script>
    //new Equalizer('.span-9').equalize();
   $$('.widgets .valigntop').each(function(item){
			item.injectTop(item.getParent());
});
   new Side_R('index.php?app=desktop&ctl=dashboard&act=advertisement',{width:250,title:'<span class="font9px">advertisement</span>',trigger:$('dashboard-side-r-trigger')});
</script>



