<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title><{t}>POSSPORTS - LOGIN<{/t}></title>
<link rel="shortcut icon" href="../favicon.gif" type="image/gif" />
<link href="<{$env.app.res_url}>/framework.css" rel="stylesheet" type="text/css"  /> 
<link href="<{$env.app.res_url}>/login/login.css" rel="stylesheet" type="text/css"  />
</head>
<body>

<div class="content clearfix">   
   <div class="title clearfix"> 
	   <h3><{$env.conf.desktop.logo}><span><{$env.conf.desktop.logo_desc}></span></h3>   
 </div>  
	<div class="login-t span-auto">
	  <div class="publicize"><iframe frameborder="0" scrolling="no" height="100%" width="100%" allowTransparency="true"   src="<{$env.app.res_url}>/login/publicize.html"></iframe></div>
	</div>
	<div class="login-t span-auto">
	   <div class="passport-item" >
		<{foreach from=$passports item=item}>
			<h2 class="passport-title"><{$item.name}></h2>
			<div class="passport-bd"><{$item.html}></div>
		<{/foreach}>
	  </div>
	</div>
</div>
<p class='copyright'>
	     Copyright &copy; 2003-<script>document.write(new Date().getFullYear());</script> ShopEx. All rights reserved.
</p>
<script>
</script
</body>
</html>