<script>
        BxDolVoting.prototype.onvote = function (fRate, iCount) {
            document.location = '__next_url__';
        }
        BxDolVoting.prototype.onvotefail = function () {
            document.location = '__next_url__';
        }
</script>
<div class="bx_sites_block_percent" style="margin: 10px; overflow: hidden;">
    __rate__
    <div class="image">
        <a href="__site_url__"><img src="__image__" /></a>
    </div>
    <div class="bx_sites_unit_content bx_sites_content">
        <div class="bx_sites_unit_row">
            <div class="bx_sites_unit_title">
                <a class="bx_sites_unit_title_link" href="__site_url__">__title__</a>
            </div>
        </div>
        <div class="bx_sites_unit_row bx_sites_unit_info">
            <span>__date__</span>
            <span>__comments__</span>
            <span>__owner_str__<a href="__owner_url__">__owner__</a></span>
            <span>__cats_str__&nbsp;__cats__</span>
            <span>__tags_str__&nbsp;__tags__</span>
        </div>
        <div class="bx_sites_unit_row">
            <a href="__url__" class="link_site" target="_blank">__url_title__</a>&nbsp;&mdash;&nbsp;__description__
        </div>
    </div>
</div>