<div class="bx_sites_block_info">
    <div class="memberPic">
        __owner_thumb__
        <div class="thumb_username"><a href="__owner_url__">__owner__</a></div>
    </div>
    <div class="infoText">
        <div class="infoUnit">
            <img src="__date_icon__" />
            __date__ (__date_ago__)
        </div>
        <div class="infoUnit">        
            <img src="__cats_icon__" />
            __cats__
        </div>
        <div class="infoUnit">        
            <img src="__tags_icon__" />
            __tags__
        </div>        
    </div>
</div>
