<div class="bx_sites_block_percent" style="margin: 10px; overflow: hidden;">
    <div class="image">
        <a href="__site_url__"><img src="__image__" /></a>
    </div>
    <div class="bx_sites_unit_content bx_sites_content">
        <div class="bx_sites_unit_row">
            <div class="bx_sites_unit_title">
                <a class="bx_sites_unit_title_link" href="__site_url__">__title__</a>
            </div>
        </div>
        <div class="bx_sites_unit_row bx_sites_unit_info">
            <span>__owner_str__<a href="__owner_url__">__owner__</a></span>
            <span>__date__</span>
            __rate__
        </div>
    </div>
</div>