<div class="bx_sites_block_view" style="margin: 10px; overflow: hidden;">
    <a href="__site_url__" class="title" target="_blank">__site_url_view__</a>
    <div class="show_image">
        <img src="__image__" />
    </div>
    <div class="bx_sites_block_rate">
        <div class="bx_sites_vote">__vote__</div>
        <div class="bx_sites_count">
            <div class="bx_sites_val" style="background: url('__image_view__') 8px center no-repeat;">
                <span>__view_count__</span>
            </div>
        </div>
    </div>
</div>
