<script language="javascript" type="text/javascript">
<!--
    $(document).ready(function() {
		$.get(
			'<bx_url_root />get_rss_feed.php?ID=boonex_version&member=0', 
			{},
			function(sData) {
				var sVerCur = '__current_version__';
				var sVerNew = $(sData).find('dolphin').html(); 

				if(sVerNew != 'undefined' && sVerNew != '' && sVerNew != sVerCur)
					$('#adm-dic-update').html('<a href="http://www.boonex.com/dolphin/download/"><bx_text:_adm_txt_dashboard_update_to /> ' + sVerNew + '</a>');
			},
			'text'
		);
	});
-->
</script>
<table cellpadding="0" cellspacing="0" class="adm-di-content">
    <tr>
        <td class="left">
        	__cell_11__
        </td>
        <td class="right">
        	<span class="__cell_12_class__">__cell_12__</span>
		</td>
    </tr>
    <tr>
        <td class="left" id="adm-dic-update">__cell_21__</td>
        <td class="right">__cell_22__</td>
    </tr>
</table>