<div id="adm-mlevels-action" style="display:none;">
    <table class="popup_form_wrapper">
		<tr>
			<td class="corner"><img src="<bx_image_url:op_cor_tl.png />" alt="" /></td>
			<td class="side_ver"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
			<td class="corner"><img src="<bx_image_url:op_cor_tr.png />" alt="" /></td>
		</tr>
		<tr>
			<td class="side"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
			<td class="container">
    			<div class="adm-design-box">
                	<div class="adm-db-head">
                        <bx_text:_adm_box_cpt_mlevel_action />
                        <div class="dbTopMenu">
                            <div class="adm-db-close" style="background-image:url(<bx_image_url:close.gif />)">
                                <a href="javascript:void(0)" onclick="javascript:$('#adm-mlevels-action').dolPopupHide({});">
                                    <img src="<bx_image_url:spacer.gif />" width="28px" height="28px" />
                                </a>
                            </div>
                        </div>
                	</div>
                	<div class="adm-db-content">
                        <div class="adm-db-content-wrapper">
                            <div id="adm-mlevels-action-content">
                                <iframe name="adm-mlevels-action-iframe" class="hidden"></iframe>
                                __content__
                            </div>
                        </div>
                    </div>                	
                </div>                    
            </td>
			<td class="side"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
		</tr>
		<tr>
			<td class="corner"><img src="<bx_image_url:op_cor_bl.png />" alt="" /></td>
			<td class="side_ver"><img src="<bx_image_url:spacer.gif />" alt="" /></td>
			<td class="corner"><img src="<bx_image_url:op_cor_br.png />" onload="if( navigator.appName == 'Microsoft Internet Explorer' && window.version && version >= 5.5 && version < 7 ) png_fix();" alt="" /></td>
		</tr>
	</table>
</div>