<{area inject='.mainHead'}>
<div class="finder-detail-tabs clearfix">
    <{foreach from=$expseo item=item key=key}>
        <{if $name == $key}>
            <span class="tab cur"><span><{$item}></span></span>
        <{else}>
            <{if $key == "seo"}>
                <span class="tab"><span><a href="index.php?ctl=sale/tools&act=seo"><{$item}></a></span></span>
            <{else}>
                <span class="tab"><span><a href="index.php?ctl=sale/tools&act=exceptseo&p[0]=<{$key}>"><{$item}></a></span></span>
            <{/if}>
        <{/if}>
    <{/foreach}>
</div>
<{/area}>

<form action='index.php?app=site&ctl=admin_seo&act=saveseo&p[0]=<{$id}>' method='post' class="settingform" id="site_basic" enctype="multipart/form-data" target="{update:'messagebox'}">
<div class="tableform">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" >
        <tr>
            <td><h4><{t}>SEO设置<{/t}></h4></td>
            <td style="text-align:right; padding-right:10px;"><{help docid="64" type="link"}><{t}>点击查看帮助<{/t}><{/help}></td>
        </tr>
    </table>
    <div class="division" style="position:static;">
        <table width="100%" border="0" cellpadding="0" cellspacing="0"  class="shop-setting">
            <tr>
                <th><{t}>TITLE(页面标题)：<{/t}></th>
                <td>

                    <div class="seo-tip" style="">
                           <input type="text" name="seo_title" value="<{$config.seo_title}>" vtype="required" class="_x_ipt"  >
                    </div>
                </td>
            </tr>
            <tr>
                <th>META_KEYWORDS<br /><{t}>(关键词)：<{/t}></th>
                <td>
                <div class="seo-tip" style="">
                          <input type="text" name="seo_keywords" value="<{$config.seo_keywords}>" vtype="required" class="_x_ipt" >
                    </div>
                </td>
            </tr>
            <tr>
                <th>META_DESCRIPTION<br /><{t}>(页面描述)：<{/t}></th>
                <td>
                    <textarea style="width:60%" name="seo_content" rows="6"><{$config.seo_content}></textarea>
                    </div>
                </td>
            </tr>
        </table>
    </div>
            <table width="100%" border="0" cellpadding="0" cellspacing="0" >
            <tr>
                <td><h4><{t}>其他设置<{/t}></h4></td>
                <td style="text-align:right; padding-right:10px;"><{help docid="97" type="link"}><{t}>点击查看帮助<{/t}><{/help}></td>
            </tr>
        </table>
        <div class="division" style="position:static;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0"  class="shop-setting">
                <tr>
                    <th><{t}>是否启用nofollow：<{/t}></th>
                    <td><input type="radio" name="seo_nofollow" value='是' <{if $config.seo_nofollow=="是"}>checked<{/if}>><{t}>是<{/t}></label><label><input type="radio" name="seo_nofollow" value='否' <{if $config.seo_nofollow=="否"}>checked<{/if}>><{t}>否<{/t}></td>
                </tr>
                <tr>
                    <th><{t}>是否启用noindex：<{/t}></th>
                    <td><input type="radio" name="seo_noindex" value='是' <{if $config.seo_noindex=="是"}>checked<{/if}>><{t}>是<{/t}></label><label><input type="radio" name="seo_noindex" value='否' <{if $config.seo_noindex=="否"}>checked<{/if}>><{t}>否<{/t}></td>
                </tr>
            </table>
        </div>
    <div class="table-action">
        <{button type="submit" label="保存" }>
    </div>
</div>
</form>
<script type="application/javascript">
(function(){
textareaEditor =new Object();
$extend(textareaEditor,{
  element:$ES('#site_basic input[type=text]')[0],
   initRange:function(){
          this.element.focus();
          if(!!document.selection) {
           var range=this.element.createTextRange();
           range.moveStart('character',this.element.value.length);
           range.collapse(true);
           range.select();}
   },
   replaceSelection:function (text) {
        var scrollTop=this.element.scrollTop;
        if(!!document.selection) {
           this.element.focus();
           var range=this.range||document.selection.createRange();
           range.text=text;
        }else if(!!this.element.setSelectionRange) {
            var selection_start=this.element.selectionStart;
            this.element.value=this.element.value.substring(0,selection_start)+text+this.element.value.substring(this.element.selectionEnd);
            this.element.setSelectionRange(selection_start+text.length,selection_start+text.length);
        }
        this.element.focus();
        this.element.scrollTop=scrollTop;
     }
 });
$ES("#site_basic .seo-tip").each(function(el,key){
    var getInput=el.getPrevious("input")||el.getPrevious("textarea");
    getInput.addEvents({
        'click':function(e){
              e.stopPropagation();
              el.setStyle('display','');
              var tempel=$('site_basic').retrieve('openel',$ES("#site_basic .seo-tip")[0]);
              if(tempel==el)return;
              $('site_basic').store('openel',el);
              tempel.setStyle('display','none');
        },'focus':function(e){
            textareaEditor.element=$(this);
        }
    });
    el.getLast('button[class=btn]').addEvents({
        'click':function(e){
            e.stop();
            var defaultValue=this.getNext('span').getAttribute('value');
            getInput.set('value',defaultValue);
         }
    },this);
    el.getElements('button[class=span1]').addEvent('click',function(e){
        e.stop();
        var ipt=this.getParent('.seo-tip').getPrevious("input")||this.getParent('.seo-tip').getPrevious("textarea");
        if(ipt)ipt.fireEvent('focus');
        var text=this.getAttribute('svalue');
        textareaEditor.replaceSelection(text);
    },this);
    if(key==0){el.setStyle('display','');textareaEditor.initRange();}
});
    document.body.addEvent('click',function(){
         $ES("#site_basic .seo-tip").each(function(el){
            el.setStyle('display','none');
        });
        $ES("#site_basic .x-input").removeEvent('click');
    });
})();
</script>