<form id="f_order_pay" target="_blank" action="<{link ctl="paycenter" act="order"}>" method="post">
<div id="carttittle" style="margin-bottom:5px;"><img src="../../../../images/check_out.gif" width="140" height="40" /></div>
<div class="cartorder" ><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="13%"   align="right"><span>Order No.:</span></td>
    <td width="87%"><span style="color:#F84652; font-weight:bold; font-size:16px;"><{$order.order_id}></span></td>
  </tr>
 
  <tr>
    <td colspan="2">  </td>
  </tr>
  <tr>
    <td height="10" colspan="2"><span style=" padding-left:60px;" class="under"><a  style="color:#666666;;"href="<{link ctl=order act=detail arg0=$order.order_id}>">View Details</a></span></td>
  </tr>
  <tr>
    <td  height="26"></td>
    <td></td>
  </tr>
  <tr>
    <td   align="right"><{t}>That order total:<{/t}></td>
    <td><span style="color:#F84652;font-weight:bold; font-size:16px;"> <{$order.amount.total-$order.amount.payed|cur:$order.currency}></span></td>
  </tr>
</table>

</div>
<input type="hidden" name="order_id" value="<{$order.order_id}>" />
  <input type="hidden" name="money" value="<{$order.amount.total-$order.amount.payed}>" id="hidden_money"/>
  <input type="hidden" name="currency" value="<{$order.currency}>" />
  <input type="hidden" name="cur_money" value="<{$order.cur_money }>" id="hidden_cur_money"/>
  <input type="hidden" name="cur_rate" value="<{$order.cur_rate }>" />
  <input type="hidden" name="cur_def" value="<{$order.cur_def }>" />
<{if $order.selecttype}>
<div class="division" style="padding-top:3px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="liststyleg data" style="background:#EDECEA;">
      <tr>
        <td valign="top">
          <{require file="common/paymethod.html"}>
        </td>
      </tr>
    </table>
  </div>
<div class="division textcenter" style="margin:5px 0 10px 45px; text-align:left;" >
    <input type="image"  src="../../../../images/Checkoutb.gif" value="Pay now" />
  </div>
<{else}>
  <input type="hidden" name="payment[payment]" value="<{$order.payment}>" />
  <div style="background:#EAEAEA; padding:10px 0; margin-top:5px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="data">
      <colgroup class="span-8 ColColorBlue"></colgroup>
      <colgroup class="span-auto ColColorGray textcenter"></colgroup>
      <tr>
        <td width="50%" style="padding-left:20px;">
          <{if $order.amount.total > $order.amount.payed}>
            <{if $order.paytype=="OFFLINE"}>
              <strong><{t}>You’ve chosen “Off-Line Payment”.<br />
              Please contact us through e-mail for payment instructions.E-mail address:
<{/t}></strong>
              
              <div style="text-align:left;  padding-right:10px;"><a class="lnk"  style="color:#5E66FF;" href="<{link ctl=order act=index arg0=$order.order_id arg1=true}>"><{t}>Prefer other payment method &raquo;<{/t}></a></div>
            <{elseif $order.payment==-1 || $order.paytype=="PAYAFT"}>
              <strong><{t}>you choosed pay when got the goods <{/t}></strong>
              <br />
              <a class="lnk" href="<{link ctl=order act=index arg0=$order.order_id arg1=true}>"><{t}>Choose the other payment mehtod&raquo;<{/t}></a>
            <{else}>
              <{if $order.paytype=="DEPOSIT"}>
                <strong><{t}>you choosed pay by the Pre-deposits<{/t}></strong>
              <{else}>
                <strong><{t}>You choosed：<{/t}><{$order.paymethod}></strong>
              <{/if}>
              <br />
        <a style="color:#0000FF;"  class="lnk" href="<{link ctl=order act=index arg0=$order.order_id arg1=true}>"><{t}>Choose the other payment mehtod&raquo;<{/t}></a>        </td>
        <td>
            <input type="submit" style=" display:none; width:100px; padding:5px 10px;border-left:2px solid #FFCC00; border-top:2px solid #FFCC00; border-bottom:2px solid #9F4E2B;border-right:2px solid #9F4E2B; background:#FF9900; color:#FFFFFF; font-weight:bold; font-size:14px; cursor:pointer;" value="Pay now" /> 
            <{/if}>
          <{else}>That order don't need to pay,just waiting us to processing, thanks! <{/if}>        </td>
      </tr>
    </table>
  </div>
<{/if}>
</form>
 <script>
    function changePrice(money,fmoney){
        $('hidden_money').set('value',money);
        $('hidden_cur_money').set('value',money);
        $('span_amount').set('text',fmoney);
    }
 </script>

