<div class="division">
        <table cellspacing="0" cellpadding="0" width="100%">
		<tbody>
		<tr><th><em class="red">*</em><label for="dom_el_3e40f70">姓名：</label></th><td><input type="text" vtype="required" id="dom_el_3e40f70" disable="true" value="<{$name}>" name="name" title="姓名" class="x-input " autocomplete="off"/> <input type="button" onclick="new Dialog('index.php?ctl=users&act=chkpassword&id=<{$account_id}>',{width:400,height:300,title:'密码修改'})" value="修改密码" /></td></tr>
		<tr><th><em class="red">*</em><label for="dom_el_3e40f72">启用：</label></th><td><select id="dom_el_3e40f72" required="1" name="status" type="select" title="启用" class="x-input-select inputstyle"><option value="0" <{if !$status}>selected="selected"<{/if}>>否</option><option value="1" <{if $status}>selected="selected"<{/if}>>是</option></select></td></tr>
        
       <tr><th><td>
 	<div id="role" <{if !$super}>style="display:block"<{else}>style="display:none"<{/if}>>角色:
     <ul><{if !$super}><input type='hidden'  vtype='requiredcheckbox'/> <{/if}><{foreach from=$workgroup item=item}>
         <li><input class="role" type="checkbox" value='<{$item.role_id}>' name=role[<{$item.role_id}>] <{if $item.checked=='true'}>checked='checked'<{/if}>/>
<{$item.role_name}></li>
         <{/foreach}>
     </ul>
 </div> 
 <tr><th>
</th><td></td></tr>
</tbody>
</table>
 <div id="work" style="display:block"><{$per}></div>
</div>



<script>
(function(){
  
     $$('.role').addEvent('click',function(e){  
        	   var checkedEl = $ES('input.role:checked');
        	 
               var checkedName = [];
               checkedEl.each(function(cel,k){
                   checkedName[k] = encodeURIComponent(cel.value=cel.value.trim());   
               });
	            new Request.HTML({update:$('work'),data:'checkedName='+JSON.encode(checkedName)+'&name='+encodeURIComponent(this.value=this.value.trim())         
	            }).post('index.php?app=desktop&ctl=users&act=detail_ground');
        });
        
     $('is_super').addEvent('change',function(e){  
        	value = $('is_super').value;
        	if(value==0){
        		$('role').setStyle('display','block'); 
        		$('work').setStyle('display','block');
        	} 
        	else{
        		$('role').setStyle('display','none'); 
        		$('work').setStyle('display','none');
        	}       
            
        });
    
})();

</script>

