<script>
   function _addWeigets(args){
      var themeFrame=$('themeFrame').contentWindow;
      var shopWidgetsOBJ=themeFrame.shopWidgets;
    _widgetsDialog?_widgetsDialog.close():'';
    _widgetsDialog=null;
    shopWidgetsOBJ.ghostDrop(args[0],args[1]);
    themeFrame.focus();
   }
   function _showWidgets_tip(message){
  
if($E('input[name=noshownext]','wd_add_tip').checked)return;
     var tip=$('wd_add_tip');
   var msg=$E('.message',tip);
   msg.setText(message);
     var pos=$("widgets_workground").getPosition($('popPanel'));
   tip.setStyles({
      left:pos.x,
    top:pos.y
   }).setStyle('visibility','visible');
   }
   function _showWidgetsDialog(url){
    _widgetsDialog=new Dialog(url,{width:770,height:500,title:'增加页面版块',modal:true,resizeable:false,onShow:function(e){
     this.dialog_body.id='dialogContent';
  }});
   }
   function _hideWidgets_tip(){
      return $('wd_add_tip').setStyle('visibility','hidden');
   }
   function _saveWidgets(){
    return $("themeFrame").contentWindow.shopWidgets.saveWidgets();
   }
   
   function _infoTrigger(){
     var el = $('save_info');
  if(el.getStyle('display') == 'none'){
    el.setStyles('display', 'inline');
  }else{
    el.setStyle('display', 'none');
  }
   }
</script>

<div id="wg_toolbar" class="tpledit clearfix">
  
    <div class="body clearfix">
      <div class="optbar">
          <span class="info"><strong><{t}>正在编辑：<{/t}></strong><{$viewname}>(<{$view}>)</span>
            <span class="vl">&nbsp;</span>
            <span class="tplicon" onclick="_showWidgetsDialog('index.php?ctl=system/template&act=addWidgetsPage&p[0]=<{$theme}>')"><span><i class="addwgt"><{t}>添加版块<{/t}></i></span></span>
            <span id="btn_save_info" class="tplicon" onclick='if(confirm("确定保存您对当前页面的修改吗?"))_saveWidgets()' onmouseover="_infoTrigger()" onmouseout="_infoTrigger()"><span><i class="buttonsave"><{t}>保存修改<{/t}></i></span></span>
            <span class="saveinfo" id="save_info" style="display:none;"><{t}>保存修改后，对页面的修改才会生效。<{/t}></span>
        </div>
        <div class="optbar2">
          <a class="close" onclick='if(confirm("确定退出模板编辑吗?"))$("popPanel").empty().hide(); return false;' title="退出模板编辑"><{t}>关闭<{/t}></a>
          <a target="_blank" href="../"><{t}>浏览商店<{/t}></a>
        </div>
    </div>
</div>
<div id='wd_add_tip' class='success' style='visibility:hidden;position:absolute;zIndex:65535;'>
            <span class='message'>
            </span>
            <span onclick='_hideWidgets_tip()' style='cursor:pointer;'>
                <font color=red>
                <strong><{t}>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;关闭提示<{/t}></strong>
                </font>
            </span>
            <span><input name='noshownext' type='checkbox'/><{t}>下次不提示.<{/t}></span>
</div>

<div style='border:1px #333 solid;border-top:3px #ccc solid;padding:2px;width:100%;height:100%' align='center' id='widgets_workground'>
  <iframe id="themeFrame" frameborder="0" width='98%' height='92%' src="index.php?ctl=system/template&act=templetePreview&p[0]=<{$theme}>&p[1]=<{$view}>"></iframe>
</div>


