<table cellspacing="0" cellpadding="0" border="0">
  <tbody><tr>
    <td valign="top" align="center">
    <div class="templateimg"><img height="160" width="120" src="index.php?ctl=system/template&act=previewImg&p[0]=<{$theme.theme}>"/>
   <div><a class="sysiconBtnNoIcon" href="index.php?ctl=system/template&act=setDefault&p[0]=<{$theme.theme}>">使用模板</a>
      <a class="sysiconBtnNoIcon" href="index.php?ctl=system/template&act=edit&p[0]=<{$theme.theme}>">编辑模板</a>
   <span class="sysiconBtnNoIcon" onClick="void function(themeitem){
    if(window.confirm('确认删除么？')){
      W.page('index.php?ctl=system/template&act=remove&p[0]=<{$theme.theme}>',{update:'messagebox',onComplete:function(){themeitem.remove()}});
    }}($(this).getParent('.item'))"><{t}>删除模板<{/t}></span></div>
        </div>
    <h5 style="margin: 0pt; padding: 0pt; height: 20px;"><{$theme.name|cut:16}>(<{$theme.version|cut:20}>)</h5>
    <span style="color:#999; font-size:11px; font-weight:normal;"><a href="<{$theme.site}>" target="_blank"><{$theme.author|cut:20}></a> | <{$theme.stime|cdate}></span>
    
      </td>
  </tr>
</tbody></table>