<{if $gimage.gimage_id>0}>
<span <{if $goods.image_default==$gimage.gimage_id}>class="current"<{/if}> onclick="goodsEditor.pic.setDefault('<{$gimage.gimage_id}>','<{if $gimage.small}><{$gimage.small|storager}><{else}>index.php?ctl=goods/product&act=view_src_img&p[0]=<{$gimage.gimage_id}><{/if}>')">
	<img sn="_img_<{$gimage.gimage_id}>" src='images/loading.gif' lsrc='<{if $gimage.thumbnail}><{$gimage.thumbnail|storager}><{else}>index.php?ctl=goods/product&act=view_src_img&p[0]=<{$gimage.gimage_id}><{/if}>' onload='chainImgLoader(this);'>
</span>
<input name="goods[image_file][]" value="<{$gimage.gimage_id}>" type="hidden">
<div class="picdelete">
<{assign var=gimageid value=$gimage.gimage_id}>
<{img src='images/bundle/delecate.gif' style='cursor:pointer;' alt="删除图片" title="删除图片" onclick="goodsEditor.pic.del($gimageid,this)" }>
<{img src="images/bundle/mceico_33.gif" style='cursor:pointer;' title="查看路径" alt="查看路径" onclick="goodsEditor.pic.viewSource('index.php?ctl=goods/product&act=viewGimages&gimage_id=$gimageid')"}>
</div>
<{/if}>

