<td style="spec_box" width='10%'>

<{if $specType == 'text'}>
<span class="spec_span"><{$specValue}></span>
<{else}>
<div class="spec_box"><center><img src='<{if $specImage}><{$specImage|storager}><{else}><{$spec_default_pic|storager}><{/if}>' width=20 height=20 alt="<{$specValue}>"/></center></div>
<{/if}>

</td>
<td  class='spec-value-input'>
<input type="text" name="goods[spec_desc][<{$specId}>][<{$pSpecId}>][spec_value]" class='spec-value' style="width: 120px;" value="<{$specValue}>"/>
<input type="hidden" name="goods[spec_desc][<{$specId}>][<{$pSpecId}>][spec_type]" value="<{$specType}>"/>

<input type="hidden" name="goods[spec_desc][<{$specId}>][<{$pSpecId}>][spec_value_id]"  class='spec-value-id' value="<{$specValueId}>"/>
 <input type='hidden' class="spec-image"  name='goods[spec_desc][<{$specId}>][<{$pSpecId}>][spec_image]' value=''/>
</td>
<{if $specType == 'image'}>
<td>
  <div class="spec_box" style='float:left'>
   <img src='<{if $specImage}><{$specImage|storager}><{else}><{$spec_default_pic|storager}><{/if}>' width=20 height=20 align='left' alt="<{$specValue}>">
  </div>
  <span class="sysiconBtn addorder sel_image">上传</span>
</td>
<{/if}>
<td><span class='sel-imgs-area-<{$pSpecId}>'></span>
<input type="hidden" name="goods[spec_desc][<{$specId}>][<{$pSpecId}>][spec_goods_images]" value=""/>
<span class="sel-albums-images sysiconBtn edit" style="padding-left: 20px;">选择</span> </td>
<td><img class="operater"  alt="向上" src="../statics/icons/icon_asc.gif"/> &nbsp; &nbsp; 
<img  class="operater" alt="向下" src="../statics/icons/icon_desc.gif"/> &nbsp; &nbsp; 
<img  class="operater" alt="删除" src="../statics/icons/icon_delete.gif"/>
</td>