<table border="0" cellpadding="0" cellspacing="0">
<tr>
  <td><h4 for="return_status"><{t}>状态<{/t}></h4>
    <select id="return_status" name="status[]" size="5" multiple="multiple">
      <option style="font-weight:bold" value="_ANY_" selected="selected"><{t}>请选择状态<{/t}></option>
        <option value="1"><{t}>未审核<{/t}></option>
        <option value="2"><{t}>审核中<{/t}></option>
        <option value="3"><{t}>审核通过<{/t}></option>
        <option value="4"><{t}>已完成<{/t}></option>
        <option value="5"><{t}>审核未通过<{/t}></option>
    </select>
  </td>
</tr>
</table>