<link type="text/css" rel="stylesheet" href="__view_css__" />
<script language="javascript" type="text/javascript" src="__main_js_url__"></script>

<div id="manage_crss_block" style="display:none;padding:10px;">

	<div class="disignBoxFirst">
		<div class="boxFirstHeader"><bx_text:_Existed_RSS /></div>
		<div class="boxContent" id="custom_rss_lists_div">
			__table_existed_rss_list__
		</div>
	</div>

	<div class="disignBoxFirst">
		<div class="boxFirstHeader"><bx_text:_crss_Manager /></div>
		<div class="boxContent">
			__form_adding__
		</div>
	</div>

</div>

<div id="member_rss_list_loaded">
	__member_rss_list_loaded__
</div>
