<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>登录界面</title>
<link href="../statics/program.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="signup-contant">
 <div class="signup-contant-main">
 <div class="logo"><div class="logo-image"></div></div>
 <div class="signup">
  <div class="signup-left"></div>
  <div class="signip-main">
  <div class="ifram">
     <p>1. 接口丰富：可满足客户多变的定制需求。   </p>
     <p> 2. 灵活开发：丰富、开放的引擎接口，方便用户进行二次   
       开发和外围新功能应用的开发。</p>
     <p> 3. 无缝升级：享受引擎内核升级带来的结构性功能/性能提
       升，同时不影响原有定制应用的功能</p>
     <p> 4. 无限应用：下载、享受官方应用中心提供的各种商店应   
       用程序</p>
     <p> 5. 全网互通：通过引擎集成的网络通路，直接实现数据、
       应用全网互通，可与淘宝、拍拍等无缝连接 </p>
  </div>
  <div class="window">
   <div class="window-tab">
    <ul>
     <li class="window-tab-current">
     <div class="window-tabcurrent-left"></div>
     <div class="window-tabcurrent-mid">普通登录</div>
     <div class="window-tabcurrent-right"></div>
     </li>
     <li class="window-tab-unselected">高级登录</li>
     <li class="window-tab-unselected">淘宝登录</li>
    </ul>
   </div>
   <div class="window-main">
    <div class="window-info">
     <div class="window-info-title"><label>用户名：</label></div>
     <div class="window-info-input">
       <input type="text" name="" id="" class="signup-input" />
     </div>
    </div>
        <div class="window-info">
     <div class="window-info-title"><label>密&nbsp;&nbsp;&nbsp;码：</label></div>
     <div class="window-info-input">
       <input type="text" name="" id="" class="signup-input" />
     </div>
    </div>
        <div class="window-info">
     <div class="window-info-title"><label>验证码：</label></div>
     <div class="window-info-inputcode">
       <input type="text" name="" id="" class="signup-input-code" />
     </div>
     <div class="code"><img src="../statics/signup_23.gif" width="65" height="22" /></div>
    </div>
    <div class="window-info">
     
     <div class="window-info-input">
       <div class="check">
         <input type="checkbox" name="checkbox" id="checkbox" />
       </div>
       <div class="check-txt"><label>记住用户名</label></div>
     </div>
    </div>
    <div class="window-btn"><img src="../statics/signup_27.gif" width="79" height="29" /></div>
   </div>
  </div>
  </div>
  <div class="signup-right"></div>
 </div>
 </div>
   <div class="inverted-image"></div>
   <div class="copyright">2003-2010<span>ShopEx.cn</span></div>
</div> 

</body>
</html>
