<div class="{unitClass}_unit_short" id="unit_{id}">
   <div class="{unitClass}_unit_short_box">
       <a href="{titleLink}">
            <img src="{pic}" class="{unitClass}_unit_short_pic"/>
       </a>
   </div>
   <div class="{unitClass}_unit_short_text">
       <div class="{unitClass}_title">
            <a href="{titleLink}">{title}</a>
       </div>
       <div class="clear_both"></div>
       <div class="{unitClass}_from">
            <bx_text:_From /> <a href="{fromLink}">{from}</a>
       </div>
       <div class="{unitClass}_when">
            | {when}
       </div>
   </div>
   <div class="clear_both"></div>
</div>