<div class="prepend-1">

<form method='post' action='index.php?ctl=order/payment&act=edit' target="{update:'payment_info'}">
  <input type='hidden' name='payment_id' value='<{$detail.payment_id}>'>
  <div class="span-5"><label><{t}>序号：<{/t}></label><{$detail.payment_id}></div>
  <div class="span-5"><label><{t}>订单号：<{/t}></label><{$detail.order_id}></div>
  <div class="span-5"><label><{t}>支付方式：<{/t}></label><{$detail.paymethod}></div>
  <div class="span-5"><label><{t}>货币：<{/t}></label><{$detail.currency}></div>
  <div class="span-5"><label><{t}>操作员：<{/t}></label><{$detail.op_id}></div>
  <div class="span-5"><label><{t}>生成时间：<{/t}></label><{$detail.t_begin|cdate}></div>
  <div class="span-5"><label><{t}>收款方式：<{/t}></label><{if $detail.pay_type == 'online'}><{t}>在线支付<{/t}><{elseif $detail.pay_type == 'offline'}><{t}>线下付款<{/t}><{elseif $detail.pay_type == 'deposit'}><{t}>预存款支付<{/t}><{elseif $detail.pay_type == 'recharge'}><{t}>预存款充值<{/t}><{/if}></div>
  <div class="span-5"><label><{t}>收款帐号：<{/t}></label><{$detail.account}></div>
  <div class="span-5"><label><{t}>收款银行：<{/t}></label><{$detail.bank}></div>
  <div class="span-5"><label><{t}>付款人：<{/t}></label><{$detail.member_id}></div>
  <div class="span-5"><label><{t}>付款金额：<{/t}></label><{$detail.money}></div>
  <div class="span-5"><label><{t}>付款时间：<{/t}></label><{$detail.t_end|cdate}></div>
  
  <table cellspacing="0" cellpadding="0" border="0" class="tableAction" style="margin:0;">
  <tr>
    <td><{t}>备注：<{/t}><{$detail.memo}></td>
  </tr>
</table>
</form></div>