<{strip}>
<table width="100%">
<tr>
  <td align="right"><{t}>序号<{/t}></td><td align="right"><input type="text" name="payment_id"></td>
  <td align="right"><{t}>订单号<{/t}></td><td align="right"><input type="text" name="order_id"></td>
  <td align="right"><{t}>收款银行<{/t}></td><td align="right"><input type="text" name="bank"></td>
  <td align="right"><{t}>开始日期<{/t}></td><td align="right"><input type="text" name="t_begin"></td>
  <td align="right"><{t}>结束日期<{/t}></td><td align="right"><input type="text" name="t_end"></td>
</tr>
</table>
<div class="colfilter" style="display:nsone">
<table>
<tr>
  <td><label for="aaa"><{t}>金流方式<{/t}></label>
    <select id="aaa" name="type[]" size="5" multiple="multiple" id="select">
      <option style="font-weight:bold" value="_ANY_" selected="selected"><{t}>任意分类<{/t}></option>
      <option value="0"><{t}>现金<{/t}></option>
      <option value="1"><{t}>预存款<{/t}></option>
    </select>
  </td>
  <td><label for="aaa"><{t}>支付方式<{/t}></label>
    <select id="aaa" name="paymethod[]" size="5" multiple="multiple" id="select">
      <option style="font-weight:bold" value="_ANY_" selected="selected"><{t}>任意分类<{/t}></option>
      <{foreach from=$filter.payment item=paymethod name="_s"}>
      <option<{if $smarty.foreach._s.iteration is odd}> class="row2"<{/if}> value="<{$paymethod.id}>"><{$paymethod.custom_name}></option>
      <{/foreach}>
    </select>
  </td>
</tr>
</table>
</div>
<{/strip}>
