<div class="section" id="cart-items">
  <div class="FormWrap" id="cartItems">
  <{include file="site/cart/cart_items.html" app=b2c}>
  <{include file="site/cart/cart_solution.html" app=b2c}>
  <{include file="site/cart/cart_total.html" app=b2c}>
</div>
</div>

<div class="CartBtn clearfix" style="margin-bottom:5px;">
   <div class="span-auto"><a href="./" class="actbtn btn-return" >&laquo;继续购物</a></div>
   <div class="span-auto"><a id="clearCart" class="actbtn btn-clearcat" href="javascript:Cart.empty('<{link app=b2c ctl='site_cart' act='removeCart' arg0=all}>');">清空购物车</a></div>
   <div class="span-auto floatRight"> <input type="submit" class="actbtn btn-next" value="下单结算&raquo;" ></input></div>
</div>

