<{if $item_other}>
    <{foreach from=$item_other item=section}>
      <{include file=$section.file app=$section.app }>
    <{/foreach}>
<{/if}>
<div class="clear"></div>

<{if !$checkout}>
<div class="flt">
     <div id='cart-coupon-add'>
         <{t}>使用优惠券<{/t}>:<{input type="text" name="coupon" size="25" value="请输入优惠券号码" onclick="this.value=(this.value=='请输入优惠券号码')?'':this.value"}> <input id='cart-coupon-submitBtn' type="button" value="<{t}>确定<{/t}>" /> 
         <script>
          $('cart-coupon-submitBtn').addEvent('click',function(e){
              e.stop();
              new Element('form',{method:'post',action:'<{link app=b2c ctl="site_cart" act="addToCart" arg0="coupon"}>'}).adopt($('cart-coupon-add').clone()).inject(document.body).submit();
          });
         </script>
     </div>
</div>
<{/if}>

<div class="frt" style="margin-right:20px;line-height:20px;">
    <{t}>总额：<{/t}><span style="padding-right: 15px;" class="totalprice price1"><{($aCart.subtotal - $aCart.discount_amount)|cur}></span>
</div>
<div class="clear"></div>