<div class="boxGray CartInfoItems">
<h4><{t}>目前选购商品共<{/t}><span class="cartCount fontcolorOrange"><{$cartCount}></span><{t}>件<{/t}></h4>

  <{if count($trading.goods) > 0}>
  <table>
  <col style='background:#fff;'></col>
  <col style='background:#fff;'></col>
  <tbody>
    <{foreach from=$trading.goods item="item" key="key"}>
        <tr>
         <td width='45px;' valign='middle' align='center'>
                <a href="<{link app=b2c ctl=site_product act=index arg0=$item.obj_items.products.0.goods_id}>" class='goods-pic' style='dispaly:block;width:40px;height:40px;overflow:hidden;border:none;color:#fff;font-size:1px;'>

		<{assign var="gimage" value=$item.obj_items.products.0.default_image.thumbnail|default:$env.conf.site.default_thumbnail_pic}>
        <img  src="<{$gimage|storager:'s'}>" alt="<{$item.name|escape:html}>" onload="$(this).zoomImg(40,40);"/>

                </a>
          </td>
          <td>
              <a href="<{link app=b2c ctl=site_product act=index arg0=$item.obj_items.products.0.goods_id}>">
                  <{$item.obj_items.products.0.new_name}>
                  <{if $item._pmt.describe}>
                     <div class="ht1"><{$item._pmt.describe}></div>
                  <{/if}>
              </a>
               <span class="fontcolorOrange num">x<{$item.quantity}></span>
           </td>
          </tr>
    <{/foreach}>
    </tbody>
  </table>
  <{/if}>
  
  
  <{if count($trading.gift_e) > 0}>
  <h4><{t}>可获得赠品：<{/t}></h4>
  <ol class="division CartInfoContent">
    <{foreach from=$trading.gift_e item="item" key="key"}>
      <li><a href="<{link ctl=gift act=index arg0=$item.gift_id}>"><{$item.name}><span class="fontcolorOrange num">x<{$item.nums}></span></a></li>
    <{/foreach}>
  </ol>
  <{/if}>
 
  <{if count($trading.package) > 0}>
   <h4><{t}>捆绑促销商品：<{/t}></h4>
  <ol class="division CartInfoContent">
    <{foreach from=$trading.package item="item" key="key"}>
     <li><{$item.name}><span class="fontcolorOrange num">x<{$item.nums}></span></li>
    <{/foreach}>
  </ol>
  <{/if}>
      <div class='cart-goods-total'><{t}>商品总额:<{/t}><br />
        <span class="textright price1 total"><{$trading.totalPrice}></span>&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="lnk gocart" href="<{link app=b2c ctl=site_cart act=index}>" target="_blank"><{t}>进入购物车<{/t}></a>
      </div>  
</div>


