
<div class="FeedBackInfo">
<div class="error clearfix">
  <div class="span-1 pic"></div>
  <div class="span-auto ">
    <h1><{$msg}></h1>
    <{if $error_info}>
    <ol>
      <{foreach from=$error_info item=item}>
      <li>[<{$item[0]}>]<{$item[1]}>
        <{if $debug_code}>
        (<{$item[2]}>:<{$item[3]}>)
        <{/if}> </li>
      <{/foreach}>
    </ol>
    <{/if}>
    
    <{if $wait>0}>
    <p class="jumpurl"><a  href="<{if $jumpto=='back'}>javascript:history.back()<{else}><{$jumpto}><{/if}>">Please wait for <{$wait}><{t}>seconds, or clip here.<{/t}></a></p>
    <{/if}>
    
</div>
</div>
</div>

<{if $wait>0}>
<script>
function jumpurl(){
  <{if $jumpto=='back'}>history.back()<{else}>location='<{$jumpto}>'<{/if}>;
}
setTimeout('jumpurl()',<{$wait*1000}>);
</script>
<{/if}> 