<{capture name="header"}>
   <!--JAVASCRIPTS SRC-->     
    <!--JAVASCRIPTS SRC END-->

<{script src="coms/dropmenu.js"  app='desktop'}>
<{script src="coms/datapicker.js" app='desktop' }>

<{script src="coms/colorpicker.js" app='desktop' }>
<{script src="coms/editor.js" app='desktop' }>
<{script src="coms/editor_style_1.js"  app='desktop'}>

<{script src="coms/finder.js" app='desktop'}>
<{script src="coms/modedialog.js" app='desktop'}>

<{/capture}>

<div class="spage-main-box">
    
<form class="tableform" method='post' action='index.php?app=svhost&ctl=admin_serverlist&act=add_new' id="doorderpay-form">

<div class="division">
    
<h3 ><{t}>基本信息<{/t}></h3> 
<div class="tableform" >
<table border="0" cellspacing="0" cellpadding="0" class="forform">
<{foreach from=$serverlist item=item name=name key=key}>
    <{if $key%4 == 0}>
       <tr>
    <{/if}>
    
    <{if $item.type == 'select'}>
        <td><{$item.label}></td>
        <td><{input type='select' name=$item.name options=$item.options  required='true'}></td>
    <{/if}>
    <{if $item.type == 'text'}>
        <td><{$item.label}></td>
        <td><{input type='text' name=$item.name}></td>
    <{/if}>
<{/foreach}>
</table>
</div>

<h3 ><{t}>Web服务器信息<{/t}></h3> 
<div class="tableform" >
<table border="0" cellspacing="0" cellpadding="0" class="forform">
<{foreach from=$http item=item key=key}>
    <{if $key%4 == 0}>
       <tr>
    <{/if}>
    
    <{if $item.type == 'select'}>
        <td><{$item.label}></td>
        <td><{input type='select' name=$item.name options=$item.options  required='true'}></td>
    <{/if}>
    <{if $item.type == 'text'}>
        <td><{$item.label}></td>
        <td><{input type='text' name=$item.name}></td>
    <{/if}>
<{/foreach}>
</table>
</div>

<h3 ><{t}>数据库服务器<{/t}></h3> 
<div class="tableform" >
<table border="0" cellspacing="0" cellpadding="0" class="forform">
<{foreach from=$database item=item key=key}>
    <{if $key%4 == 0}>
       <tr>
    <{/if}>
    
    <{if $item.type == 'select'}>
        <td><{$item.label}></td>
        <td><{input type='select' name=$item.name options=$item.options  required='true'}></td>
    <{/if}>
    <{if $item.type == 'text'}>
        <td><{$item.label}></td>
        <td><{input type='text' name=$item.name}></td>
    <{/if}>
<{/foreach}>
</table>
</div>

<h3 ><{t}>FTP服务器<{/t}></h3> 
<div class="tableform" >
<table border="0" cellspacing="0" cellpadding="0" class="forform">
<{foreach from=$ftp item=item key=key}>
    <{if $key%4 == 0}>
       <tr>
    <{/if}>
    
    <{if $item.type == 'select'}>
        <td><{$item.label}></td>
        <td><{input type='select' name=$item.name options=$item.options required='true'}></td>
    <{/if}>
    <{if $item.type == 'text'}>
        <td><{$item.label}></td>
        <td><{input type='text' name=$item.name}></td>
    <{/if}>
<{/foreach}>
</table>
</div>

</div>

<div class="table-action"><{button type="submit"  label="保存" }></div>
</form>
</div>