<div class="ItemsWarp clearfix">
  <div class="GoodsInfoWrap PackageGoodsWrap border8"><h3>Package</h3>  <div ><{foreach from=$package item="itemlist"}>
  
 
    <div class="packagebox"> 
	      <div style="width:100%; height:33px; line-height:33px; background:#FDEDFA; color:#666666; padding-left:20px; font-weight:bold; "><{$itemlist.name}></div>
	  
	  <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#EDECEA" style="border-top:5px solid #FFFFFF;">
  <tr>
    <td style=" width:280px; padding:10px 10px 10px 50px;"> <div class="packageboxa">
           <ul >
          <{foreach from=$itemlist.items item="items"}>
          <li><a href="<{link ctl="product" act="index" arg0=$items.p_goods_id}>" target="_blank"><{$items.name}></a><br />
            <{t}>Quantity:<{/t}><strong ><{$items.pkgnum}></strong><{t}> Price:<{/t}><strong ><{$items.price|cur}></strong></li>
          <{/foreach}>
        </ul>
      </div></td>
    <td  style="vertical-align:bottom; "> <div class="packageboxb">
        <ul>
          <li ><div ><{t}>Sum：<{/t}><strong class="mktprice1"><{$itemlist.mktprice|cur}></strong></div></li>
          <li ><div ><{t}>Package Price：<{/t}><strong class="price1"><{$itemlist.price|cur}></strong></div></li>
          <{if $itemlist.mktprice > $itemlist.price && $setting.mktprice && $setting.saveprice > 0}>
          <li class="save"><div class="span-2"></div>
            <{if $setting.saveprice == 1}><{t}>节省：<{/t}><strong><{$itemlist.mktprice-$itemlist.price|cur}></strong>
            <{elseif $setting.saveprice == 2}><{t}>优惠：<{/t}><strong><{$itemlist.price/$itemlist.mktprice*100|number:'2'}>%
            <{elseif $setting.saveprice == 3}><strong><{$itemlist.price/$itemlist.mktprice*10|number:'1'}>折
			<{/if}></strong></li>
            
          <{/if}> 
          <li ><a  href="<{link ctl="cart" act="addPkgToCart" arg0=$itemlist.goods_id}>"><img src="../../../../themes/zqzyb/images/goods/addtobag.gif"/></a></li>
          </ul>
         </div>
    </td>
  </tr>
</table>

	  
	  
	  
	  
         
      
      
  
       
      

      
      
      
      <!--  <ul class="button"><li title="<{$itemlist.name}>" star="<{$itemlist.goods_id}>" class="star-off"><a class="listact" onclick="return false;" href="#"><{t}>加入收藏<{/t}></a></li><li class="vdetail"></li><li class="addcart"></li></ul>-->
    </div>
    <{/foreach}> </div> <div  style="clear:both;"></div> </div>
  <{pager data=$pager}> </div>
