<{if count($goodsItems) > 0}>
<div class="division">
  <div  class="table-grid">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="gridlist">
      <thead>
      <th><{t}>货号<{/t}></th>
        <th><{t}>商品名称<{/t}></th>
        <th><{t}>分类<{/t}></th>
        <th><{t}>价格<{/t}></th>
        <th><{t}>购买量<{/t}></th>
        <th><{t}>已发货量<{/t}></th>
      </tr>
      </thead>
      
      <{foreach from=$goodsItems item=aGoods name="item"}>
        <tr>
          <td width="19%"><{$aGoods.bn}></td>
          <td class="textleft" width="30%"><a href="<{$aGoods.link}>" target="_blank"><{$aGoods.name}>
            <{if $aGoods.minfo && is_array($aGoods.minfo)}>
            <{foreach from=$aGoods.minfo item=minfo key=name}> <br>
            <{$minfo.label}>：<{$minfo.value}>
            <{/foreach}>
            <{/if}></a><{if $aGoods.is_type == 'goods' && $aGoods.small_pic}> <a style='text-decoration:none;' class='x-view-img' href='javascript:void(0);' imgsrc='<{$aGoods.small_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>'  title='<{$aGoods.name}>'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <{/if}> </td>
          <td width="12%" ><{$aGoods.item_type}></td>
          <td class="Colamount" width="15%"><{$aGoods.price|cur_odr:$order.currency}></td>
          <td class="Colamount" width="15%"><{$aGoods.quantity}></td>
          <td class="Colamount"><{$aGoods.sendnum}></td>
        </tr>
      <{if $aGoods.adjunct}>
      <tr>
        <td colspan="6" style="padding:0 0 0 20px;  background:#F7FAFB"><div style="padding-left:40px; border-bottom:1px solid #E8E8E8;  font-weight:bold; text-align:left"><{t}>商品配件<{/t}></div>
          <table  border="0" align="center"cellpadding="0" cellspacing="0" style=" background:#F7FAFB" >
            <{foreach from=$aGoods.adjunct item=ajuncts name="ajunctsItem"}>
            <tr>
              <td width="19%" style="border:none;"><{$ajuncts.bn}></td>
              <td class="textleft" width="30%" style="border:none;"><a href="<{$ajuncts.link}>" target="_blank"><{$ajuncts.name}>
                <{if $ajuncts.minfo && is_array($ajuncts.minfo)}>
                <{foreach from=$ajuncts.minfo item=minfo key=name}> <br>
                <{$minfo.label}>：<{$minfo.value}>
                <{/foreach}>
                <{/if}></a><{if $ajuncts.is_type == 'goods' && $ajuncts.small_pic}> <a style='text-decoration:none;' class='x-view-img' href='javascript:void(0);' imgsrc='<{$ajuncts.small_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>'  title='<{$ajuncts.name}>'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <{/if}> </td>
              <td width="12%" style="border:none;" ><{$ajuncts.item_type}></td>
              <td class="Colamount" width="15%" style="border:none;"><{$ajuncts.price|cur_odr:$order.currency}></td>
              <td class="Colamount" width="15%" style="border:none;"><{$ajuncts.quantity}></td>
              <td class="Colamount" style="border:none;"><{$ajuncts.sendnum}></td>
            </tr>
            <{/foreach}>
          </table></td>
      </tr>
      <{/if}>
      <{if $aGoods.gifts}>
      <tr>
        <td colspan="6" style="padding:0 0 0 20px;" ><div style=" border-bottom:1px solid #ddd;padding-left:40px;font-weight:bold; background:#F4F4F4;text-align:left"><{t}>商品赠品<{/t}></div>
        <table cellpadding="0" cellspacing="0" border="0">
      <{foreach from=$aGoods.gifts item=gifts name="giftsItem"}>
      <tr>
        <td width="19%" ><{$gifts.bn}></td>
        <td class="textleft" width="30%"><a href="<{$gifts.link}>" target="_blank"><{$gifts.name}>
          <{if $gifts.minfo && is_array($gifts.minfo)}>
          <{foreach from=$gifts.minfo item=minfo key=name}> <br>
          <{$minfo.label}>：<{$minfo.value}>
          <{/foreach}>
          <{/if}></a><{if $gifts.small_pic}> <a style='text-decoration:none;' class='x-view-img' href='javascript:void(0);' imgsrc='<{$gifts.small_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>'  title='<{$gifts.name}>'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <{/if}> </td>
        <td width="12%" ><{$gifts.item_type}></td>
        <td class="Colamount" width="15%" ><{$gifts.price|cur_odr:$order.currency}></td>
        <td class="Colamount" width="15%" ><{$gifts.quantity}></td>
        <td class="Colamount" ><{$gifts.sendnum}></td></tr>
      
      <{/foreach}>
     </table></td></tr> 
      <{/if}>
      <{/foreach}>
      <{if $giftItems}>
      <tr>
        <td colspan="6" style="border:none;padding:0" ><div style=" border-bottom:1px solid #ddd;font-weight:bold;background:#F4F4F4;  padding-left:50px; text-align:left"><{t}>优惠赠品<{/t}></div></td>
      </tr>
      <{foreach from=$giftItems item=aGoods name="item"}>
      <tr>
        <td width="19%"><{$aGoods.bn}></td>
        <td class="textleft"><a href="<{$aGoods.link}>" target="_blank"><{$aGoods.name}></a> <{if $aGoods.small_pic}> <a style='text-decoration:none;' class='x-view-img' href='javascript:void(0);' imgsrc='<{$aGoods.small_pic|default:$env.conf.site.default_thumbnail_pic|storager:'s'}>'  title='<{$aGoods.name}>'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a> <{/if}> </td>
        <td width="12%"><{$aGoods.item_type}></td>
        <td class="Colamount"><{$aGoods.price|cur_odr:$order.currency}></td>
        <td class="Colamount"><{$aGoods.quantity}></td>
        <td class="Colamount"><{$aGoods.sendnum}></td>
      </tr>
      </td>
      </tr>
      <{/foreach}><{/if}> 
    </table>
    </div>
</div> 

<script> 
$$('.x-view-img').each(function(item){
		 item.store('tip:text','<div style="width:220px;height:220px;overflow:hidden;"><img  src="'+item.get('imgsrc')+'" onload="$(this).zoomImg(220,220);" /></div>');
	     Xtip.attach(item);
});
</script>
 <{/if}>