 <div class="poll_block">
    <div class="pollThumb">
        __poll_picture__
    </div>
    <div class="poll_section">
        <!-- poll's container -->
        <div class="pollBlock" >
            <div class="pollCaption">__private_caption__</div>
            <div class="pollAnswerBlock">
                <table cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="corner"><img alt="corner" src="__l_t_side__"/></td>
                            <td class="spacer" style="background-image:url(__t_side__)"><img src="__spacer__" alt="spacer" /></td>
                            <td class="corner"><img alt="corner" src="__r_t_side__" /></td>
                        </tr>
                        <tr>
                            <td style="background-image:url(__l_m_side__)"><img src="__spacer__" alt="spacer" /></td>
                            <td class="poll">
                              <div class="poll_wrapper poll_wrapper_private" style="background-image: url(__lock_img__);">
                                <img src="__spacer_img__" />
                              </div>
                              <div class="clear_both"></div>
                            </td>
                            <td style="background-image:url(__r_m_side__)"><img src="__spacer__" alt="spacer" /></td>
                        </tr>
                        <tr>
                            <td class="corner"><img alt="corner" src="__l_b_side__"/></td>
                            <td class="spacer" style="background-image:url(__b_side__)"><img src="__spacer__" alt="spacer" /></td>
                            <td class="corner"> <img alt="corner" src="__r_b_side__"/></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="poll_info">
            <div class="owner_info">
                &nbsp;
            </div>
            <div class="clear_both"></div>
        </div>
    </div>
    <div class="clear_both"></div>
</div>