<h2 class="head-title">缓存管理</h2>
<{if $enable == 'true'}>
<div class="tabs-wrap"><ul>
<li class="tab <{$status}>"><span><a id="status" href="index.php?app=desktop&ctl=cachemgr&act=status">查看状态</a></span></li>
<li class="tab <{$optimize}>"><span><a id="optimize" href="index.php?app=desktop&ctl=cachemgr&act=optimize">优化缓存</a></span></li>
<li class="tab <{$clean}>"><span><a id="clear" href="index.php?app=desktop&ctl=cachemgr&act=clean">清空缓存</a></span></li>
</ul>
</div>
<{else}>
<p class="notice">
系统没有启用缓存
</p>
<{/if}>