<form class="tableform" method="post" action="index.php?ctl=member/messenger&act=send&p[0]=<{$messenger}>" >




<h4><{t}>收件人<{/t}></h4>
<div class="division">
<{if $filter}>
    符合以下条件：
    <{filter type="member" from=$filter name="filter"}>
    <{else}>
      <{foreach from=$members item=member}>
      <span><input type="hidden" name="targets[<{$member.member_id}>]" value="<{$member.target}>" /><{$member.uname}> &lt;<em style="color:#009"><{$member.target}></em>&gt;;</span>&nbsp;
      <{/foreach}>
      <{if $badListCount > 0 }>
      <div class="error">
        <h5><{t}>以下<{/t}><{$badListCount}><{t}>位会员由于没有填写<{/t}><{$sender.name}><{t}>联系方式，将无法收到信息。<{/t}></h5>
             
          <{foreach from=$badList item=member}>
          <span><{$member.uname}>(<{$member.member_id}>),</span>&nbsp;
          <{/foreach}>
      </div>
      <{/if}>
    <{/if}>
</div>

<{if $sender.hasTitle}>
<h4><{t}>标题<{/t}></h4>
<div class="division">
<{input type="text" name="title" }>
</div>
<{/if}>

<h4><{t}>信息内容<{/t}></h4>
<div class="division">
 <{input type=$type name="content" }>
</div>

<table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
  <tr>
    <td><b class="submitBtn"><input type="submit" value="发送"/></b></td>
  
  </tr>
</table>


</form>