<div class="bx_sites_unit">
    <div class="bx_sites_unit_checkbox">
        <input type="checkbox" name="entry[]" value="__id__" />
    </div>
    <div class="bx_sites_unit_thumb110" style="background-image: url(__image__);">
        <a href="__site_url__"><img src="__spacer__"/></a>
    </div>
    <div class="bx_sites_unit_content">
        <div class="bx_sites_unit_row">
            <div class="bx_sites_unit_title">
                <a class="bx_sites_unit_title_link" href="__site_url__">__title__</a>
            </div>
        </div>
        <div class="bx_sites_unit_row bx_sites_unit_info">
            <span>__date__</span>
            <span>__comments__</span>
            <span>__owner_str__<a href="__owner_url__">__owner__</a></span>
            <span>__cats_str__&nbsp;__cats__</span>
            <span>__tags_str__&nbsp;__tags__</span>
        </div>
        <div class="bx_sites_unit_row bx_sites_unit_description">
            <a href="__url__" class="link_site" target="_blank">__url_title__</a>&nbsp;&mdash;&nbsp;__description__
        </div>
    </div>
</div>
