<div id='goods-products-list' class='goods-products-list'>
<div class='goods-products-list-box'>
	<table width="100%" cellpadding="3" cellspacing="0" class="liststyle">
        <{foreach from=$specShowItems item=spec}>
            <col class='ColColorBlue'></col>
        <{/foreach}>
        <col></col>
        <col></col>
        <col></col>
		<thead>
			<tr>
				<{foreach from=$specShowItems item=spec key=key}>
					<th><{$spec}></th>
				<{/foreach}>
                <th>货号</th>
                <th>价格</th>
                <{if $env.conf.site.show_storage=="true"}><th>库存</th><{/if}>
			</tr>
		</thead>
		<tbody>
		<{foreach from=$goods.product item=item}>
		<tr productId="<{$item.product_id}>" <{if $item.store!==null && $item.store !=='' && ($item.store - $item.freez <= 0)}>class='nostore' title='此货品缺货'<{/if}>>
			<{foreach from=$item.spec_desc.spec_value key=key item=value}>
			<td><{$value}></td>
			<{/foreach}>
			<td class="ident"><{$item.bn}></td>
			<td class="price"><{$item.price.price.price}></td>
            <{if $env.conf.site.show_storage=="true"}><td class="store"><{if $item.store!==null && $item.store !=='' && ($item.store - $item.freez <= 0)}>缺货<{else}><{$item.store}><{/if}></td><{/if}>
		</tr>
		<{/foreach}>
		</tbody>
	</table>
    </div>
 </div>