<div class="album_preview">
	<object id="o" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="100%" height="__height__">
	    <param name="movie" value="__swf_url__" />
	    <param name="allowFullScreen" value="true" />
	    <param name="allowScriptAccess" value="always" />
	    <param name="flashvars" value="feed=__rss_url__" />
	    <embed type="application/x-shockwave-flash"
	           src="__swf_url__"
	           flashvars="feed=__rss_url__"
	           width="100%" 
	           height="__height__" 
	           allowFullScreen="true"
	           allowScriptAccess="always">
	    </embed>
	</object>
</div>