<form action="index.php?ctl=service/certificate&act=del"  method="POST" enctype="multipart/form-data">
<div class="tableform">
<h4><{t}>ShopEx证书清空<{/t}></h4>
清空前请输入超级管理员用户名和密码。
<div class="division">
<table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
  <tr>
  <td colspan=2></td>
  </tr>
  <tr>
  <td align="right" style="width:90px"><{t}>管理员用户名：<{/t}></td><td><input type="text" name="username"></td>
  </tr>
  <tr>
  <td align="right"><{t}>管理员密码：<{/t}></td><td><input type="password" name="userpass"></td>
  </tr>
  <tr>
     <td colspan=2 align="center"><b class="submitBtn"><input  type="submit" value='清空证书'></b></td>
  </tr>
</table>
</div></div>
</form>