<form action='index.php?ctl=system/setting&act=siteBasicEdit' method='post' class="settingform" id="site_basic" enctype="multipart/form-data">
  <input type='hidden' name='returl' value='index.php?ctl=system/setting&act=siteBasic' />
  <div class="tableform">
    <table width="100%" border="0" cellpadding="0" cellspacing="0" ><tr><td>
       <h4><{t}>商店基本设置<{/t}></h4>
       </td><td style="text-align:right; padding-right:10px;"><{help docid="64" type="link"}>点击查看帮助<{/help}></td></tr></table>
    <div class="division" style="position:static;">
      <table width="100%" border="0" cellpadding="0" cellspacing="0"  class="shopping_setting">
      <tr>
	      <th>商店名称：</th>
          <td><{setting key="system.shopname" namespace="setting" display='false'}><br /><span class="fontcolorGray">如果需要自定义商店首页Title标题，请到：营销推广 >> SEO设置 中调整</span></td>
	  </tr>
	  <{if $saas_mode != true}> 
      <tr>
	      <th>商店网址：</th>
          <td><{setting key="store.shop_url" namespace="setting" display='false'}><br /><span class="fontcolorGray">请正确填写您的商店网址，否则会导致前台显示排版错误。网址URL请加上前缀<font color='red'>http://</font>，后缀<font color='red'>/</font></span></td>
	  </tr>
	  <{/if}>
      <tr>
	      <th>商店Logo：</th>
          <td><div id="sitelogo"><{setting key="site.logo" namespace="setting" display='false'}></div></td>
	  </tr>
	  
      <tr>
	      <th>商店地址：</th>
          <td><div id="address"><{setting key="store.address" namespace="setting" display='false'}></div></td>
	  </tr>
	  
      <tr>
	      <th>商店电话：</th>
          <td><div id="telephone"><{setting key="store.telephone" namespace="setting" display='false'}></div></td>
	  </tr>
	  
      <tr>
	      <th>商店邮编：</th>
          <td><div id="zip_code"><{setting key="store.zip_code" namespace="setting" display='false'}></div></td>
	  </tr>
	  <tr>
	      <th>商店邮箱：</th>
          <td><div id="email"><{setting key="store.email" namespace="setting" display='false'}></div></td>
	  </tr>
	   </table>
       </div>
	
    <h4><{t}>其它设置<{/t}></h4>
        <div class="division">
      <table width="100%" border="0" cellpadding="0" cellspacing="0"  class="shopping_setting">
      <tr>
	      <th>备案号：</th>
          <td><{setting key="site.certtext" namespace="setting" display='false'}><span class="notice_inline">此处填写您在工信部备案管理网站申请的备案编号，详请登陆<a href="http://www.miibeian.gov.cn" target="_blank">官方网站</a></span></td>
	  </tr>
      <tr>
	      <th>商品库存报警数量：</th>
          <td><{setting key="system.product.alert.num" namespace="setting" size='2' display='false'}>
			 &nbsp; <{help}>如果商品库存数量低于报警数量，系统上方会实时提醒您补充库存，点击提醒可以直接查看所有需要补货的商品<{/help}>
          </td>
	  </tr>
      <tr>
	      <th>后台登陆启用验证码：</th>
          <td><{setting key="system.admin_verycode" namespace="setting" display='false'}></td>
	  </tr>
	  <tr>
	      <th>上传最大尺寸：</th>
          <td><{setting key="system.upload.limit" namespace="setting" display='false'}><span class="notice_inline">注意：请谨慎选择，如果空间服务商配置有限制，尺寸过大可能会导致商店系统瘫痪</span></td>
	  </tr>
     <{*
       <tr>
	      <th>后台启用可视化编辑器：</th>
          <td><{setting key="system.editortype" namespace="setting" display='false'}> &nbsp; 
			<{help}>如果不开启，后台所有用到编辑器的区域均使用HTML代码编辑器替换，可以提高系统运行效率<br /><br />影响的区域包括：商品的详细介绍修改、支付方式/配送方式的详细介绍修改等<{/help}></td>
	  </tr> *}>
      <{if $auth_type=="commercial"}>
      <tr>
          <th>前台是否显示授权标志：</th>
          <td><div id="green"><{setting key="store.greencard" namespace="setting" display='false'}></div></td>
      </tr>
      <{/if}>
	   </table>
       </div>
    </div>
    
<!--     <div class="division">
  <p><{setting key="site.offline_pay" namespace="setting"}></p>
</div> -->
<table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
      <tr>
    <td><b class="submitBtn"><input  type="submit" value="保存" id="on_submit"/></b></td>
      </tr>
    </table>
</form>
<script>
	var logo=$('sitelogo').getElement('img');
	if(logo){
		$('sitelogo').setStyles({'float':'none','position':'static'});
		logo.setStyles({'float':'none','position':'static'});
		new Element('div').injectAfter(logo);
	}	
</script>
