/*
Theme Design: shopex官方认证的网店模板设计服务商 - 莎菲设计
Theme URI: http://www.saffidesign.com/
Contact US: QQ:914127640  E-mail:saffilai@yahoo.cn
*/

/*=底部样式
===================================================================*/
#foot{
        width:100%;
        text-align:center;
	background:url(ybgx_05.jpg) repeat-x;
}
.footmain{
        width:1007px;
        margin:0 auto;
}
.footlogo{
        float:left;
        width:217px;
        height:88px;
        text-align:center; 
        margin-top:20px;
}
.footinfo{
        float:left;
        width:770px;
        margin:10px 0 0 20px;
        text-align:center;
}
.footinfo .cat1{
        float:left;
        padding:0 15px;
        color:444;
        line-height:32px;
}