<script type="text/javascript">
    oCustomizer = new BxProfileCustimizer();
    
    oCustomizer.sReset = '<bx_text:_bx_profile_customize_js_reset />';
    oCustomizer.sErrThemeName = '<bx_text:_bx_profile_customize_js_err_theme_name />';
    oCustomizer.sErrChooseTheme = '<bx_text:_bx_profile_customize_js_err_choose_theme />';
    oCustomizer.sDeleteTheme = '<bx_text:_bx_profile_customize_js_delete_theme />';
    oCustomizer.sResetPage = '<bx_text:_bx_profile_customize_js_reset_page />';
</script>
<div id="__name_id__">
    __box_content__
</div>
