<h1 class="title"><{t}>充值到预存款<{/t}></h1>
<form action="<{link ctl="paycenter" act="recharge"}>" method="post"  class="section">
  <input type="hidden" name="member_id" value="<{$member_id}>" />
    
  <div class="FormWrap">
    <div class="division">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="forform">
  <tr>
    <th><{t}>输入充值金额：<{/t}></th>
    <td><{input class="inputstyle" type="number" name="money" required="true"}></td>
  </tr>
    <tr>
    <th><{t}>选择支付币别：<{/t}></th>
    <td><{input type="select" id="payment-cur" name="payment[currency]" rows=$currencys valueColumn="cur_code" labelColumn="cur_name" value=$currency}></td>
  </tr>
</table>
</div>
    <div class="division">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="forform">
  <tr>
    <th><{t}>选择支付方式：<{/t}></th>
    <td id="paymentlist"><{require file="common/paymethod.html"}></td>
  </tr>
    <tr>
    <th></th>
    <td><input class="btnstyle" type="submit" value="点击立刻付款" /></td>
  </tr>
</table>
</div></div>

</form>
<script>
$('payment-cur').addEvent('change', function(e){
  e=new Event(e);
  var ipt=e.target;
  new Ajax('./?cart-online-payment.html',{update:'paymentlist', data:'cur='+ipt.options[ipt.selectedIndex].value, method:'post'}).request();
});
</script>