<h1 class="title"><{t}>缺货登记<{/t}></h1>
<!--//todo 页面信息判断（是否到货，是否被删除）-->
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="liststyle data GoodsSearchWrap ">
    <colgroup class="span-3 textleft"></colgroup>
    <colgroup class="textleft"></colgroup>
    <colgroup class="span-3"></colgroup>
  <tr>
<{foreach from=$notify item=good}>
    <td class="textcenter">
      <{if $good.store >= 0 || $good.store ==''}><a href="<{link ctl="product" act="index" arg0=$good.goods_id}>" title="<{$good.name}>"><{/if}>
        <img src="<{$good.image_default|gimage:'thumbnail'}>" width="<{$env.thumbnail_pic_width}>" height="<{$env.thumbnail_pic_height}>" alt="<{$good.name}>"/></a></td>
    <td><h3><{if $good.store >= 0 || $good.store ==''}><a href="<{link ctl="product" act="index" arg0=$good.goods_id}>" target="_blank"><{/if}><{$good.name}><{if $good.pdt_desc}> (<{$good.pdt_desc}>)<{/if}></a></h3>
<a  href="<{link ctl="member" act="delNotify" arg0=$good.gnotify_id}>"><{t}>删除<{/t}></a>&nbsp;&nbsp;
<{if $good.store >= 0 || $good.store ==''}><a href="<{link ctl="product" act="index" arg0=$good.goods_id}>"><{t}>查看详情<{/t}></a><{/if}></td>           
    <td><{if $good.store > 0 || $good.store ==''}><{t}>已到货<{/t}><{else}><{t}>缺货<{/t}><{/if}></td>
    <td><ul>
    <li><span class="price1"><{$good.price}></span></li>
        <li><{t}>市场价：<{/t}><span class="mktprice1"><{$good.mktprice}></span></li>
  </ul></td>
  </tr>
<{/foreach}>
</table>

<{pager data=$pager}>