<h1 class="title"><{t}>我的积分<{/t}></h1>
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:20px; border-bottom:3px solid #efefef;border-top:3px solid #efefef;">
  <tr>
    <td width="20%" valign="top" nowrap="nowrap" ><div style="border:2px solid #f2f2f2; padding:5px; text-align:center; margin:20px auto;line-height:30px; margin:20px;">your points now :
        <div style="font-size:30px; color:#f60;"><{$total}></div>
      </div></td>
    <td style="margin:20px; padding-left:20px; border-left:1px dotted #ccc;">
    <h3><{t}>积分规则:<{/t}></h3>
    <ol>
      <li>当积分已达到某一兑换积分标准时，顾客可将累计积分依照网站相应积分及兑换标准兑换回馈商品，网站将即时从用户会员积分中扣减相应积分。
      <li>各项回馈项目（包含各项商品、服务或抵用券等）及兑换标准及兑换规则均以兑换当时最新回馈活动公告或目录为准。
      <li>部分兑换商品有数量限制的，兑完为止。
      <li>公告或目录如有有效期限的，逾期即不得兑换。
      <li><{t}>积分兑换区的商品为只可用积分兑换的商品(如积分价格：100积分)<{/t}></li>
    </ol>
      </td>
  </tr>
</table>

  <table width="100%" cellpadding="3" cellspacing="0" class="liststyle">
  
 <colgroup class="span-4 ColColorGray"></colgroup>
<colgroup class="span-2 ColColorOrange"></colgroup>
<colgroup class="textleft"></colgroup>
    <thead>
      <tr>
        <th><{t}>日期<{/t}></th>
        <th><{t}>积分<{/t}></th>
        <th><{t}>摘要<{/t}></th>
       
      </tr>
    </thead>
    <tbody>
    <{if count($historys)>0}>
    <{foreach from=$historys item="logs"}>
    <tr>
      <td><{$logs.time|cdate:FDATE_STIME}></td>
       <td><{$logs.point}></td>
       <td class="textleft"><{$logs.describe|escape:'html'}></td>
    </tr>
    <{/foreach}>
    <{else}>
    <tr>
      <td height="60" colspan="3"><{t}>尚无积分历史<{/t}></td>
    </tr>
    <{/if}>
    </tbody>
    
    
  </table>
  <table width="100%" cellpadding="3" cellspacing="0"  class="liststyle data">
 <colgroup class="ColColorGray"></colgroup>
<colgroup class="span-2 ColColorOrange textright"></colgroup>
      <tr>
        <th ><{t}>消费积分总计：<{/t}></th>
        <td ><{$total_c}></td>
      </tr>
      <tr>
        <th ><{t}>获得积分总计：<{/t}></th>
        <td ><{$total_g}></td>
      </tr>
      <tr>
        <th><{t}>剩余可用积分：<{/t}></th>
        <td><{$total}></td>
      </tr>
      </td>
      
    </table>
  <{pager data=$pager}>
