
<form action='index.php?ctl=system/debug&act=editShopMode' method='POST' class="tableform">
  <div class="notice"><{t}>当您的商店需要暂停营业的时候，您可以在下面输入框输入停业公告，并点击下面“暂停营业”按钮，这样当用户访问商店的时候就会看到商店关闭停业的通知，并且无法访问商店的任何链接。<{/t}><BR>
    当您需要恢复营业的时候，点击“开启商店”按钮即可。</div>
  <div class="division">
    <table>
      <tr>
        <th><{t}>商店当前状态：<{/t}></th>
        <td><{if $systemShopMode==1}><{t}>正常营业中<{/t}><{else}><{t}>暂停营业<{/t}><{/if}></td>
      </tr>
    </table>
    <table>
      <tr>
        <td><input type='hidden' id="value_shop_mode" name='shop_mode' />
            <{input type="html" name="announcement" value=$announcement}>        </td>
      </tr>
    </table>
  </div>
  <table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
    <tr> <{if $systemShopMode==1}>
      <td><b class="submitBtn">
        <input type="submit" value="暂停营业" onclick="$('value_shop_mode').value=1">
        </b></td>
      <{else}>
      <td><b class="submitBtn">
        <input type="submit" value="更新停业公告" onclick="$('value_shop_mode').value=1">
        </b></td>
      <td><b class="submitBtn"><a href='index.php?ctl=system/debug&act=editShopMode' onclick="$('value_shop_mode').value=0"><{t}>开启商店<{/t}></a></b></td>
      <{/if}> </tr>
  </table>
</form>
