.site_container
{
    padding: 5px;
    overflow: hidden;
}

.site_container .image
{
    float: left;
/*    width: 110px;
    height: 110px;
    border: 1px solid silver;*/
    margin-right: 5px;
}

.site_container .image .img
{
   border: none;
}

.site_container .content
{
    overflow: hidden;
    padding: 1px;
}

.content a
{
    font-size: 12px;
    font-weight: bold;
    color: #3333cc;
}
