/* my style tags */

/* Cool colors
	#86b1cd - blue ?? gardenia */

/* main tags */

body {
	margin: 0;
	padding: 0;
	font-family: sans, Verdana, sans-serif;
}

div.faixa {
	background-image: url("../images/t2tpowered.png");
}

/*
h1, h2, h3, h4, h5, h6 {
	font-family: sans, Verdana, sans-serif;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
}
*/

a {
	color: black;
	text-decoration: underline;
}

/*
 * txt2tags built-in classes
 * - header
 * - toc
 * - body
 */

div.header * {
	font-family: Verdana, sans-serif;
	padding-left: 20px;
}

div.header {
	border-bottom: 2px solid #c0c0c0; 
}

div.header h1 {
	color: white;
	font-family: "Courier New", Courier, monospace;
	font-size: 18pt;
	margin: 0;
	padding: 20px;
	background: #3B80AE;
}

div.header h2 {
	font-size: 10pt;
	margin: 0;
	padding: 10px;
	padding-left: 20px;
	padding-bottom: 0px;
}

div.header h3 {
	font-style: italic;
	font-size: 10pt;
	margin: 0;
	padding: 10px;
	padding-left: 20px;
}



div.toc {
	padding-bottom: 6px;
	border-bottom: 2px solid #c0c0c0;
}


div.toc > img:first-child {
	padding-top: 20px;
	padding-left: 20px;
}

div.toc ul {
	margin:  0px;
}

div.body hr.heavy {
	border: 0;
	background-color: #c0c0c0;
	height: 2px;
}

div.body hr.light {
	border: 0;
	background-color: #c0c0c0;
	height: 1px;
}

div.body {
	font-size: 10pt;
	margin: 20px;
}

div.body p > img {
	margin-right: 15px;
	margin-left: 15px;
	border: 1px solid black;
}

div.body h1, h2, h3, h4, h5 {
	font-size: 16pt;
	font-family: serif;
	/*
	border-bottom: 1px solid black;
	*/
}


div.body h2 {
	border-bottom: 1px solid black;
}

div.body h3 {
	background: #c0c0c0;
	border-bottom: 1px solid black;
	border-left: 5px solid black;
	padding-left: 5px;
}

div.body h4 {
	font-size: 11pt;
	font-family: serif;
}


div.body p {
	/* text-align: justify; */
	line-height: 1.5;
}

div.body table {
	font-size: inherit;
	text-align: center;
	border-collapse: collapse;
	border: 1px solid black;
	line-height: 1.5;
}

div.body table th {
	background: #c0c0c0;
	padding: 7px;
}

div.body code {
  color: #3B80AE;
}

div.body pre {
	background: whitesmoke;
	border: dashed 1px silver;
	padding: 15px;
	line-height: 1.1;
}

div.body a code {
	text-decoration: underline;
}

div.notes {
	margin-bottom: 20px;
}

div.notes > blockquote:first-child {
	color: black;
	background: #c9c9c9;
	border: 0;
	margin: 0;
	padding: 0;
	text-align: center;
}

div.topmenu {
	float: right;
	width: 30%;
	text-align: center;
	padding: 5px;
	margin: 10px;
	/* border: thin dotted black; */
}

div.topmenu p {
	margin: 0;
}

div.foto img {
	margin: 15px;
}

div.notes {
	color: black;
	background: #c9c9c9;
	line-height: 3;
}

div.links {
	color: black;
	background: #c9c9c9;
	line-height: 2;
	border: double black;
	margin: 10px;
	padding: 10px;
	text-align: left;
	font-size: smaller;
}

div.links ul {
	list-style-type: decimal-leading-zero;
}

div.links blockquote {
	text-align: center;
	padding: 0;
	margin: 0;
}

div.links img {
	margin: 5px;
}

div.links a {
	font-weight: bold;
}

div.links h1 {
	color: white;
	background: #3B80AE;
	border: 1px solid black;
	margin: 0;
	padding: 0;
	font-size: larger;
	text-align: center;
}

div.powered {
	margin: 10px;
	padding: 10px;
	background: #c9c9c9;
	border: double black;
}

div.powered img {
	margin: 3px;
}

div.bottom {
	color: #c0c0c0;
	text-align: center;
	border-top: 1px solid #c0c0c0;
	margin: 0;
}

div.mainbody {
	width: 65%;
	padding: 10px;
	margin: 10px;
	font-size: 8pt;
	line-height: 1.5;
}

div.mainbody p > img {
	margin-right: 15px;
	margin-left: 15px;
	border: solid;
}

div.mainbody h1 {
	font-size: 10pt;
	text-align: right;
	border: 1px solid #c0c0c0;
	border-right: 5px solid #c0c0c0;
	padding-right: 10px;
}

div.mainbody h2 {
	font-size: small;
	text-align: left;
	/* border-bottom: 1px solid black; */
}

div.mainbody h3 {
	font-size: larger;
	border-bottom: 2px solid #c0c0c0;
}

div.mainbody blockquote {
	font-style: italic;
	text-align: center;
}

div.blogheader {
	padding: 5px;
	font-size: 10pt;
	border: 1px dashed black;
	vertical-align: middle;
}

div.blogdate {
	/* width: 30%; */
	padding: 0px;
	font-size: 10pt;
}

div.blogtitle {
	float: right;
	padding: 0px;
	font-size: 10pt;
}

/* custom pre tags - for code  */
div.body pre.src {
	padding: 15px;
	background: whitesmoke;
	border: dashed 1px silver;
	line-height: 1.1;
}

div.body pre.shell { 
	padding: 3px;
	background: black;
	color: white;
	border: 1px solid black;
}