<form action="index.php?ctl=goods/gtype&act=toSave" method="post" onsubmit='$("props_tmpl").remove();'>
  <input type="hidden" name="type_id" value=<{$gtype.type_id}>>
  <table width="100%" border="0" cellpadding="0" cellspacing="0" ><tr><td style="text-align:right;padding-top:3px;padding-right:10px;"><{help docid="72" type="link"}>点击查看帮助<{/help}></td></tr></table>
    <{tabber}>
    <div style="padding:5px; border:1px solid #dddddd; margin-left:5px; margin-right:5px; *margin-top:1px;">
        <{tab name="基本设置"}>
        <{include file="product/gtype/name.html"}>
        <{/tab}><{if $gtype.setting.use_props}><{tab name="扩展属性"}>
        <{include file="product/gtype/props_form.html"}>
        <{/tab}>
        <{/if}>
        <{tab name="规格"}>
        <{include file="product/gtype/spec_form.html"}>
        <{/tab}>
        <{if $gtype.setting.use_params}>
        <{tab name="详细参数表"}>
        <{include file="product/gtype/params_form.html"}>
        <{/tab}>
        <{/if}>
        <{if $gtype.setting.use_minfo}>
        <{tab name="购物必填信息"}>
        <{include file="product/gtype/minfo_form.html"}>
        <{/tab}>
        <{/if}>
    </div>
    <{/tabber}>
 <div style="clear:both"></div>
<table border="0" align="left" cellpadding="0" cellspacing="0" class="tableAction">
  <tr>
    <td style="width:200px"></td><td><b class="submitBtn" ><input type="submit" value="保存"></b></td>
  </tr>
</table>
</form>