<form class="tableform" action="index.php?ctl=order/delivery_centers&act=save_data" method="post">
	<{if $dly_center.dly_center_id}>
	<input type="hidden" name="dly_center_id" value="<{$dly_center.dly_center_id}>" />
	<{/if}>
  <h4><{t}>添加发货地址信息<{/t}></h4>
 <div class="division">
 <table border="0" cellspacing="0" cellpadding="0">
   <tr>
     <td><table border="0" cellpadding="0" cellspacing="0">
       <tr><th><{t}>发货点名称：<{/t}></th>
         <td colspan="3"  >
           <input name="name" value="<{$dly_center.name}>" size="10" style="width:145px;"  class="item itemrow _x_ipt" autocomplete="off"/>
        </td>
         </tr>
         <tr>
           <th>发货人姓名：
               
          </th>
					 <td><input name="uname" value="<{$dly_center.uname}>"  size="10" style="width:80px;"  class="item itemrow _x_ipt" id="input2" autocomplete="off"/></td>
           <th>gender：
               
           </th>
           <td >
			<label>
				<input name="sex" type="radio" value="male" <{if $dly_center.sex neq "famale"}>checked="checked"<{/if}> /><{t}>先生<{/t}></label>
             <label>
				<input type="radio" name="sex" value="famale" <{if $dly_center.sex eq "famale"}>checked="checked"<{/if}> /><{t}>士<{/t}></label>
			 </td>
           </tr>
         <tr>
           <th><{t}>地区：<{/t}></th>
           <td >
           
             <{input type="region" name="region" value=$dly_center.region}></td>
             <th> 邮编：  </th>
             <td> <input style="width:90px;"  size="6" name="zip" value="<{$dly_center.zip}>" class="item itemrow _x_ipt" autocomplete="off"/> 
		  </td>
           </tr>
         <tr>
           <th><{t}>地址：<{/t}></th>
           <td colspan="3"><input type="unsigned" name="address" value="<{$dly_center.address}>" size="50" style="width:400px;"   class="item itemrow _x_ipt" autocomplete="off"/></td>
           </tr>
         <tr>
           <th><{t}>手机：<{/t}></th>
           <td><input size="36" name="cellphone" value="<{$dly_center.cellphone}>" style="width:145px;" class="item itemrow _x_ipt" autocomplete="off"/></td>
           <th><{t}>电话：<{/t}></th>
           <td><input size="36" name="phone" value="<{$dly_center.phone}>" style="width:145px;"  class="item itemrow _x_ipt" autocomplete="off"/></td>
           </tr>
           
           <tr><th>&nbsp;</th>
             <td colspan="3"><input type="checkbox" name="is_default" id="is_default_dc" <{if $default_dc}>checked="checked"<{/if}> /> 
               <label for="is_default_dc"><{t}>设置为默认地址<{/t}></label></td>
            </tr>
         <tr>
           <th><{t}>备注：<{/t}></th>
           <td colspan="3"><textarea name="memo" style="width:395px;" cols="45" rows="5"><{$dly_center.memo|escape:'html'}></textarea></td>
           </tr>
       </table>
       </td>
   </tr>
 </table>
 </div>

<table cellspacing="0" cellpadding="0" border="0"  class="tableAction">
  <tbody><tr>
    <td><b class="submitBtn"><input type="submit" value="提交" name="butsubmit"/></b></td>

  </tr>
</tbody></table>
</form>
