body {margin:0px; padding:0; font-size:12px; text-align:center; font-family:Arial, Helvetica, sans-serif,"宋体"; background:url(bg.gif) #fff repeat-x fixed; }
textarea,input{font-family:Arial, Helvetica, sans-serif,"宋体";}
.banner{text-align:left;}
.ins-step-tips{
  line-height: 22px;
}
.ins-steps .span-auto,.ins-step-tips .span-auto{
   width: 50%;
   margin-right: 0;
   background: #e9e9e9;
}
.ins-items{width:70%;}
.ins-step-tips{width:20%;}
.ins-items,.ins-step-tips{}
.step-item{padding: 8px;border: 2px solid #efefef;	}
.ins-step-tips{background:#e9e9e9;position:relative;}
.ins-step-tips ul,.ins-step-tips li{list-style-type:none;margin:0;} 
.ins-step-tips ul{margin-top:30px;}
.ins-step-tips sup{font-size: 14px;font-weight: bold;}
.step-item{zoom:1;cursor:pointer;}
.step-item sub{font-size: 12px;color:#ff3300;visibility: hidden;}
.step-item-cur{border-color:#fff;background:#fff;}
.step-item-cur sub{visibility: visible;}
.ins-step-tip-ready sub{color:green;}
.ins-items .ins-item{display:none;padding-bottom:10px;}
.ins-items h3{}
.ins-items .span-auto{margin: 0;width: 50%;}
.ins-items .item{margin: 10px 0 0 10px;}
.ins-items label{
   display: block;
   text-align: right;
   line-height: 30px;
}
#installer-body{}    
.package{padding:20px 5px 5px 20px;}
.loading{background:#e9e9e9 url(loading.gif) no-repeat 10px 10px!important;}
.complete{background-color: #EDFFCF; color: #264409;}  
.error2{background-color: #FBE3E4; color: #8a1f11;}
.console{border:1px #e9e9e9 solid;display:none;}
.console input{width:100%;padding:3px 0 3px 0;border:none;border-top:1px #fff solid;background:#333;color:#fff;}
.console-panel{height:250px;background:#333;color:#fff;font-family:Verdana;margin:0;line-height:22px;}
.license{font-size:12px;height:250px;width:100%;border:none;margin:0;padding:0;}
#console_info_handle a{text-decoration: none; cursor: pointer;}
#console_info_handle a span{display:block;visibility:hidden; color:#fff;font-size:10px;}
#console_info_handle a:hover span{ visibility:visible;}
/*---------setup--------*/
*{ margin:0 auto; padding:0;}
ul,p,dd,dl,dt,h1,img,li { margin:0; padding:0; border:0;}
h4 {margin:0 0 10px 0; padding:8px 0 4px 0; border-bottom:1px dashed #D8D8D8; color:#333; }
.span-2 { text-align:right; padding-right:2px; padding-left:60px;} 
li { list-style:none; text-align:left;}
.container { margin:70px auto;}
.logo {height:33px; padding:0px 0px 4px 12px;}
div.left {  margin-right:0; background:url(setup_11re.gif) repeat-y top right;}
/*.left-top { width:229px; height:38px; float:right; background:url(setup_03.gif) no-repeat; }  */
.left-nav { width:239px;  background:url(setup_11.gif) no-repeat top right; font-size:14px; font-weight:bold;overflow:hidden;padding-top:20px;}
.left-nav li { width:215px; height:28px; background:url(navline.gif) no-repeat bottom center; cursor: pointer; color:#fff; padding:12px 0px 0px 24px;}
.left-nav .nav-current { width:215px; height:34px; background:url(navtab.png) no-repeat; color:#5277A5; padding:14px 0px 0px 24px;}
/*.left-bottom { width:217px; height:36px; float:right; background:url(setup_12.gif) repeat-x; font-size:14px; color:#fff; text-align:left; padding:5px 0px 0px 12px; overflow:hidden; position:relative; }
.left-bottom a{font-size:14px; color:#fff; text-decoration:none; }
.left-bottom a:hover{font-size:14px; color:#fff; text-decoration:underline;}
.left-bottom sub { font-size:12px; color:#FCD653; padding-left:3px;}
.left-bottom span { font-size:11px; color:#fff; }  */
div.right { width:580px; margin-right:0; background-color:rgb(233,247,251); padding:5px 5px 5px 0;border:1px #ccc solid;border-left:none; }
/*.right-top { width:611px; height:10px; float:left; background:url(setup_04.gif) repeat-x;}
.right-topangle { width:7px; height:10px; float:right; background:url(setup_06.gif) no-repeat;}
.right-bottom{ width:611px; height:8px; float:left; background:url(setup_18.gif) repeat-x;}
.right-bottomangle { width:7px; height:8px; float:right; background:url(setup_19.gif) no-repeat;} */
.right-main {height:auto;padding:0 11px 0 11px;background:#fff;}  
.right,.right-main{   
    -webkit-border-radius-topright: 5px; 
    -webkit-border-radius-bottomright: 5px;   
    -moz-border-radius-topright: 5px; 
    -moz-border-radius-bottomright: 5px;
}
.right-main
.right-main-title { height:22px;  overflow:hidden; font-size:18px; color:#333333; text-align:left; padding:3px 0px 4px 0px; border-bottom:1px solid #A8BCD5;}
.right-main-info {padding:12px 4px 12px 4px;}
.right-main-btn {padding:10px; text-align:center; height:auto; border-top:1px solid #A8BCD5; }
.copyright { width:100%; text-align:center; color:#666; font-size:12px; padding-top:26px;}
.copyright span{ color:#3367AC; padding-left:6px;}
.taskstepbutton{cursor: pointer; width:141px; height:29px; background:url(setup_15.gif) no-repeat; color:#fff; font-size:12px; padding:0; margin:0; border:none;} 
.info-license tr { height:26px;} 
.info-license th { text-align:right; width:130px; padding-right:6px;} 
.info-license td { text-align:left; } 

