<form action="index.php?ctl=content/sitemaps&act=update" id="site_map_form" method="post">

  <div class="actionBar mainHead">
   <div style="float:left;">
        <span class="sysiconBtn addorder" onclick="W.page('index.php?ctl=content/sitemaps&act=addNew')"><{t}>添加顶级栏目<{/t}></span>
    
    <span class="sysiconBtn btn-show-cate" onclick="W.page('index.php?ctl=content/sitemaps&act=index')"><{t}>全部展开<{/t}></span> <span class="sysiconBtn btn-hide-cate" onclick="W.page('index.php?ctl=content/sitemaps&act=index&p[0]=1')"><{t}>全部收起<{/t}>
    </span>&nbsp; &nbsp; 
    </div>
    
    <div align="right" style="float:right;"><{help docid="78" type="link"}>点击查看帮助<{/help}></div>
     &nbsp; 
    
  </div>
  
     <div class='finder-head mainHead' style='text-align:center!important'>
       <div class='span-8' ><{t}>站点栏目名称<{/t}></div>
       <div class='span-2'><{t}>显示<{/t}></div>
       <div class='span-2'><{t}>添加<{/t}></div>
       <div class='span-2'><{t}>编辑<{/t}></div>
       <div class='span-2'><{t}>更名<{/t}></div>
       <div class='span-2'><{t}>删除<{/t}></div>
       <div class='span-2'><{t}>预览<{/t}></div>
   </div>
  
  

<div class='finder'>

<div id="cat_tree" class='finder-list' style='text-align:center!important'>

    <div class="clear_<{$item.p_node_id}> row">
     <div class='row-line'>
      <div class='span-8' style='text-align:left;'>
          <div style="margin-left:<{math equation='20+x*50' x=$item.depth}>px;" >
          <span class="closeFolder" onClick="this.className=(this.className=='openFolder'?'closeFolder':'openFolder');flode('0',this,(this.className=='openFolder'?'none':''));">&nbsp;&nbsp;&nbsp;    </span>
            根目录
            </div>
        </div>
        </div>
     </div>
<{foreach from=$list item=item name="sitemap"}>

<{assign var="nodetype" value=$item.node_type}>
<div class="clear_<{$item.p_node_id}> row" <{if $item.depth>0 && $cloasall}>style="display:none"<{/if}> >
  <div class='row-line'>
      <div class='span-8' style='text-align:left;'>
         <div style="margin-left:<{math equation='20+x*30' x=$item.depth}>px;">
           <{if $item.depth>-1 && $item.child_count}>
           
           <span class="<{if !$showall}>closeFolder<{else}>openFolder<{/if}>" onClick="this.className=(this.className=='openFolder'?'closeFolder':'openFolder');flode('<{$item.node_id}>',$(this),(this.className=='openFolder'?'none':''));" nid="<{$item.node_id}>">&nbsp;&nbsp;&nbsp;</span>
           
           <{/if}>
      排序: 
        <{assign var="node_id" value=$item.node_id}>

      <{input class="orderTextStyle" type="number" name=p_order[$node_id] value=$item.p_order}>
   
        <{img style="margin-top:3px" align="absmiddle" src="images/bundle/sidemaps-$nodetype.gif" }>
        <{if $item.editUrl}><a href='<{$item.editUrl}>' style="margin-right:10px"><{$item.title}></a><{else}><{$item.title}><{/if}><{if $item.child_count}>(<{$item.child_count}>)<{/if}>
        
        <{if $item.node_type=='articles'}><a href="index.php?ctl=content/articles&act=addNew&p[0]=<{$item.node_id}>">添加文章</a><{/if}>
       </div> 
     </div>
     
  <div class='span-2'><{if $item.hidden eq "true"}>
     <a href="index.php?ctl=content/sitemaps&act=enableNode&p[0]=<{$item.node_id}>" ><{img src="images/bundle/hidden.gif" title="点击显示此栏目"}></a>
   <{else}>
     <a href="index.php?ctl=content/sitemaps&act=disableNode&p[0]=<{$item.node_id}>" ><{img src="images/bundle/visible.gif"  title="点击隐藏此栏目"}></a>
   <{/if}></div>
  <div class='span-2'><{assign var="cat_id" value=$item.cat_id}>
    <a href='index.php?ctl=content/sitemaps&act=addNew&p[0]=<{$item.node_id}>'><{img src="images/bundle/addcate_1.gif" border="0" title="添加子项"}></a>
    </div>
    <div class='span-2'><{if $item.editUrl}><a class="i" href='<{$item.editUrl}>'><{img src="images/bundle/editcate.gif" border="0" alt="编辑" title="编辑"}></a><{/if}>&nbsp;</div>
      <div class='span-2'><a class="i" href='index.php?ctl=content/sitemaps&act=modify&p[0]=<{$item.node_id}>'><{img src="images/bundle/mceico_45.gif" border="0" title="更名"}></a></div>
    <div class='span-2'><span onClick="if(window.confirm('是否确认删除'))deleteSiteMapRow(<{$item.node_id}>,event)" style='cursor:pointer;'><{img src="images/bundle/delecate.gif" border="0" title="删除"}></span></div>
  
    <div class='span-2'><a href='<{if !$nobase && $item.node_type!="pageurl"}><{$base_url}><{/if}><{$item.link}>' target="blank"><{img src="images/bundle/zoom_btn.gif" border="0" title="预览"}></a></div>
  </div>
</div>
<{/foreach}>
</div>
</div>



  <div class="mainFoot">
    <div class="footer">
     <table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
  <tr>
    <td><b class="submitBtn"><input onclick="$('site_map_form').fireEvent('submit',{stop:$empty})" type="submit" value="保存排序" /></b></td>
  </tr>
</table> 
    </div>
  </div>
</form>



<script>
function flode(nid,target,visible){
    $ES('#site_map_form .clear_'+nid).each(function(e){
        e.setStyle('display',visible);
        if(visible=='none'){
            var dv=e.getElement('span[nid]');
            if(dv){
                flode(dv.get('nid'),e.getElement('span'),visible);
            }
        }else{
            var dv=e.getElement('span[nid]');
            if(dv){
                flode(dv.get('nid'),e.getElement('span'),((e.getElement('span').className=="openFolder")?'none':''));
            }
        }
    });
}

function deleteSiteMapRow(id,e){
    e=new Event(e).stop();
    W.page("index.php?ctl=content/sitemaps&act=toRemove&p[0]="+id,{update:'messagebox',method:'get',onComplete:function(re){
         if(re.contains('successSplash')){
            $(e.target).getParent('.row').remove();
         }
    }})

}



</script>