<textarea name="filter" style="display:none"><{$filter}></textarea>
<div class="division">
<div class="notice"><{t}>正在编辑<{/t}><strong><{$editInfo.count}></strong><{t}>条数据。<{/t}><br>小提示：批量修改保存后将影响所有已选中的项目，并且不可恢复，请提交前认真核实!
</div>
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
    <th style="width:50px">
    请选择
    </th>
        <th>&nbsp;
        </th>
        <td>&nbsp;</td>  
    </tr>
    <{foreach from=$editInfo.cols item=item key=key name="columns"}>
    <tr>
      <th style="width:50px">
      <input type="checkbox" name="enable[<{$key}>]" value="1" id="ipt_enable_<{$key}>" >
      </th>
      <th><label for="bated_ipt_<{$key}>"><{$item.label}></label>
            <input type="hidden" value="<{$item.value}>" name="old[<{$key}>]" />
      </th>
      <td><{input params=$item onfocus="$('ipt_enable_$key').checked=true" id="bated_ipt_$key" type=$item.type value=$item.value inputType=$item.inputType options=$item.options name="set[$key]" }></td>  
    </tr>
    <{/foreach}>
</table>
</div>
<div class="mainFoot">
<table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
  <tr>
  <td>
    <button onclick="<{$finder}>.batchEdit.call(<{$finder}>,this.parentNode)" class="sysiconBtnNoIcon"><{t}>保存<{/t}></button>      
    </td>
  </tr>
</table></div>