<div class="division" id="Member_Form_Point_<{$member.member_id}>">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <th><{t}>当前积分:<{/t}></th>
          <td><{$point}></td>
        </tr>
        <tr>
          <th><{t}>调整积分（增/减）:<{/t}></th>
          <td><input type="text" size="20" name="modify_point" class='_x_ipt' vtype='number'/><{t}>输入负值即可减少积分；<{/t}></td>
        </tr>
      </tbody>
    </table>
    <input type="hidden" name='member_id' value="<{$member_id}>">

</div>
  <table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
  <tr>
    <td><b class="submitBtn"><input onclick="W.page('index.php?ctl=member/member&act=modifyPoint',{data:$('Member_Form_Point_<{$member.member_id}>'),method:'post'},$(this))" type="button" value="编辑" /></b></td>
  </tr>
  </table>