<form action="index.php?ctl=member/member&act=toUpdatePassword&p[0]=<{$member_id}>&p[1]=<{$email}>&p[2]=<{$uname}>" method="post">
    <table class="tableAction" border='1' >
    <tr>
    <td colspan="2"><{t}>输入新密码：<{/t}><{input type="password" name="newPassword" required="true"}></td>
    </tr>
    <tr>
    <td colspan="2">
    <{t}>确认新密码：<{/t}><{input type="password" name="confirmPassword" required="true"}>
    </td>
    </tr>
    <tr>
        <td colspan="2"><input type="checkbox" name="sendemail" value="1" checked/><{t}>发送邮件通知该用户，该用户邮件为：<{/t}><{$email}></td>
    </tr>
 <table cellspacing="0" cellpadding="0" border="0" class="tableAction" >
   <tbody><tr>
    <td>
        <b class="submitBtn">
            <input type="submit" value="保存"></b>
        <b class="submitBtn">
            <input type="button" value="关闭" isCloseDialogBtn='true'/></b>
    </td>
  </tr>
</tbody></table>
<input type='hidden' name='name' value='<{$name}>'>
</form>