<!-- right-->
<div class="MemberMain">
<div style="margin-right:175px;">

<div class="title"><{t}>给管理员留言<{/t}></div>
<form name="comment" action="<{link app=b2c ctl='site_member'  full='1' act='msgtoadmin'}>" method="post" class="section" <!--onSubmit="return Form_Validator(this)"-->
<{if !$reply}>
  <input type="hidden" name="comment_id" value="<{$init.comment_id}>">
  <{/if}>
  <div class="FormWrap" style="background:none; border:none; padding:0; margin:0;">
  <div class="division" style="border:none;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="forform">
  <tr>
    <th><{t}>发送给：<{/t}></th>
    <td><{input class="inputstyle" type="text" value="管理员" readonly="readonly" size="30" disabled="disabled"}></td>
  </tr>
  <tr>
    <th><em>*</em><{t}>标题：<{/t}></th>
    <td><{input name="subject" class="inputstyle" type="text"  required="true" id="comment_email" size=30 value=$init.title|escape:'html'}></td>
  </tr>  
</table>
  </div>
  
  <div style="border-top:1px solid #f1f1f1;"></div>

  <div class="division" style="border:none;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="forform">
  <tr>
    <th><em>*</em><{t}>内容：<{/t}></th>
    <td><{input class="inputstyle" type="textarea" name="comment" required="true" cols="50" rows="5" id="commenttitle" value=$init.comment}></td>
  </tr>
  <tr>
    <th></th>
    <td><input type="submit" id="Submit" value="发送">&nbsp;&nbsp;&nbsp;&nbsp;<input name="has_sent" type="checkbox" value="false"><{t}>暂不发送，保存到草稿箱<{/t}></td>
  </tr>  
</table>
  </div>
  </div>
</form>

</div>
</div>
<!-- right-->
