<!-- right-->
  <div class="MemberMain">
  <div style="margin-right:175px;">

<div class="title"><{t}>发送短消息<{/t}></div>
<form name="comment" action="<{link app=b2c ctl='site_member'  full='1' act='send_msg'}> " method="post" class="section" <!--onSubmit="return Form_Validator(this)"-->

<{if $is_reply != true}>
<{input type="hidden" name="comment_id" value=$init.comment_id }>
 <{/if}>
 

  <div class="FormWrap" style="background:none; border:none; padding:0; margin:0;">
  <div class="division" style="border:none;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="forform">
  <tr>
    <th><em>*</em><{t}>发送给：<{/t}></th>
    <td><{input class="inputstyle _x_ipt" name="msg_to"  required="true" id="msg_to" size="30" value=$init.to_uname|escape:'html'  }></td>
    </tr>
    <tr>
     <th><em>*</em><{t}>标题：<{/t}></th>
    <td><{input class="inputstyle" name="subject" type="text"  required="true" id="subject" size="30" value=$init.subject|escape:'html'}></td>   
  </tr>
</table>
</div>


<div style="border-top:1px solid #f1f1f1;"></div>

  <div class="division" style="border:none;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="forform">
  <tr>
    <th><{t}>内容：<{/t}></th>
    <td><{input class="inputstyle" type="textarea" name="comment" required="true" cols="50" rows="5" id="commenttitle" value=$init.comment|escape:'html'}></td>
  
  </tr>
  <tr>
    <th></th>
    <td><input type="submit" id="Submit" value="提交留言">&nbsp;&nbsp;&nbsp;&nbsp;<input name="has_sent" type="checkbox" value="false"><{t}>不发送，只保存到草稿箱中<{/t}></td>
  
  </tr>  
</table>

</div>  
  
  
  
    
  </div>
</form>

  </div>
  </div>
<!-- right-->
<script>
 if(<{$is_reply}>){
    $('msg_to').onfocus=function() { 
        this.blur();
    } 
    $('subject').onfocus=function() { 
        this.blur();
    } 
 }
</script>
