<{if $gimage.image_id }>
<div class="gpic<{if $goods.image_default_id==$gimage.image_id}> current<{/if}>" image_id="<{$gimage.image_id}>" onclick="goodsEditor.pic.setDefault('<{$gimage.image_id}>')">
	<img src="<{$gimage.image_id|storager:'s'}>" width="88" height="88" sn='_img_<{$gimage.image_id}>'/> 
	<i>默认图</i>
</div>
<input name="goods[images][]" value="<{$gimage.image_id}>" soucre="<{$gimage.image_id|storager:'b'}>" bigPic="<{$gimage.image_id|storager:'b'}>" type="hidden">
<div class="gpic-btn-bar">
<{assign var=gimageid value=$gimage.gimage_id}>
<span class="gpic-btn-view" onclick="goodsEditor.pic.viewSource('index.php?app=image&ctl=admin_manage&act=view_gimage&p[0]=<{$gimage.image_id}>')" title="查看路径"><i><{t}>查看路径<{/t}></i></span>|<span class="gpic-btn-delete" ident="<{$gimage.image_id}>" onclick="goodsEditor.pic.del(this)" title="删除图片"><i><{t}>删除图片<{/t}></i></span>
</div>
<{/if}>