<!doctype html public "-//w3c//dtd html 4.0 transitional//en">
<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><{t}>系统暂时发生错误<{/t}></title>
  <style>
  body{
  width:600px;
  }
  </style>
 </head>
 <body>
%msg%
 <hr />
  <div>%fatal%</div>
  <a href="#other" onclick="document.getElementById('other').style.display=''"><{t}>查看所有错误<{/t}></a>
  <div id="other" style="display:none"><a name="other"></a>
  <ul>%html%</ul>
  <textarea style="width:100%;height:200px">%body%</textarea>
  </div>
 </body>
</html>