<form method="POST" action="index.php?ctl=trading/deliveryarea&act=addDlArea" class="tableform">
<div class="division">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th><{t}>地区名称:<{/t}></th>
      <td><input type="text" name="local_name" maxlength="20"></td>
    </tr>
    <tr>
        <th><{t}>上级地区:<{/t}></th>
        <td>
        <input type='text' readonly=true onclick='regionSelect(this)' value='<{if $parent.local_name == ""}>[无上级]<{else}><{$parent.local_name}><{/if}>'/><span class="notice_inline">点击输入框可以更换地区的上级节点</span>
        <input type='hidden' name='p_region_id' value='<{$parent.region_id}>'/>
        </td>
    </tr>
    <tr>
        <th><{t}>排序:<{/t}></th>
        <td><input type="text" name="ordernum" style="width:50px" vtype="unsignedint" class="_x_ipt" value="50"><span class="notice_inline">数字越小越靠前</span></td>
    </tr
    ></table>
  </div>
  <table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
    <tr>
      <td><b class="submitBtn"><input type="submit" value="保存"><input type="hidden" name="package" value="mainland"></b></td>
      <td><b class="submitBtn"><a href="index.php?ctl=trading/deliveryarea&act=index"><{t}>返回<{/t}></a></b></td>    
    </tr>
  </table>
  
</form>
<script>
   function regionSelect(el){
      var el=$(el);
      new Dialog('index.php?ctl=trading/delivery&act=showRegionTreeList&p[0]='+el.uid,
      {title:'地区选择',
       onShow:function(){
          this.dialog.store('iptText',el);
          this.dialog.store('iptHidden',el.getParent().getElement('input[type=hidden]'));
       },
       width:250,
       height:250,
       singlon:false
      });
   }
</script>