<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head> 
    <meta charset="utf-8">
    <title><{$conf.installer.title}></title>
    <{css src="framework.css"}>
    <{css src="installer.css"}>
    <style>
		<{$conf.installer.style}>
    </style>
	<{script src="moo.js"}>  
	<{script src="taskRunner.js"}>
	<script>
	_open = function(url,options){

	   options = $extend({
	     width:window.getSize().x*0.8,
	     height:window.getSize().y*0.8
	   },options||{})
	   var params = 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width={width},height={height}';
	       params = params.substitute(options);

	   window.open(url||'about:blank','_blank',params);

	};    
	
	Element.implement({
		isDisplay:function(){return true;},
		getPatch:function(){ 

	       var _return = {x:0,y:0};

	       if(!this.isDisplay())return _return;


	       $H({x:['left','right'],y:['top','bottom']}).each(function(p2,p1){ 
		         p2.each(function(p){  
		             try{  
		             _return[p1] += (this.getStyle('margin-'+p).toInt()||0);
	       		     _return[p1] += (this.getStyle('padding-'+p).toInt()||0);
	       		     _return[p1] += (this.getStyle('border-'+p+'-width').toInt()||0);
	   		         }catch(e){}
		         },this);
		     },this); 

		     return _return;

	    }
	});
	</script>
</head>

<body>
<div class="container">
 <div class="logo">	<div class="banner">
	<{$conf.installer.banner}>
  </div></div>
 <div class="main clearfix" id="installer-body">
  <div class="span-auto left">
  
   <div class="left-nav">
    <ul>
    <li class="nav-current" id="step-0">1.软件协议</li>
    <li id='step-1'>2.信息配置</li>
    <li id='step-2'>3.安装软件包(<em id="appNum">0</em>/<em><{$apps|count}></em>)
	</li>
    </ul>
   </div>
   
  </div> 

  <div class="span-auto right">
   
   <div class="right-main">
    <div class="right-main-title">软件协议</div>
    <div class="right-main-info">
     <div class="info-license">
    				<{if file_exists($conf.licence.file) }>
				<textarea class='license'>
				<{$conf.licence.file|file_get_contents}>
				</textarea>  
				<{else}>
				<textarea class="license">
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</textarea>
				<{/if}>
 </div>
    </div>
    <div class="right-main-btn"><input type="button" class="taskstepbutton" value="同意协议进入下一步"/></div>
   </div>
   
   <div class="right-main">
    <div class="right-main-title">信息配置</div>
    <div class="right-main-info">
     <div class="info-license" id="taskconfig">
    			<{foreach from=$install_options item=group key=app_id}>
				<h4><{$apps[$app_id].name}></h4>
                <table class="tableform">
				<{foreach from=$group item=item key=key}>
				<tr>
				<th>
				<{if $item['required'] == true}><em style="padding-right:4px"><font color="red">*</font></em><{/if}><label><{$item.title}></label>
				</th>
				<td><{input params=$item class="tasks_ipt" name="options[{$app_id}][{$key}]"}></td>
				</tr>
				<{/foreach}>
                </table>	
			<{/foreach}>

 </div>
    </div>
    <div class="right-main-btn"><input type="button" class="taskstepbutton" id="task_install" value="开始安装软件包" /></div>
   </div>
   
   
   
   <div class="right-main">
    <div class="right-main-title">安装软件包</div>
    <div class="right-main-info">
     
             <{foreach from=$apps item=app key="app_id"}>
					<div class="clearfix box item package" appname="<{$app.name}>" action="<{link ctl="default" act=install_app }>?app=<{$app_id}>">
						<!--<img src="%BASE_URL%/app/<{$app_id}>/icon.png" style="float:left;margin-right:10px" width="48px" height="48px" />-->
					  <div class="span-3 name">
						 <strong><{$app.name}></strong><{if $app.version}><sup><{$app.version}></sup><{/if}>
					  </div>
					  <div class="span-auto desc">
					     <{$app.description}>
					  </div>
					</div>
					<{/foreach}>
 
    </div>
   </div>

  </div>
 </div>  
  
  <div class="console_handle"> 
		<span class="lnk font9px" onclick="_open('?console=true');">打开安装控制台&raquo;</span>
  </div>

  <div class="copyright">&copy; 2003-<script>document.write(new Date().getFullYear())</script> <a href="http://www.shopex.cn" target="_blank">ShopEx</a></div>  


  	<iframe name="console-frame" id="console-frame" style="display:none" src="about:blank" tabindex='-1'></iframe>
	<div id="success-page" style="display:none">
		<h2>系统安装成功</h2>
		<div>
			<{$conf.installer.finish.message}>
		</div>
	</div>
</div>
<script>
    window.addEvent('domready',function(){
		var Layout = {
			banner:$$('.banner')[0],
			insbody:$('installer-body'),
			elconsole:$$('.contant .console')[0],
			elsuccess:$('success-page')
			
		};
		var synlAT = function(){
		
			var lnav = $$('.left-nav')[0];
			lnav.setStyle('height',$$('.right')[0].getSize().y - lnav.getPatch().y);
			//return arguments.callee;
		};
	
    
    var Acc = new Class({
			Extends:Fx.Accordion,
			display:function(index, useFx){
				var togglers = this.togglers;
				//if(index>0&&!togglers[index-1].className.match(/ready/))return;
				this.parent(index,useFx);
			} 
		  });
   
		 $$('.container')[0].setStyle('width',(
				Math.abs($$('#installer-body .left')[0].getSize().x +
				$$('#installer-body .left')[0].getPatch().x +
				$$('#installer-body .right')[0].getSize().x +
				$$('#installer-body .right')[0].getPatch().x) )
			);






/*stepAcc*/
    var stepsTips = $$(".left-nav li");
	var steps = $$(".right .right-main");
	
	
		/*steps[0].getElement('.license').addEvent('scroll',function(){
			//var s = this.getScrollSize
			if((this.getSize().y+this.getScrollTop()+10)>=this.getScrollSize().y){
				
				stepsTips[0].addClass('ins-step-tip-ready');
				stepsTips[0].getElement('sub').set('text','已阅读.');
			}
			
		}); */
	
	stepAcc = new Acc(stepsTips,steps,{
			height:false,
            alwaysHide: true,
			opacity:false,
			onActive:function(t,i){
				t.addClass('nav-current');
                i.setStyle('display','block');
			 	synlAT();
			},
			onBackground:function(t,i){
				//console.info(arguments);
				t.removeClass('nav-current');
                i.setStyle('display','none');
				synlAT();
			}
		});
		
	var taskstep=function(e){
		target=new Event(e).target;
		var index = stepAcc.elements.indexOf(target.getParent('.right-main'));
		stepAcc.display(index+1);
	}	

	$$('.taskstepbutton').addEvent('click',taskstep.bindWithEvent(taskstep));	
	

	
	var installer = new taskRunner('.package',{
		iframe:$('console-frame'),
		showStep:'appNum',
		extra_action:'<{link ctl='default' act=initenv }>',
			onError:function(msg){
				alert(msg);
			},
			onStart:function(){
				//$$('.tasks_ipt').set('disabled',true);
			},
			onCancel:function(el,idx,result){
			//	$$('.tasks_ipt').removeProperty('disabled');
			//	stepAcc.display(1);
			},
			onLoader:function(tasks,step){
				 //window.scrollTo(0,tasks[step-1].getPosition().y-250);			
			},
			onSuccess:function(){
				$('installer-body').innerHTML = $('success-page').innerHTML;
			}
		});

		$('task_install').removeEvents('click').addEvent('click',function(e){
			var result=validate($('taskconfig'),'div');
			if(!result)return;
			installer.onStart();
			taskstep(e);
		});
		
		
	
	});   
	
	        (function(){                                
						var el = $$('#installer-body .left-nav ul')[0]; 
						var elMtop = el.getStyle('margin-top').toInt();
	        			window.addEvent('scroll',function(){       
    					    el.tween('margin-top', this.getScrollTop() + elMtop);
						});
	
		  })();
</script>
</body>
</html>
