<div class="dbContent">
	<div class="infoMain">
		<div class="memberPic">
			__sOwnerThumb__
		</div>
		<div class="infoText">
			<div class="infoUnit">
				<img src="<bx_icon_url:clock.png />" />__sDataTimeFormatted__ (__sTimeAgo__)
			</div>
			<div class="infoUnit">
				<img src="<bx_icon_url:folder.png />" />
				<a href="__sCategLink__">__categ_name__</a>
				/
				<a href="__sSCategLink__">__subcateg_name__</a>
			</div>
			<div class="infoUnit">
				<img src="<bx_icon_url:tgs.png />" />
				__sTags__
			</div>
			<div class="infoUnit">
				<img src="<bx_icon_url:eye.png />" />
				__iViews__
			</div>
		</div>
	</div>
	<div class="clear_both"></div>
</div>