<form method='post' action='<{if $article.article_id}>index.php?ctl=content/articles&act=save&p[0]=<{$article.article_id}>&p[1]=<{$node_id}><{else}>index.php?ctl=content/articles&act=addArticle&p[0]=<{$node_id}><{/if}>' class="tableform">
<input type="hidden" name="node_id" value="<{$node_id}>" /><{if $article.article_id}><input type="hidden" name="article_id" value="<{$article.article_id}>" /><{/if}>
<div class="division">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><{t}>栏目<{/t}></th>
    <td>
	<select name='node_id'>
	<{foreach from=$article_cat item=item key=key}>
	<option value="<{$item.node_id}>" <{if $item.node_id==$node_id}>selected<{/if}>><{$item.title}></option>
	<{/foreach}>
	</select>
</td>
  </tr>
  <tr>
    <th><{t}>标题<{/t}></th>
    <td><{input type='text' name='title' value=$article.title}></td>
  </tr>
  <tr>
    <th><{t}>发布<{/t}></th>
    <td><{input type='bool' name='ifpub' value=$article.ifpub}></td>
  </tr>
</table>
</div>
<div class="division">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><{t}>内容<{/t}></th>
    <td><{input type='html' name='content' value=$article.content}></td>
  </tr>
</table>
</div>
<table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
<tr>
<td><b class="submitBtn"><input type='submit' value='提交'></b></td>
</tr>
</table>
</form>
