<div class="membertop"><span style="margin-left:20px; font-size:16px; color:#FFFFFF; line-height:40px; font-weight:bold;">Shipping Address</span></div>
<form method="post" action="<{link ctl="member" act="insertRec"}>" class="section" extra="subMemAddr" id="member_addr">
<div class="FormWrapc">
<div style="padding-left:30px; background:#EDECEA">
<span style="color:#cc3333">Add New address</span>
<div style="padding-top:20px;">

<table width="100%" border="0" cellspacing="0" cellpadding="0" class="forform" >
  <tr>
    <th width="12%"><div align="left" style="padding-top:5px;"><em>*</em><{t}>姓名：<{/t}></div></th>
    <td width="88%"><{input class="inputstyle" name="name" type="text" required="true" id="name" size="30" vtype="name" value=$name|escape:'html'}></td>
  </tr>
 
</table>

</div>
<div >
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="forform">
  <tr>
    <th><div align="left"><em>*</em><{t}>Address 1<{/t}></div></th>
    <td><{input class="inputstyle" type="text" required="true" name="addr" id="addr"  size="30" value=$addr|escape:'html'}></td>
  </tr>
  <tr>
    <th><div align="left" style="padding-left:15px;"><{t}>Address 2<{/t}></div></th>
    <td><{input class="inputstyle" type="text" required="false" name="addr1" id="addr1" size="30" value=$addr1|escape:'html'}></td>
  </tr>
  <tr>
     <th width="12%"><div align="left" style="padding-top:5px;"><em>*</em><{t}>地区：<{/t}></div></th>
     <td width="88%"><{input type="region" name="area" required="true" value=''}></td>
  </tr>
  <tr>
    <th><div align="left" style="padding-top:5px;"><em>*</em><{t}>邮政编码：<{/t}></div></th>
    <td><{input class="inputstyle" name="zip" size="30" required="true" value="$zip"}></td>
  </tr>
   <tr>
    <th><div align="left" style="padding-top:5px; padding-left:14px;"><{t}>固定电话：<{/t}></div></th>
    <td><{input class="inputstyle" name="tel" type="order_tel" size="30" value=$tel}><span class="infotips"><{t}><{/t}></span></td>
  </tr>
  <tr>
    <th><div align="left" style=" padding-top:5px; padding-left:14px;"><{t}>移动电话：<{/t}></div></th>
    <td><{input class="inputstyle" name="mobile" type="text" id="mobile" size="30" value=$mobile|escape:'html'}></td>
  </tr>
  <tr>
    <th><div align="left"></div></th>
    <td><input  type="image" name="submit" value="保存"  src="../../../../themes/zqzyb/images/member/addnewaddress.gif"/><a  style="cursor:pointer; padding-left:5px; color:#FF0000; text-decoration:underline" onclick="window.location='<{link ctl="member" act="receiver"}>'" value="取消" />Cancel</a></td>
  </tr>
</table>
</div>
</div>
</div>
</form>
<script>
if(!extra_validator['subMemAddr']){
  extra_validator['subMemAddr'] ={
    'order_tel':['联系电话和联系手机必须填写一项',function(f,i){
        var tel = $('member_addr').getElement('input[name=tel]').getProperty('value');
        var mob = $('member_addr').getElement('input[name=mobile]').getProperty('value');
        if(tel.trim() == '' && mob.trim() == ''){
          return false;
        }else{
            return true;
        }
      }]
  };
}
</script>