<h1 class="title"><{t}>给管理员留言<{/t}></h1>
<form name="comment" action="<{link ctl="member" act="sendMsgToOpt"}>" method="post" class="section" <!--onSubmit="return Form_Validator(this)"-->>
  <!--<select>
  <option><{t}>提问<{/t}></option>
  <option><{t}>评论<{/t}></option>
  <option><{t}>意见与建议<{/t}></option>
  </select>
  -->
  <input type="hidden" name="msg_id" value="<{$msg_id}>">
  <div class="FormWrap">
  <div class="division">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="forform">
  <tr>
    <th><{t}>发送给：<{/t}></th>
    <td><{input class="inputstyle" type="text" value="管理员" readonly="readonly" size="30" disabled="disabled"}></td>
  </tr>
  <tr>
    <th><em>*</em><{t}>标题：<{/t}></th>
    <td><{input name="subject" class="inputstyle" type="text"  required="true" id="comment_email" size=30 value=$init.subject|escape:'html'}></td>
  </tr>  
</table>
  </div>
  <div class="division">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="forform">
  <tr>
    <th><em>*</em><{t}>内容：<{/t}></th>
    <td><{input class="inputstyle" type="textarea" name="message" required="true" cols="50" rows="5" id="commenttitle" value=$init.message|escape:'html'}></td>
  </tr>
  <tr>
    <th></th>
    <td><input type="submit" id="Submit" value="发送">&nbsp;&nbsp;&nbsp;&nbsp;<input name="outbox" type="checkbox" value="1"><{t}>暂不发送，保存到草稿箱<{/t}></td>
  </tr>  
</table>
  </div>
  </div>
</form>