<{area inject=".mainHead"}>
<div class="clearfix ColColorGray borderup" style="padding:0 5px">
<h4>应用程序</h4>
<p class="info">
应用中心简介
<{button type="button" label="在线安装应用程序" onclick='new Dialog("index.php?ctl=system/appmgr&act=app_onlince",{onShow:function(e){
     this.dialog_body.id="dialogContent";
     },title:"在线安装应用程序",width:870,height:560,onClose:function(){W.page("index.php?ctl=system/appmgr&act=index");}})'}>
</p>

</div>
<{/area}>

<div class="apps-wrapper">
	<h4>当前安装的应用</h4>
	<div class="app-list-wrap">
	<{foreach from=$apps item=app}>
	<div class="app-item clearfix">
		<!--<div class="app-img">
				<a href="index.php?ctl=system/appmgr&act=view&p[0]=<{$app.plugin_ident}>">
					<img src="<{if $app.icon}><{$app.icon}><{else}>images/type-app.png<{/if}>?<{$env.now}>" width="80" height="80"/>
				</a>
		</div>-->
		<div class="app-opt">
			<{if $app.disabled eq 'false'}>
				<{button href="index.php?ctl=system/appmgr&act=disable&p[0]={$app.plugin_ident}" label="关闭程序"}>
				<{if $app.has_setting==1}>
					<{button href="index.php?ctl=system/appmgr&act=setting&p[0]={$app.plugin_ident}" label="设置选项"}>
				<{/if}>
			<{else}>
				<{if $app.status neq 'used'}>
					<{button href="index.php?ctl=system/appmgr&act=install&p[0]={$app.plugin_ident}" icon="btn_add.gif" label="启用程序"}>			
				<{else}>
					<{button href="index.php?ctl=system/appmgr&act=uninstall&p[0]={$app.plugin_ident}" label="清除数据"}>
					<{button href="index.php?ctl=system/appmgr&act=enable&p[0]={$app.plugin_ident}" icon="btn_add.gif" label="启用程序"}>
				<{/if}>
			<{/if}>
		</div>
		<h6 class="app-title"><a href="index.php?ctl=system/appmgr&act=view&p[0]=<{$app.plugin_ident}>"><{$app.plugin_name}></a></h6>
		<div class="app-info">
			<ul>
				<li><span class="label">作者</span>
					<{if $app.plugin_author}>
						 <a href="<{$app.plugin_website}>" target="_blank" ><{$app.plugin_author}></a>
					<{else}>
						 <{$app.plugin_author}>
					<{/if}>
				</li>
				<li><span class="label">安装量</span> 29928</li>
				<li><span class="label">版本</span><span> <{$app.plugin_version}></span></li>
				<li><span class="label">更新时间</span> 2009.11.16</li>
			</ul>
		</div>
		<!--<div class="app-desc"><{$app.plugin_desc}></div>-->
	</div>
	<{/foreach}>
	</div>
</div>