<style type="text/css">
<!--
.STYLE1 {color: #CE5C64}
-->
</style>
<div class="membertop"><span style="margin-left:20px; font-size:16px; color:#FFFFFF; line-height:40px; font-weight:bold;">Enter billina address</span></div>
<form method='post' action='<{link ctl="member" act="saveRec"}>' extra="subMemAddr" id="member_addr">
  <input type="hidden" name="addr_id" value="<{$addr_id}>">
  <div class="FormWrapc">
         <div class="division">   
		 <div style="padding-left:30px; width:740px; background:#EDECEA">    
       <table width="100%" border="0" cellspacing="0" cellpadding="0" class=" data" style=" background:#EDECEA; line-height:30px;  "> 
       <colgroup class="span-4 ColColorGray"/>
       <colgroup class="span-auto"/>
       
        <tr>
          <th ><div align="left"><span class="STYLE1"><em>*</em></span><{t}>Name：<{/t}></div></th>
          <td width="83%"><{input class="inputstyle" name="name" type="text" required="true" value=$name}></td>
        </tr>
		      <tr>
          <th><div align="left"><span class="STYLE1"><em>*</em></span><{t}>E-mail：<{/t}></div></th>
          <td><{input class="inputstyle" name="zip"  required="true" value=$zip}></td>
        </tr>
		       <tr>
          <th><div align="left"><span class="STYLE1"><em>*</em></span><{t}>Address：<{/t}></div></th>
          <td><{input class="inputstyle" type="textarea" required="true" name="addr" cols="30" rows="3" value=$addr}></td>
        </tr>
		               <tr>
          <th><div align="left"><span class="STYLE1"><em>*</em></span><{t}>state：<{/t}></div></th>
          <td><{input type="region" name="area" required="true" value=$area}></td>
        </tr>
        <tr>
          <th><div align="left"><span class="STYLE1"><em>*</em></span><{t}>Phone Number：<{/t}></div></th>
          <td><{input class="inputstyle" name="tel" type="order_tel" value=$tel}><span class="infotips"><{t}><{/t}></span></td>
        </tr>

 
  
        <tr>
		 <tr>
          <th><div align="left"><span class="STYLE1"><{t}>Make this your default shipping address?<{/t}></span></div></th>
          <td><{input type="radio" name="def_addr" options=$defOpt value=$def_addr}></td>
        </tr>       
          <th><div align="left"></div></th>
          <td><input class="buttonstyle" type="image" name="submit" value="保存" src="../../../../themes/zqzyb/images/member/save.gif"/></td>
        </tr>
      </table>
	  </div>
    </div>
  </div>
</form>
<script>
if(!extra_validator['subMemAddr']){
  extra_validator['subMemAddr'] ={
    'order_tel':['请至少输入联系电话和联系手机中的一项',function(f,i){
        var tel = $('member_addr').getElement('input[name=tel]').getProperty('value');
        var mob = $('member_addr').getElement('input[name=mobile]').getProperty('value');
        if(tel.trim() == '' && mob.trim() == ''){
          return false;
        }else{
            return true;
        }
      }]
  };
}
</script>