<div class="ads_Unit">
	__admin_check__
	<div class="ads_Pic" style="background-image: url(__ad_cover_img__);">
		<a href="__ad_link__">
			<img src="<bx_image_url:spacer.gif />" />
		</a>
	</div>
	<div class="ads_Header">
		<div class="ads_Rate">__rating__</div>
	</div>
	<div class="clear_both"></div>
	<div class="ads_Title">
		<a href="__ad_link__" class="bottom_text">__ad_title__</a>
	</div>
	<div class="ads_When"><span><img src="__clock_img__" alt="" /></span>__ad_date__</div>
	<div class="ads_Bottom">
		<div class="ads_From">__from_label__ <a href="__ad_owner_link__">__ad_owner_name__</a></div>
		__ad_status__
		<bx_if:using_c1><div class="ads_From" style="__cust_style1__">__custom_name1__: <span>__unit__</span>__custom1__ </div></bx_if:using_c1>
		<bx_if:using_c2><div class="ads_From" style="__cust_style2__">__custom_name2__: <span>__unit2__</span>__custom2__</div></bx_if:using_c2>
		<div class="ads_Categ">
			__category__ / <a href="__subcat_link__">__subcat_name__</a>
		</div>
	</div>
</div>