<form action="index.php?app=content&ctl=admin_node&act=update" id="catEditor" method="post">
    <{area inject=".mainHead"}>
        <h2 class="head-title"><{t}>文章栏目<{/t}><em class="num"><{t}>(共<{$tree_number}>条)<{/t}></em></h2>
        <div class="gridlist-action finder-action clearfix">
<{button app="desktop" label="添加节点" icon="btn_add.gif" onclick="new Dialog('index.php?app=content&ctl=admin_node&act=add', {title:'添加节点'})" }> 
<{if $tree_number<=500}> <{button app="desktop" label="全部展开" id="showCat-handle" icon="btn_unfolded.gif" }> <{button app="desktop" label="全部收起" icon="btn_folded.gif" id="hideCat-handle" }><{/if}>
            &nbsp;
        </div>
<div class="Node">
        <div class='gridlist-head mainHead finder-head'>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="24%"><{t}>节点名称<{/t}></td>
            <td width="10%"><{t}>节点路径<{/t}></td>
            <td width="11%"><{t}>添加子节点<{/t}></td>
            <td width="8%"><{t}>编辑<{/t}></td>
            <td width="8%"><{t}>发布<{/t}></td>
            <td width="8%"><{t}>删除<{/t}></td>
            <td width="10%"><{t}>文章列表<{/t}></td>
            <td width="10%"><{t}>添加文章<{/t}></td>
            <td width="11%"><{t}>首页预览<{/t}></td>
            </tr></table>
        </div>
  </div>
    <{/area}>
    <div class="Node-body">
    <div id="node_tree" class='gridlist'>
		<{foreach from=$list item=item name="item"}>
        <div depath="<{$item.node_depth}>" class="clear_cat row" node_id="<{$item.node_id}>" parent_id="<{$item.parent_id}>">
            <div class='row-line'>
            <table cellpadding="0" cellspacing="0" border="0">
            <tr>
               <td width="24%">
               <div style='text-align:left!important'>
                    <div style="margin-left:<{($item.node_depth-1)*25}>px;"><{if $tree_number<=500}>
                        <{if $item.has_children=='true'}>  <span style='width:12px; height:12px;line-height:12px;margin:0 5px;overflow:hidden;display:inline-block;padding:0;cursor:pointer'>  <{img app='desktop' src="bundle/handle-hide.gif" alt="收起子分类" title="收起子分类" class="handle-hide" app='desktop'}>
                        <{img app='desktop' src="bundle/handle-show.gif" alt="收起子分类" title="展开子分类" class="handle-show" app='desktop'}> </span> <{else}>
                        <{img app='desktop' src="bundle/blue-dot.gif"  app='desktop'}>
                        <{/if}>
                        <{/if}>
                        <{t}>排序<{/t}>
                        <input class="_x_ipt" type="number" size="2"  name="ordernum[<{$item.node_id}>]" value="<{$item.ordernum}>" vtype="unsigned">
                        <span class="lnk" style="color:#369; padding-right:15px;" onClick="new Dialog('index.php?app=content&ctl=admin_node&act=edit&node_id=<{$item.node_id}>', {title:'编辑'})"><{$item.node_name}></span></div></div>
                </td>
               <td width="10%"> <span class="quiet"><{$item.node_pagename}></span></td>
               <td width="11%"><{assign var="node_id" value=$item.node_id}><span class="opt" onClick="new Dialog('index.php?app=content&ctl=admin_node&act=add&parent_id=<{$item.node_id}>', {title:'添加子节点'})"><{img src="bundle/addcate.gif" border="0" alt="添加子分类" app='desktop'}></span></td>
                <td width="8%"><span class="opt" onClick="new Dialog('index.php?app=content&ctl=admin_node&act=edit&node_id=<{$item.node_id}>', {title:'编辑'})"><{img src="bundle/editcate.gif" border="0" alt="编辑"  app='desktop'}></span></td>
                <td width="8%">
				<{if $item.ifpub eq 'true'}>				
				<span class="opt" onClick="W.page('index.php?app=content&ctl=admin_node&act=publish&node_id=<{$item.node_id}>&pub=false')"><{img app=desktop src="bundle/visible.gif" }></span>
				<{else}>
				<span class="opt" onClick="W.page('index.php?app=content&ctl=admin_node&act=publish&node_id=<{$item.node_id}>&pub=true')"><{img app=desktop src="bundle/un_visible.gif" }></span>
				<{/if}>
				</td>
                <td width="8%"><span class="opt" onclick="deleteRow('index.php?app=content&ctl=admin_node&act=remove&node_id=<{$item.node_id}>',event)"><{img src="bundle/delecate.gif" border="0" alt="删除" app='desktop'}></span></td>
                <td width="10%"><span class="opt" onclick='W.page("index.php?app=content&ctl=admin_article&act=index&filter[node_id]=<{$item.node_id}>&action=view&page=1")'><{img src="bundle/showcate.gif" border="0" alt="查看此节点下文章" app='desktop'}></span></td>
                <td width="10%"><span class="opt"><a target="_blank" href="index.php?app=content&ctl=admin_article_detail&act=add&node_id=<{$item.node_id}>&type=1")'><{img src="bundle/btn_add.gif" border="0" alt="在此节点下添加文章" app='desktop'}></a></span></td>
                <td width="11%"><span class="opt" onclick="window.open('<{$item.url}>')"><{img src="bundle/zoom_btn.gif" border="0" alt="跳转前台查看该" app='desktop'}></span></td>
                </tr>
                </table>
            </div>
        </div>
        <{/foreach}>
	</div>
    </div>
    <{area inject=".mainFoot"}>
    <div class="footer">
        <div class="table-action">
            <{button class="btn-primary" label="保存排序" type="submit"  onclick="$('catEditor').fireEvent('submit',{stop:function(){}})"}>
        </div>
    </div>
    <{/area}>
</form>
<script>

function deleteRow(act,event){
e=$(new Event(event).stop().target);
     var row=e.getParent('.row');
    
    if(confirm('您确定要删除该节点？')){ 
        W.page(act,{
        method:'get',
        update:'messagebox',
        onComplete:function(re){
            
            if(re.contains('success')){row.remove();}
        
            }
        });
    }
}
<{if $tree_number<=500}>
void function(){   
   $E('#hideCat-handle').addEvent('click',function(){
    $ES('#node_tree .clear_cat').each(function(e){
        if(e.get('depath')>1){
            e.setStyles({'display':'none'});
        }
    });
    $ES('#node_tree .handle-hide').hide();
  });
    $E('#showCat-handle').addEvent('click',function(){

        $ES('#node_tree .clear_cat').each(function(e){
            if(e.get('depath')>1){
                e.setStyles({'display':''});
            }
        });
        $ES('#node_tree .handle-hide').show();
    });

    $('node_tree').addEvent('click',function(e){
       
       if(!e.target.className.match(/handle-/i))return;
    

      var handle=$(e.stop().target);
			var eventRow=handle.getParent('.row');
			var visible=handle.hasClass('handle-show')?'':'none';	
				if(visible=='none'){	   
					 	 handle.hide().getNext().show();						  			 				   			  			   				    	
					}else{																   
					 	 handle.hide().getPrevious().show(); 						 
									    
					}	
			flode(eventRow,visible);

    });
   
	function flode(eventRow,visible){			
			var node_id=eventRow.get('node_id');
			var parent_id=eventRow.get('parent_id');	
			
			eventRow.getAllNext('div[parent_id='+node_id+']').each(function(row){								
				if(visible=='none'){						
					row.hide();
					var obj=row.getElements('.span-8 img');							
					if(obj.length>1){					
						flode(row,visible);	
					}											
				}else{						
					row.show();		
					var obj=row.getElements('.span-8 img');							
					if(obj.length>1){			   
						var vis=(obj[0].getStyle('display')=='none'?'none':'inline');			
						flode(row,vis);	
					}
				}	
						
			});
	}
}();
<{/if}>
var articlesEditFrame = (function(){

	/*
	 *  sign:{
		   1:保存并关闭,
		   2:保存当前不关闭，               
	 *    }       
	 */
	var _form=$('catEditor'),_formActionURL=_form.get('action'); 
	subArticleForm = function (event,sign){  
	   var specOBJ='';	
	   var target={extraData:$('finder-tag').toQueryString()+'&'+specOBJ,onComplete:function(){}};
	 
	   switch (sign){
			case 1:
				$extend(target,{
					onComplete:function(){
						window.close();
					}}
				);
			break;
			case 2:
				$extend(target,{
					onRequest: function(){
						event.target.disabled = true;
					},
					onComplete:function(e){
						if(!JSON.decode(e).id){
							event.target.removeProperty('disabled');
							return;
						}
						var id = JSON.decode(e).id;
						if(id > 0){
							$('aEditor-Garticleid-input').value = JSON.decode(e).id;
						}
						event.target.disabled = false;
					}}
				);
			break;
			default:
			return;
	   }

		_form.store('target',target);
		_form.set('action',_formActionURL+'&but='+sign).fireEvent('submit',new Event(event));
	};
});

articlesEditFrame();

</script>
