<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$company_name}><{t}>商品展示 - <{/t}><{$goods_name_show}></title>
</head>
<style>
body{
  margin:0;
}
</style>
<body>

<div id="show-pic"><embed src="statics/pic-view.swf" quality="high" id="picview" flashvars="copyright=shopex&xml=<products name='<{$goods_name}>' shopname='<{$company_name}>'><{foreach from=$image_file key=key item=item}><smallpic<{if $key==$selected}> selected='selected'<{/if}>><{$item.small|gimage:'thumbnail'}></smallpic><bigpic<{if $key==$selected}> selected='selected'<{/if}>><{$item.big|gimage:'big'}></bigpic><{/foreach}></products>" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="100%" height="100%"></embed></object>
</div>
</body>
</html>
<script>
function windowClose(){
  if(window.confirm("您是否关闭当前窗口")){
    window.close();
  }

}
</script>


