<{assign var="disabledElement" value=true}>
<form id='PublishForm' method='post' action='index.php?ctl=sale/coupon&act=doPublish'>
<div class="tableform">
<h4><{t}>请确认优惠券信息<{/t}></h4>
<div class="division">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <th><{t}>名称：<{/t}></th>
    <td><{input type='text' value=$data.cpns_name name='cpns_name'}></td>
  </tr>
  <tr>
    <th><{t}>开始时间：<{/t}></th>
    <td><{input type='text' value=$data.pmt_time_begin name='pmt_time_begin'}></td>
  </tr>
  <tr>
    <th><{t}>结束时间：<{/t}></th>
    <td><{input type='text' value=$data.pmt_time_end name='pmt_time_end'}></td>
  </tr><tr>
    <th><{t}>描述：<{/t}></th>
    <td><{input type='textarea' name='pmta_describe' cols='50' rows='10' value=$data.pmt_describe}></textarea></td>
  </tr>
</table>
</div><h4><{t}>优惠券描述<{/t}></h4>
<div class="division">

<table width="100%" border="0" cellpadding="0" cellspacing="0">

  <tr>
    <th></th>
    <td></td>
  </tr>
</table>
</div>
<table border="0" align="center" cellpadding="0" cellspacing="0" class="tableAction">
  <tr>
    <td><b class="submitBtn"><a href="index.php?ctl=sale/coupon&act=selectProduct"><{t}>上一步<{/t}></a></b></td>
    <td><b class="submitBtn"><input type='submit' value='保存优惠券' /></b></td>
    <td><b class="submitBtn"><a href="index.php?ctl=sale/coupon&act=index"><{t}>取消<{/t}></a></b></td>  
  </tr>
</table>
</div>

  
</form>
</script>
