
<form id="frendlinkForm" action="index.php?ctl=content/frendlink&act=save"  method="POST"  enctype="multipart/form-data">
<input type="hidden" name="link_id" value="<{$linkInfo.link_id}>">
<div style="display:none"><{input type="checkForm" }></div>
<div class="division">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
  <th><{t}>友情链接名称：<{/t}></th>
  <td><{input type="text" name="link_name" required="true" value=$linkInfo.link_name}> *</td>
</tr>

<tr>
  <th><{t}>链接地址：<{/t}></th>
  <td><{input type="text" name="href" required="true" value=$linkInfo.href}> *</td>
</tr>

<tr>
  <th><{t}>友情链接图片：<{/t}></th>
  <td><{input type="file" name="link_logo" value=$linkInfo.link_logo}></td>
</tr>
<{if $linkInfo.image_url}>
<tr>
  <th>&nbsp;</th>
  <td><img src="<{$linkInfo.image_url|storager}>"></td>
</tr>
<{/if}>

<tr>
  <th><{t}>排序<{/t}></th>
  <td><{input type="unsignedint" name="orderlist" style="width:50px;" required="true" value=$linkInfo.orderlist}> *</td>
</tr>


</table>

</div>
<table border="0" align="center" cellpadding="0" cellspacing="0" class="tableAction">
  <tr>
    <td><b class="submitBtn" ><input type="submit" value="保存"></b></td>
  </tr>
</table>
</form>