<h1 class="title"><{t}>我的订单<{/t}></h1>
<form action=<{link ctl=member act=order_search}> method=post>
	<input type=text name="search_key" size=30> <input type=submit value='搜索'>  支持订单号和收货人
</form>
<table width="100%" cellpadding="3" cellspacing="0" class="liststyle">
<col class="span-2 ColColorGray"></col>
<!--<col></col>
	//-->
<col class="span-3"></col>
<col class="span-2 ColColorOrange"></col>
<col class="span-3"></col>
<thead>
  <tr>
    <th><{t}>订单号<{/t}></th>
    <!--<th><{t}>商品<{/t}></th>
    	//--> 
    <th><{t}>收货人<{/t}></th> 
    <th><{t}>总金额<{/t}></th>
     <th><{t}> 快递单号<{/t}></th>
     <th><{t}>状态<{/t}></th>
  </tr>
</thead>
<tbody>
<{foreach from=$orders item="order" name=orders}>
<tr>
  <td><a href="<{link ctl=member act=orderdetail arg0=$order.order_id}>"><{$order.order_id}></a></td>
  <td><{$order.ship_name}></td>
  <td class="textright"><{$order.final_amount|cur:$order.currency:false:false}></td>
   <td><{$order.logi_no}></td>
  <td>
  <{if $order.status == 'finish'}>已完成
  <{elseif $order.status == 'dead'}>已作废
  <{else}>
  <{if $order.pay_status==1}>已付款
    [<{if $order.ship_status==1}>
    已发货
    <{elseif $order.ship_status==2}>
    部分发货
    <{elseif $order.ship_status==3}>
    部分退货
    <{elseif $order.ship_status==4}>
    已退货
    <{else}>
    正在备货...
    <{/if}>]
  <{elseif $order.pay_status==2}>
    已付款至担保方
  <{elseif $order.pay_status==3}>
    <a href="<{link ctl=member act=orderpay arg0=$order.order_id}>" ><{t}>等待补款<{/t}></a>
    <{if $order.ship_status==1}>
    [已发货]
    <{elseif $order.ship_status==2}>
    [部分发货]
    <{elseif $order.ship_status==3}>
    [部分退货]
    <{elseif $order.ship_status==4}>
    [已退货]
    <{/if}>
  <{elseif $order.pay_status==4}>
    部分退款
    [<{if $order.ship_status==1}>
    已发货
    <{elseif $order.ship_status==2}>
    部分发货
    <{elseif $order.ship_status==4}>
    已退货
    <{elseif $order.ship_status==0}>
    未发货
    <{/if}>]
  <{elseif $order.pay_status==5}>
    已退款
    [<{if $order.ship_status==1}>
    已发货
    <{elseif $order.ship_status==2}>
    部分发货
    <{elseif $order.ship_status==4}>
    已退货
    <{elseif $order.ship_status==0}>
    未发货
    <{/if}>]
  <{else}>
    <a href="<{link ctl=member act=orderpay arg0=$order.order_id}>" ><{t}>等待付款<{/t}></a>
    <{if $order.ship_status==1}>
    [已发货]
    <{elseif $order.ship_status==2}>
    [部分发货]
    <{elseif $order.ship_status==3}>
    [部分退货]
    <{elseif $order.ship_status==4}>
    [已退货]
    <{/if}>
  <{/if}>
  <{/if}>
  </td>
</tr>
<{/foreach}>
</tbody>
</table>
<{pager data=$pager}>