
<div class="guidestep division">
<h4><{t}>商店配置模块是整个商店能够正常运营的保证，有些必须配置的功能必须填写完整，商店才能正常的营业：<{/t}></h4>
  <ul>
    <li><span class="num num1"></span><{t}>请先设置商店的支付方式和配送方式，以保证商店顾客能够正常的下单购买。<{/t}></li>
    <li><span class="num num2"></span><{t}>请完善您的商家信息，这样可以方便您的客户，通过您的网站来找到您。<{/t}></li>
    <li><span class="num num3"></span><{t}>如果您需要多个用户共同使用此系统，您可以在管理员管理里面添加管理账户，并指定其角色和权限。<{/t}></li>
    <li><span class="num num4"></span><{t}>如果您的商店是一个外贸商店，则可以在货币管理里面设置外币。<{/t}></li>        

  </ul>
</div>
