<form action='index.php?ctl=system/comeback&act=removeTgz' method='POST' class="tableform">
<p class="notice">
通过本界面对以往备份的数据库进行恢复或下载，请注意在恢复后，所有数据库信息包括管理员用户名密码都会恢复成备份时的状态。
</p>
<div class="division">
<div><input class="sysiconBtn delete" type='submit' value='删除选中' onclick="if(!confirm('删除后将无法恢复，确认要删除吗？'))return new Event(event).stop();" style="height:26px;width:auto; line-height:26px; padding:0; padding-left:15px;*padding-left:10px;"></div>
<table class="finderInform" width="100%" cellspacing="0" cellpadding="0" border="0">
<thead>
<tr>
<th>&nbsp;</th>
<th><{t}>备份文件名<{/t}></th>
<th><{t}>版本号<{/t}></th>
<th><{t}>子版本<{/t}></th>
<th><{t}>卷数<{/t}></th>
<th><{t}>大小(字节)<{/t}></th>
<th><{t}>备份时间<{/t}></th>
<th><{t}>恢复<{/t}></th>
</tr>
</thead>
<tbody>
  <{foreach from=$archive key=id item=tgz}>
  <tr>
    <td><input type='checkbox' name='tgz[]' value='<{$tgz.file|regex_replace:'/^(.*)[\\\|\/]/':''}>'></td><td><a href='index.php?ctl=sfile&act=getDB&p[0]=<{$tgz.file|regex_replace:'/^(.*)[\\\|\/]/':''}>' target="download"><{$tgz.file|regex_replace:'/^(.*)[\\\|\/]/':''}></a></td>
    <td><{$tgz.backup.app}></td>
    <td><{$tgz.backup.rev}></td>
    <td><{$tgz.backup.vols}></td>
    <td><{$tgz.size}></td>
    <td><{$tgz.mtime|cdate:'FDATE_FTIME'}></td>
    <td>
    <{if $appver.rev!=$tgz.backup.rev}>
    <font color='red'><{t}>版本不符，无法恢复<{/t}></font>
    <{else}>
    <a href="javascript:void(0)" onclick="run('<{$tgz.file|regex_replace:'/^(.*)[\\\|\/]/':''}>','<{$tgz.mtime}>','<{$tgz.backup.vols}>')"><{t}>恢复<{/t}></a>
    <{/if}>
    </td>
  </tr>
  <{/foreach}>
  
    </tbody>
</table>
</div>
</form>
<script>
var sqlcomback;
function run(filename,mtime,vols){
   sqlcomeback = new Dialog('index.php?ctl=system/comeback&act=comeback&p[0]='+filename+'&p[1]='+mtime+'&p[2]='+vols,{width:400,height:300,title:'数据恢复'})
}
</script>