
<bx_repeat:avatars>
    <div class="bx_ava_tar">
        <div class="thumbnail_image" style="width: 68px; height: 68px;">
            <img style="background-image: url(__url__); width: 64px; height: 64px;" src="<bx_image_url:spacer.gif />"/>
        </div>
        <div class="bx_ava_actions">
            <bx_if:is_not_main>
                <a class="bx_ava_set" href="javascript:void(0);" title="<bx_text:_bx_ava_set_as_my_avatar />"><img alt="__name__" src="<bx_icon_url:tick_circle_frame.png />" /></a>
            </bx_if:is_not_main>
            <bx_if:is_not_main_couple>
                <a class="bx_ava_set_couple" href="javascript:void(0);" title="<bx_text:_bx_ava_set_as_couple_avatar />"><img alt="__name__" src="<bx_icon_url:tick_circle_frame_couple.png />" /></a>
            </bx_if:is_not_main_couple>                            
            <a class="bx_ava_del" href="javascript:void(0);" title="<bx_text:_bx_ava_remove />"><img alt="__name__" src="<bx_icon_url:cross_circle_frame.png />" /></a>
        </div>
    </div>
</bx_repeat:avatars>
                            
