/*---------------------------------------------------------------------------------------------------------------
	tab
 ---------------------------------------------------------------------------------------------------------------*/
.tabs-wrap { background: url(tile_bg.gif) repeat-x 0 -600px; height: 31px; padding: 0 3px; }
.tabs-wrap ul { float: left; margin: 3px 0 0 0; padding: 0 5px; }
.tabs-wrap li{ margin:0 2px 0 0}
.tab { background: none; padding: 0 0 0 17px; margin-right: 5px; text-align: center; float: left; line-height: 27px; font-size:13px; color: #5f5f5f; list-style: none; cursor: pointer; }
.tab span { background: none; padding: 0 17px 0 0; float: left; height: 28px; white-space:nowrap; }
.tab a { color: #5f5f5f; text-decoration:none }
.tab .lnk { color:#3367AC; text-decoration:underline;}
.tabs-wrap .current { background: url(main_bg.gif) no-repeat -250px -600px; font-weight: bold; color: #222; }
.tabs-wrap .current span { background:url(main_bg.gif) right -600px; }
.tabs-wrap .current a { color:#222; }
.tabs-item { border: 1px solid #c0d1d6; border-top: none; padding: 10px; }
/*---------------------------------------------------------------------------------------------------------------
	pager
 ---------------------------------------------------------------------------------------------------------------*/
.pager { paddig:3px; font-size: 0.9em; font-family: Tahoma,Helvetica,sans-serif; text-align: center; }
.pager a { border: 1px solid #ccdbe4; padding: 3px 5px; color: #3E5B74; background: #f3f3f3; margin: 0 1px 0 0; text-decoration: none; }
.pager a:hover { background-color: #4f6596; border-color: #2b55af; color: #fff; }
.pager .current { padding: 2px 6px; font-weight: bold; color: #000; margin: 0 2px 0 0; }
.pager .disabled { display: none; }
.pager .next { margin: 0 0 0 1px; }
.pager .prev { margin: 0 1px 0 0; }

table.pager { width: auto; }
table.pager a { padding: 2px 8px; margin: 0 3px 0 0; }
table.pager a:hover, table.pager a:active { background-color: #d8dde9; border-color: #989fb1; color: #222; }
table.pager .disabled { display: none; }
table.pager .next { margin: 0 0 0 10px; }
table.pager .prev { margin: 0 10px 0 0; }
table.pager th, table.pager td { padding: 0; }

/*---------------------------------------------------------------------------------------------------------------
	提示信息
----------------------------------------------------------------------------------------------------------------*/
.tip { border:1px solid #ebe783; width:230px; background:#fafbf0; z-index:65535; -webkit-border-radius: 5px; -moz-border-radius: 5px;
    -moz-box-shadow:3px 3px 7px #999; -webkit-box-shadow:3px 3px 7px #999;  }
.tip-top { display:none; }
.tip-title {font-weight:bold; background:#ffeaaa url(main_bg.gif) no-repeat 4px 3px; padding:3px 3px 3px 20px; }
.tip-text {  padding:3px 7px; color:#5b5b5b; line-height:16px; word-wrap:break-word; overflow:hidden; }

/*---------------------------------------------------------------------------------------------------------------
	图片信息
----------------------------------------------------------------------------------------------------------------*/
.x-view-img { line-height:15px; background:transparent url(viewIMG.gif) no-repeat 0 0!important; border:none!important; cursor:pointer; }
.x-view-img:hover { background-position:0 -24px!important; }
.x-view-img-loading,
.x-view-img-loading:hover { background-position:0 -48px!important; }
/*---------------------------------------------------------------------------------------------------------------
	tag 标签
----------------------------------------------------------------------------------------------------------------*/
.x-tag-wrapper { padding: 0; margin: 5px 0; }
.x-tag-info { float: left; width:60px; padding: 6px 0; font-weight: normal; margin-right: 5px; }
.x-tag-list { margin: 0; padding: 0; }
.x-tag-list .x-tag { background:#F5F9FF; float:left; white-space:nowrap; padding:2px 5px; margin:2px 4px 2px 0; border:1px solid; border-color: #fff #a5c9f5 #a5c9f5 #fff; cursor:pointer;}
.x-tag-list .x-tag-selected{ background:#70acf4; border-color: #4b9fee; color:#fff; }
/*---------------------------------------------------------------------------------------------------------------
	树状菜单
----------------------------------------------------------------------------------------------------------------*/
.x-tree-list { }
.x-tree-list .node { display:block; height:20px; white-space:nowrap; overflow:hidden; zoom:1; }
.x-tree-list .node span, .x-tree-list .node input { display:block; float:left; }
.x-tree-list div { padding-left:15px; }
.x-tree-list .node-hasc, .x-tree-list .node-child-box { clear: both; }
.x-tree-list .node-line { display:none; }
.x-tree-list .node-icon { width:20px; background:url(treeico.gif) no-repeat 50% -54px; }
.x-tree-list .node-hasc .node-icon { background-position:50% -6px; }
.x-tree-list .node-name { color:#666; padding-right: 10px; }
.x-tree-list .node-handle { width:18px; }
.x-tree-list .node-hasc .node-handle { background:url(treeico.gif) no-repeat 50% 3px; cursor:pointer; }
.x-tree-list .node-hasc .node-close { background-position:50% -47px; }
.x-tnode-handle,
.closeFolder { margin-left:5px; display:inline-block; display:inline-moz-stack;  *display:inline;
zoom:1; width:12px; height:15px; background: url(sitemapopened.gif) no-repeat 0 2px; cursor:pointer; }
.x-tnode-close,
.openFolder { margin-left:5px; display:inline-block; display:inline-moz-stack;  *display:inline;
zoom:1; width:12px; height:15px; background:url(sitemapclosed.gif) no-repeat 0 2px; cursor:pointer; }
.closeFolder,
.openFolder { background-position:0 center; _background-position:0 4px; height:20px; vertical-align:middle; }

/*---------------------------------------------------------------------------------------------------------------
	dialog对话框
---------------------------------------------------------------------------------------------------------------*/
.dialog { position:absolute; -moz-box-shadow:3px 3px 7px #999; -webkit-box-shadow:3px 3px 7px #999;}
.dialog-box { border:1px solid #71859C; background:#fff}
.dialog-head { background:#e2edf8 url(tile_bg.gif) 0 -500px; color:#3d4043; font-size: 14px; height: 27px; line-height: 27px; padding:0 3px 0 7px; font-weight:bold; overflow: hidden; cursor:move;}
.dialog-content-head, .dialog-content-foot { background: #f9fbff; color: #6b6b6b; padding: 0 7px; line-height: 180%; }
.dialog-content-head { background: #fff; }
.dialog-content-head .tabs-wrap { background-position:0 -200px; height:28px; padding-top:3px; }
.dialog-content-head .tab, .dialog-content-head span { background:none; line-height:36px; height:36px;}
.dialog-content-head span { *padding-top: 7px; *height: 24px; }
.dialog-content-head .current { background:url(tab.gif) no-repeat 0 -234px; height:31px; }
.dialog-content-head .current span { background:url(tab.gif) no-repeat right -234px; }

.dialog-content-foot { }
.dialog-content-body{ background: #fbfbfb; overflow:hidden; overflow-y:auto;}
a.btn-close { display: block; background: url(main_bg.gif) no-repeat 0 -120px; margin:5px 0 0; text-indent: -9999px; height:16px; width: 16px; overflow: hidden; cursor:pointer;}
.btn-resize{ background: url(main_bg.gif) no-repeat -50px -120px; position:absolute; bottom:2px; _bottom:-6px; right:2px; width:6px; height:6px; color:#fff; cursor:nw-resize;}

div.dialog .tableform h4 { border:none; padding:3px 2px; }
div.dialog .tableform { border:none; margin:5px 13px 7px; padding:2px; }
div.dialog .tableform .division { margin:3px 3px 5px; }
div.dialog .division { background:#fff; border: 1px solid #d8d8d8; padding:5px; margin: 10px 13px; }
div.dialog .division .division { border:none; }
.dialog .table-action { margin:6px; padding:5px 0 }
.dialog-content-foot .table-action { margin: 6px 0; border-top: 1px solid #d8d8d8; padding:5px 0; }

/*---------------------------------------------------------------------------------------------------------------
	输入项验证
---------------------------------------------------------------------------------------------------------------*/
.x-vali-error { padding:3px 5px 3px 21px; margin-left:10px; display:inline; height:25px; border: 1px solid #E6594E; white-space:nowrap; text-align: left; color: #E6594E; background:#FCEAE8 url(warning.gif) no-repeat 3px; }
/*---------------------------------------------------------------------------------------------------------------
 	selecet替换
----------------------------------------------------------------------------------------------------------------*/
.x-button { width: auto; min-height: 27px; display: -moz-inline-stack; display: inline-block; margin:0 1px; padding:0; zoom:1;  *display: inline; _height: 27px; background:url(images/btn_bg.gif) repeat-x; cursor: pointer; line-height:1; }
.x-button-label { padding:7px 1px 0 1px; vertical-align:top; line-height:27px; color:#333 }
.x-button-default { color:#000; font-weight:bold; padding:7px 5px 0 5px; }
.x-button-icon { margin-top:5px; vertical-align:top; }
/*select*/
.selectBtnTable { border: 0 none; background: transparent; padding: 0; margin: 0; }
.selectbtn { color: #333; height: 25px; }
.select_ghost { padding: 3px; border: 1px #ccc solid; position: absolute; font-size: 12px; z-index: 65535; visibility: hidden; background: #ffffff; white-space: nowrap; }
.select_ghost .item { color: #333; margin: 2px; display: block; padding: 2px; text-decoration: none; }
.select_ghost .item:hover,
.select .on { background: #2d297a; color: #fff; font-weight: bold; }
.optionlevels { border:none; }
/*---------------------------------------------------------------------------------------------------------------
	下拉菜单
---------------------------------------------------------------------------------------------------------------*/ 
.x-drop-menu { position:absolute; display: none; white-space:nowrap; border:1px solid #b1c3d4; position: absolute; background:#fff; z-index:999; padding:5px 4px; line-height:180%; -moz-box-shadow: 5px 5px 5px #e8e8e8; -webkit-box-shadow: 5px 5px 5px #e8e8e8; }
.x-drop-menu ul,
.x-drop-menu li { margin:0; padding:0; list-style:none; }
.x-drop-menu .item { display:block; white-space:nowrap; cursor:pointer; }
.x-drop-menu .item:hover { background:#FFC23F; }
.x-drop-menu-disabled { color:#7b7b7b; }
.x-drop-menu-disabled .item { cursor:default; }
.x-drop-menu-disabled .item:hover { background:none; }
.x-drop-menu .group { border-bottom:1px solid #CCC; padding:2px 0; }
.x-drop-menu .group:last-child { -moz-border-radius-bottomleft:5px; -moz-border-radius-bottomright:5px; border:none; }
.x-drop-menu .group:first-child { -moz-border-radius-topright:5px; }
.x-drop-menu .highlight { background:#fff; border-left:2px solid #f90; color:#000; }
.x-drop-menu .catelevel_1 { font-size:14px; font-weight:700; border-bottom:1px solid #6D9DC2; color:#000; }
.x-drop-menu .catelevel_2 { padding-left:20px; font-weight:700; color:#000; }
.x-drop-menu .catelevel_3 { padding-left:40px; color:#000; }
.x-drop-menu .catelevel_4 { padding-left:60px; color:#666; }
.x-drop-menu .catelevel_5 { padding-left:80px; color:#4E6A81 }
.x-drop-menu .info { float:right; color:#CCC; }
.x-drop-menu .imgbundle { margin-right:5px; }
.dropmenu{display: none;position: absolute;background:#E8EEF7;}

/*---------------------------------------------------------------------------------------------------------------
	分类选择
---------------------------------------------------------------------------------------------------------------*/ 
.cat-path{border-bottom:1px #e9e9e9 solid;} 

.cat-group a{display:block;text-decoration:none;font-size:13px;padding:2px 3px;border:1px #fff solid;} 
.cat-group a:hover{background:#e9e9e9;}
.cat-group .subs{ background:url(ico_arrow1.gif) center no-repeat;border:1px #fff solid; width:14px; text-indent:-999em;}
.cat-group .subs:hover{background:url(ico_arrow2.gif) center no-repeat;border:1px #ccc solid;}
.cat-path .subs{color:#333;text-decoration:none;}   
.cat-path .subs:hover{background:none;text-decoration:underline;}


/*---------------------------------------------------------------------------------------------------------------
	html编辑器
---------------------------------------------------------------------------------------------------------------*/ 
.mce_style_1 { background: url(tile_bg.gif) repeat-x 0 -600px; border-color:#ccc #ccc #666 #ccc; border-style:solid; border-width:1px;margin:0; zoom:1; }
.wysiwyg_body iframe,
.wysiwyg_body textarea { clear:both; background:#fff; font-family:verdana; border:none; padding:0; margin:0; width:100%; height:100%; }
.wysiwyg_body { border-color:#B0BEC7 #B0BEC7 #93A6B4 #93A6B4; border-style:solid; border-width:1px; }

.mce_style_1 li,
.mce_style_1 ul { list-style-type:none; }
.mce_style_1 ul{padding:0;margin:0;overflow:hidden;height:100%;}

.mce_style_1 {  
   overflow:hidden;
   clear:both; 
   padding:4px;
}
.mce_style_1 ul li { float:left; cursor: pointer;border:none;padding:2px;margin-right:2px;}
.mce_style_1 ul li img{
   margin:0;
   float:left;
}

.mce_style_1 li:hover{ background:#c7dce7; border:1px solid #688db2; padding:1px;}

.mce_style_1 li.in { border:1px #ccc solid; background:#fff; padding:1px;}
.mce_style_1 select {
 *border:1px #e9e9e9 solid; color:#333; font-size:10px; font-family:Verdana; }
.mce_style_1 select option { background:#f2fafc; }
.button-add,
.button-cut { height:16px; line-height:16px; text-indent:2000; width:16px; background:transparent url(button_add_cut.gif) no-repeat 50% -32px; border:none; cursor:pointer; margin:5px 5px 0 0; }
.button-cut { background-position:50% 0; }

/*---------------------------------------------------------------------------------------------------------------
	相册
---------------------------------------------------------------------------------------------------------------*/
.image-input{border:1px #e9e9e9 solid;}
.image-input-view{border:1px #fff solid;}
.image-input-handle { background:#efefef; border:1px #ccc solid; cursor:pointer;white-space:normal;line-height:normal; padding-top:2px; text-align:center; float:right;}
.image-input-handle img{ display:block; margin: 3px auto;}
.image-input-handle:hover{background:#3D568D;color:#fff;}

.image-broswer-handle { margin: 0 -7px; }
.image-lib img {border:2px solid #fff; padding:1px;background:#fff;}
.image-lib img:hover,.image-lib img.current{border-color:red;cursor:pointer;}
.image-lib .image-lib-info  { padding:3px 0 0; }
ul.image-lib-info li { border:none; }
.dialog .division .image-lib td { border:none; }
/*---------------------------------------------------------------------------------------------------------------
	日历
---------------------------------------------------------------------------------------------------------------*/ 
.x-calendar { border:1px #ccc solid; }
.x-datepicker { font-family: Verdana, Arial, Helvetica, sans-serif; background: none !important; overflow: hidden; width: 226px; }
.x-datepicker table { background: #BEBEBE; margin: 0 auto; padding: 0; overflow: hidden; border-spacing: 0px; border: 1px solid #000; border-top: none; width: 100%; }
.x-datepicker caption { color: #333; font-weight: bold; font-size: 13px; text-align: center; width: 100%; height: 25px; line-height: 26px; background:#4E6A81 url(calbg.gif) repeat-x; border: 1px solid #000; }
.x-datepicker caption a { cursor: pointer; color: #000; text-decoration:none; font-weight:bold; margin:0 10px 0 10px; }
.x-datepicker-month { width: 120px; padding-left:10px;}
.x-datepicker-year{ width: 80px; padding-right:10px;}
.x-datepicker-year span,
.x-datepicker-month span{
 cursor:s-resize;
 }
.x-datepicker .next,.x-datepicker .prev{cursor:pointer} 
.x-datepicker th,
.x-datepicker td { cursor: default; font-size: 12px; background: #fff; height: 20px; width: 25px; text-align: center; border-top: 1px solid #BEBEBE; }
.x-datepicker th { background: #FDFDDB; border: none; color: #888; font-family:Verdana; font-size:10px; }
.x-datepicker .active { cursor: pointer; }
.x-datepicker .inactive { background: #EEEEEE; color: #BEBEBE; }
.x-datepicker .today { border-top: 1px solid #FFc700; background: #FFFF99; }
.x-datepicker .hilite { background: #000; color: #fff; }
/*---------------------------------------------------------------------------------------------------------------
	颜色拾取器
---------------------------------------------------------------------------------------------------------------*/
.goog-palette-panel { background-color:#FFFFFF; border-collapse:collapse; border-color:#CCCCCC #676767 #676767 #CCCCCC; border-style:solid; border-width:1px; color:#333333; cursor:default; margin:0; outline-color:-moz-use-text-color; outline-style:none; outline-width:medium; padding:0.5ex 0 0; position:absolute; white-space:nowrap; z-index:65535; visibility:hidden; }
.goog-palette { outline:none; cursor:default }
.goog-palette-table td,
th { padding:0; }
.goog-palette-table { margin:5px; border:1px solid #666; border-collapse:collapse; width:auto; }
.goog-palette-cell { height:18px; width:18px; margin:0; border:none; text-align:center; vertical-align:middle; cursor:pointer }
.goog-palette-cell .goog-palette-colorswatch { position:relative; height:18px; width:18px; font-size:x-small; }
.goog-palette-cell-hover .goog-palette-colorswatch { height:16px; width:16px; border:1px solid #fff; }
/*---------------------------------------------------------------------------------------------------------------
	inputfile
---------------------------------------------------------------------------------------------------------------*/
.input-file { display: inline-block; display: -moz-inline-block; *display: inline; zoom:1; }
.input-file-selected { border-bottom: 1px solid #ccc; display: inline-block; display: -moz-inline-block; *display: inline; zoom:1; padding:0 5px; width: auto !important; min-width:100px; width: 100px; }
/*---------------------------------------------------------------------------------------------------------------
	tag编辑器
---------------------------------------------------------------------------------------------------------------*/
.tag-editor-value { width:95%; margin:1px;}
ul.tag-editor-group { padding:6px 3px; margin:0 5px 5px;}
ul.tag-editor-group li { *padding:2px 0; cursor:pointer;}
.tag-editor-group li { list-style:none;}
.tag-editor-btns { border-top:1px solid #d1d0d3; padding:5px 0;}

span.tag { padding:1px 2px; margin:0 1px; background:#f8f8f8; border:1px solid #B7C2CF;}
.tag-label{ background:#F1F4F7; padding:2px 4px; color:#4E6A81; border:1px solid; border-color:#CCCCCC #E9E9E9 #E9E9E9 #CCCCCC; -moz-border-radius: 4px;-webkit-border-radius: 4px;}
/*---------------------------------------------------------------------------------------------------------------
	filter 筛选器
---------------------------------------------------------------------------------------------------------------*/
.filter-list dl { clear:both; padding:0 3px; margin:5px 0 15px; }
.filter-list dt { font-weight:normal; color:#666; margin:0 0 5px; }
.filter-list dd { padding:0; margin:0; font-weight:bold; color:#000; }
.filter-list dd input, .filter-list dd select { font-weight:bold; color:#000; }

/*---------------------------------------------------------------------------------------------------------------
	loading
---------------------------------------------------------------------------------------------------------------*/
#loadMask { position: absolute; left:10px; top:10px; width:115px; height:26px; line-height:26px; text-align:left; background:#fd9104; color:#fff; }
#loadMask span { background:url(saas_loading.gif) no-repeat; padding-left:22px; margin-left:8px; font-weight:bold; }

.msgbox{ position: absolute; background:#EDFFE0;line-height:22px; padding: 0 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border:1px #8FC469 solid; color:#333; white-space: nowrap; display:none; right:480px;z-index: 65535;}
.msgbox.default,
.msgbox.warning,
.msgbox.exception{display:block;}
.msgbox.warning{border-color:#FF9966;background:#FFFFCC;}
.msgbox.exception{border-color:#FF0000;background:#FFCCCC;}
.head .msgbox{margin-left:50px;}
.head .msgbox a{text-decoration:underline;color:#EB7D00;font-weight:normal;}
/*---------------------------------------------------------------------------------------------------------------
	imgbundle
---------------------------------------------------------------------------------------------------------------*/
.imgbundle { background-image:url('bundle.gif'); background-repeat:no-repeat; vertical-align:middle; margin-right:2px; }
/*---------------------------------------------------------------------------------------------------------------
	menusearch
---------------------------------------------------------------------------------------------------------------*/
.menuSearch input { width:400px; font-size:13px; font-family:verdana; padding:2px; border-color:#7C7C7C #CECECE #C3C3C3 #7C7C7C; border-style:solid; border-width:1px; }
.menuSearch .links li { float:left; white-space:nowarp; cursor:pointer; padding:3px; margin:3px; padding-left:10px; background:url(arrow-right.gif) no-repeat 0 50%; }
.menuSearch li span { display:block; line-height:20px; }
.menuSearch .links { padding:3px; overflow:hidden; }

/*---------------------------------------------------------------------------------------------------------------
	process
---------------------------------------------------------------------------------------------------------------*/
.process {  width: 250px; padding:1px; text-align:center; margin:10px auto;}

/*---------------------------------------------------------------------------------------------------------------
	行业体验数据
---------------------------------------------------------------------------------------------------------------*/
.industry-show { padding:10px 0px; text-align:center; width:120px; float:left; margin:5px; }
.industry-pic { width:100px; height:100px; border:1px solid #3366cc; }

.text-spec-value-table .simg-col span { visibility:hidden;}
/*---------------------------------------------------------------------------------------------------------------
	筛选器
---------------------------------------------------------------------------------------------------------------*/
.selector-panel { width:532px; overflow:hidden;}
.selector-table { table-layout:fixed;}
.selector-table tbody td { vertical-align:top; text-align:left; padding:0;}
/*跳转提示器*/
.splash{border-width:2px;width:400px;padding:10px;position:statics;margin:20px auto 0 auto;}
.object-select{margin:2px 0 2px 0;*display: inline;border:none;}
.object-select div{float:left; line-height:19px;}
.object-select .label{border:1px #ccc solid;padding:0 10px 0 10px;border-right:none;cursor:pointer;background:#fff;}
.object-select .handle{border:1px #ccc solid;padding:0 5px 0 5px;background:#e9e9e9 url(arrow-down.gif) no-repeat 50% 50%;cursor:pointer;font-weight:bold;}

/*---------------------------------------------------------------------------------------------------------------
	框架loading
---------------------------------------------------------------------------------------------------------------*/
.loadpart{padding:5px;}
.loadpart .msg{padding:4px;font-weight:bold;}
.loadpart .lpb{padding:1px;border:1px #ccc solid;font-size:9px;width:250px;}
.loadpart .lpp{background:#4B6DAA;width:0%}
.x-loading{display:none;}
/*---------------------------------------------------------------------------------------------------------------
	autocompleter
---------------------------------------------------------------------------------------------------------------*/
ul.autocompleter-choices
{
	position:				absolute;
	margin:					0;
	padding:				0;
	list-style:				none;
	border:					1px solid #7c7c7c;
	border-left-color:		#c3c3c3;
	border-right-color:		#c3c3c3;
	border-bottom-color:	#ddd;
	background-color:		#fff;
	text-align:				left;
	font-family:			Verdana, Geneva, Arial, Helvetica, sans-serif;
	z-index:				65535;
	background-color:		#fff;
    
}

ul.autocompleter-choices li
{
	position:				relative;
	margin:					-2px 0 0 0;
	padding:				0.2em 1.5em 0.2em 1em;
	display:				block;
	float:					none !important; 
	cursor:					pointer;
	font-weight:			normal;
	white-space:			nowrap;
	font-size:				1em;
	line-height:			1.5em;
}

ul.autocompleter-choices li.autocompleter-selected
{
	background-color:		#444;
	color:					#fff;
}

ul.autocompleter-choices span.autocompleter-queried
{
	display:				inline;
	float:					none;
	font-weight:			bold;
	margin:					0;
	padding:				0;
}

ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried
{
	color:					#9FCFFF;
}


/*---------------------------------------------------------------------------------------------------------------
	imageset
---------------------------------------------------------------------------------------------------------------*/
/*#imageset .dft_image{
	padding-top:6px;
}
#imageset .dft_image label{
	position:absolute;
	background:#fff;
	padding:3px;
	left:10px;
	top:10px;
    filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7
}
#imageset .dft_image img{ width:100%;height:100%}
*/
#imageset .pos-select { background:#fff; margin:10px; border:1px solid #ccc; width:auto; cursor: pointer;}
#imageset .pos-select td { border:1px solid #d8d8d8; }
#imageset .pos-select .current{ background:#36c; color:#fff}
.watermark-setting .tableform { border:1px solid #d8d8d8; padding:0 10px 5px; margin:3px 0; background:#f8f8f8; }
.watermark-none .watermark-setting { display:none; }

.watermark-none .pos-select, .watermark-none .watermark-set,
.watermark-text .watermark-image-set, .watermark-image .watermark-text-set{ display:none }