<form action='<{$thisUrl}>&action=to_export' method='post' enctype="multipart/form-data">
<div class="tableform">
<div class="division" >
<{if $change_type}>
导出类型
<input type='radio' name='_export_type' value='1' <{if $change_type==1}>checked<{/if}>/>type1  &nbsp;
<input type='radio' name='_export_type' value='2' <{if $change_type==2}>checked<{/if}>/>type2<br/>
<{/if}>
<{foreach from=$ioType item=io}>
<input type='radio' name='_io_type' value='<{$io}>' <{if $io=='csv'}>checked<{/if}>/><{$io}><span style="padding:0 10px">
<{button type="submit" label="导出" app="desktop" icon="btn_get_world.gif"}>
</span><br/>
<{/foreach}>
<{toinput from=$env.post}>
</div></div>
</form>