<div class="membertop"><span style="margin-left:20px; font-size:16px; color:#FFFFFF; line-height:40px; font-weight:bold;">My Account</span></div>
<div class="membertopb"><span style="margin-left:20px; font-size:16px; color:#CF5E64; line-height:40px; font-weight:bold;">User name information</span></div>



<{if $wel.oNum!=0 || $wel.mNum!=0}>

<div class="note clearfix" id="infotip">

  <div class="span-10">
   
    <{if $wel.oNum!=0}>
    You have<strong class="fontcolorRed"><{$wel.oNum}></strong><{t}>orders need to pay，do you going to<{/t}><a href="<{link ctl=member act=orders}>"><{t}>check<{/t}></a>now?
  <{/if}>
  
</div>

</div>
<{/if}>

<div class="memberconb"><{t}>Your points now：<{/t}><strong class="font16px fontcolorOrange"><{$wel.pNum}></strong><{t}>分&nbsp;&nbsp;&nbsp;&nbsp;<{/t}></div>

<div class="memberconb"><{t}>Default shipping Address：<{/t}><span ><a href="http://localhost/?member-4-modifyReceiver.html" onFocus="this.blur()"><img style="margin-top:5px;" src="../../../../themes/zqzyb/images/member/editinformation.gif"/></a></span></div>

<div class="membercon">
<span>User name & Password</span>
<div style="padding-left:20px;">User name:<{if $mem.name==''}><{$mem.uname}><{else}><{$mem.name}><{if $mem.sex == 1}><{else}><{/if}><{/if}></div>
<div style="padding-left:20px;">Password:******<a href="http://localhost/?member-security.html" onFocus="this.blur()"><img style="margin-top:5px; margin-left:63px;" src="../../../../themes/zqzyb/images/member/editinformation.gif"/></a></div>
</div>
<div class="memberconb"><{t}>Order Status & History：<{/t}><span ><a href="http://localhost/?member-orders.html" onFocus="this.blur()"><img style="margin-top:5px; margin-left:20px;" src="../../../../themes/zqzyb/images/member/viewall.gif"/></a></span></div>
<div class="memberconb"><{t}>Wish List：<{/t}><span ><a href="http://localhost/?member-favorite.html" onFocus="this.blur()"><img style="margin-top:5px; margin-left:89px;"  src="../../../../themes/zqzyb/images/member/viewlist_r3_c1.gif"/></a></span></div>


</div>
