

<div class="note">
<h3><{$return_item.title}></h3>
  <div class="span-auto colborder"><{t}>订单编号：<{/t}><span class="font14px fontbold fontcolorOrange"><{$return_item.order_id}></span></div>
  <div class="span-auto colborder">订单状态：
  <span class="font14px fontcolorOrange fontbold">
    <{$return_item.status}>  
	</span></div>
  <div class="span-auto last"><{t}>退货时间：<{/t}><span class="fontcolorOrange "><{$return_item.add_time|cdate:'FDATE_FTIME'}></span></div>
  <div class="clear"></div>
 <{if $return_item.comment }>
     <{foreach from=$return_item.comment item="comment_item" name=comment}>
      <div class="division pushdown-1 " style="clear:both">
       <h4><{t}>店主反馈<{/t}><span class="font12px fontcolorGray fontnormal"><{$comment_item.time|cdate:'FDATE_FTIME'}></span></h4>
       <{$comment_item.content}>
      </div>
     <{/foreach}>
  <{/if}>
</div>

<div class="FormWrap">
<h4><{t}>需要售后服务的商品<{/t}></h4>
<div class="division">
<table cellspacing="0" cellpadding="3" width="100%" class="liststyle">
  <colgroup class="span-2"></colgroup>
  <colgroup class="span-auto"></colgroup>

  <colgroup class="span-2"></colgroup>
  <thead>
    <tr>
      <th><{t}>货号<{/t}></th>
      <th><{t}>商品名称<{/t}></th>
      <th><{t}>退货数量<{/t}></th>
    </tr>
  </thead>
  <tbody>
  	<{if $return_item.product_data }>
    	<{foreach from=$return_item.product_data item="product_item" name=product_data}>
            <tr>
              <td><{$product_item.bn}></td>
              <td><{$product_item.name}></td>
              <td><{$product_item.num}></td>
            </tr>
    	<{/foreach}>
    <{/if}>
  </tbody>
</table>

</div>

<{if $return_item.image_file}>
    <h4><{t}>关于退货附件<{/t}></h4>
    <div class="thumbnailPic clearfix division">
    	<a class="margin10" href="javascript:file_download()"><{t}>请点击下载该附件<{/t}></a>
    </div>
<{/if}>

<{if $return_item.content}>
    <h4><{t}>详细说明<{/t}></h4>
    <div class="division">
    	<{$return_item.content}>
    </div>
<{/if}>
</div>
<script>
function file_download(){
    var ifm=new IFrame({src:'<{link ctl=member act=file_download arg0=$return_id }>'});
    ifm.injectAfter(document.body);
}
</script>

