<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$TITLE}></title>
<{$headers|replace:"\n":' '}>
<link rel="stylesheet" href="<{$base_url}>statics/framework.css" type="text/css" />
<link rel="stylesheet" href="<{$base_url}>statics/shop.css" type="text/css" />
<link rel="stylesheet" href="<{$base_url}>statics/widgets.css" type="text/css" />

<script type="text/javascript" src="<{$base_url}>statics/js/mootools.js"></script>
<script type="text/javascript" src="<{$base_url}>statics/js/jstools.js"></script>
<script type="text/javascript" src="<{$base_url}>statics/js/dragdropplus.js"></script>
<script type="text/javascript" src="<{$base_url}>statics/js/shopwidgets.js"></script>

<script type="text/javascript">
<{if $theme_color_href}>
   window.addEvent('domready',function(){
       new Element('link',{href:'<{$theme_color_href}>',type:'text/css',rel:'stylesheet'}).injectBottom(document.head);
   });
<{/if}>
/*for shopadmin loadingbar*/

window.onload = function(){(parent.loadedPart[1])++};
</script>

