@charset "utf-8";
body {
	margin: 0px;
	color: #3c3c3c;
	font-size: 12px;
}
.logo {
	float: left;
	height: 78px;
	width: 220px;
	overflow: hidden;
}
.top_login {
	float: left;
	height: 58px;
	width: 308px;
	padding-top: 20px;
}
.bg {
	background-image: url(bg3.png);
	background-repeat: repeat;
	height: 25px;
	width: 141px;
	padding-top: 5px;
	float: right;
}
.title1 {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ebebeb;
	width: 518px;
	padding-top: 8px;
	padding-bottom: 14px;
	margin-top: 36px;
	float: left;
}
.bg a {
	font-weight: bold;
	text-decoration: none;
}
.jieshao {
	padding-top: 16px;
}
.tell span {
	font-size: 16px;
	font-weight: bold;
}
.top_search {
	float: left;
	height: 58px;
	width: 254px;
	padding-top: 20px;
}
.jieshao h1 {
	font-size: 16px;
	font-weight: bold;
}
.header {
	padding-top: 15px;
	width: 950px;
}
.menu a {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	float: left;
	padding-right: 14px;
	padding-left: 14px;
}
.menu span {
	float: left;
	color: #7abbd6;
}
.menu a:hover, .goodsDesc a:hover {
	color: #BFE1F0;
	text-decoration: underline;
}
.page_left {
	float: left;
	width: 200px;
}
.page_center {
	float: left;
	width: 518px;
	padding-right: 16px;
	padding-left: 16px;
}
.page_right {
	float: left;
	width: 200px;
}
.menu {
	background-image: url(menu_bg.png);
	background-repeat: repeat-x;
	background-position: left top;
	float: left;
	height: 23px;
	width: 950px;
	font-size: 12px;
	padding-top: 9px;
	padding-bottom:16px;
}
.tell {
	height: 58px;
	width: 165px;
	padding-top: 20px;
	float: left;
}
.search_label span {
	width:50px;
	float:left;
	display:none
}
.search_label .inputstyle {
	background-color:#F7F7F7;
	border:1px solid #CCCCCC;
	color:#666666;
	float:left;
	padding:5px;
	width:105px;
}
.btn_search {
	text-indent:-9999px;
	background-image: url(search_b.gif);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	height: 27px;
	width: 43px;
	margin: 0px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: hand;
}
.search_label .btn_advsearch {
	float:left;
	width:200px;
}
.btn_advsearch {
	display:block;
	padding-top:8px;
}
.SearchBar table td {
	float:left;
	padding:0 5px;
	vertical-align:middle;
}
.search_label {
	float:left;
	width:110px;
}
.huitable h2 {
	margin: 0px;
	font-size: 14px;
	font-weight: bold;
	color: #3c3c3c;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 6px;
	padding-left: 0px;
}
.more_b {
	background-image:url(hoverb.png);
	background-position:left top;
	background-repeat:no-repeat;
	color:#FFFFFF;
	display:block;
	font-size:12px;
	font-weight:bold;
	height:21px;
	margin-bottom:12px;
	margin-left:12px;
	margin-top:5px;
	padding-left:12px;
	padding-top:7px;
	text-decoration:none;
	width:138px;
}
.more_b:hover {
	background-image: url(hoverb2.png);
	background-repeat: no-repeat;
	color: #FFF;
}
.page {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
.huitable {
	background-image: url(menu2_bg.png);
	background-repeat: repeat-y;
	background-position: right top;
	float: left;
	width: 188px;
	padding-top: 14px;
	padding-left: 12px;
	position: relative;
}
.right_table {
	width: 266px;
	float: left;
}
.left_table {
	width: 238px;
	padding-right: 14px;
	float: left;
}
.border1 .ArticleList li {
	height: 32px;
	background-image: url(dian.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 6px;
}
a {
	color:#646464;
	text-decoration: none;
}
.border1 .ArticleList li a {
	height: 32px;
	background-image: url(menu2_bg2.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	display: block;
	float: left;
	width: 179px;
	line-height: 32px;
}
.border1 .ArticleList li a:hover {
	background-image: url(menu2_bg3.png);
}
.padding10 {
	padding-bottom:12px;
	float:left;
}
.huitable .more a {
	text-indent:-9999px;
	background-image: url(more_b.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	height: 16px;
	width: 35px;
	position: absolute;
	top: 14px;
	right: 12px;
	display: block;
}
.GoodsList .item table td img {
	border: 1px solid #ababab;
	padding: 2px;
	width: 78px;
	height: 64px;
	background-color: #FFF;
}
.GoodsList .item table .goodsDesc {
	padding-left: 8px;
}
.GoodsList .item, .GoodsList .item table td {
	padding:0px;
}
.GoodsList .item table .goodsDesc {
	float:left;
	height:65px;
	overflow:hidden;
	padding-right:12px;
	width:78px;
}
.GoodsList .item table .goodsDesc {
	color:#646464;
}
.GoodsList .item table .goodsDesc a {
	color:#0076a6;
}
.tehui {
	float: left;
	width: 518px;
}
.border4 .ArticleList {
	padding-top:4px;
}
.border4 .ArticleList li {
	background-image:url(dian.png);
	background-position:left center;
	background-repeat:no-repeat;
	border-bottom:1px solid #EDEDED;
	line-height:28px;
	padding-left:6px;
	width:190px;
}
.border4 .ArticleList more {
	line-height:28px;
}
.leixing {
	float: left;
	height: 27px;
	width: 254px;
	background-image: url(fenlei.png);
	background-repeat: no-repeat;
	background-position: left top;
	line-height: 27px;
	padding-left: 12px;
}
.left_table h2 {
	font-size:12px;
}
.right_table .GoodsList .item table {
	margin:0;
}
.right_table .GoodsList .item, .GoodsList .item table td {
	margin:0 0 8px;
	
}
.right_table .GoodsList .item table .goodsDesc {
	float:left;
	height:65px;
	overflow:hidden;
	width:172px;
}
.right_table .GoodsList .item table td img {
	background-color:#FFFFFF;
	border:1px solid #696969;
	height:72px;
	padding:2px;
	width:78px;
}
.right_table .goodImg {
height:84px;
text-align:left;
float:left;
width:84px;}
.tehui .item .goodsImg img {
	background-color:#FFFFFF;
	border:1px solid #ababab;
	height:73px;
	padding:2px;
	width:78px;
}
.tehui .item a {
	font-weight: normal;
}
.price0, .price1 {
	color:#646464
}
.bottom_ad {
	float: left;
	width: 518px;
	margin-top: 24px;
}
.bottom_ad h2 {
	font-size: 12px;
	font-weight: bold;
	padding: 0px;
}
.e-cat-depth-1 p {
	padding-bottom:5px;
	padding-top:5px;
}
.blue .GoodsCategoryWrap {
	height:236px;
	overflow:auto;
}
.sideColumn .GoodsCategoryWrap {
	padding-bottom:12px;
}
.e-cat-depth-1 a {
	font-size: 12px;
	font-weight: normal;
	color: #3C3C3C;
}
.e-cat-depth-2 a {
	font-size: 12px;
	font-weight: normal;
	color: #8d99a6;
}
.e-cat-depth-2 a {
	color:#8D99A6;
	float:left;
	font-size:12px;
	font-weight:normal;
	padding-bottom:2px;
	padding-left:18px;
	padding-top:2px;
}
.c-cat-depth-1 a {
	font-size: 12px;
	font-weight: normal;
	color: #ffffff;
}
.c-cat-depth-2 a {
	font-size: 12px;
	font-weight: normal;
	color: #8d99a6;
}
.c-cat-depth-2 a {
	color:#8D99A6;
	float:left;
	font-size:12px;
	font-weight:normal;
	padding-bottom:2px;
	padding-left:18px;
	padding-top:2px;
}
.symbols {
	text-indent:-9999px;
	height: 10px;
	width: 10px;
	padding-right: 4px;
	padding-left: 2px;
	background-image: url(+.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.show {
	text-indent:-9999px;
	height: 10px;
	width: 10px;
	padding-right: 4px;
	padding-left: 2px;
	background-image: url(-.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.GoodsCategoryWrap {
	padding-bottom:8px;
	text-align:left;
}
#Foot {
	width:950px;
	float: left;
	padding-top: 48px;
}
.span-5 {
	width:170px;
}
.span-6 {
	width:185px;
}
.footArticle {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #ebebeb;
	border-bottom-color: #ebebeb;
	padding-top: 20px;
	padding-bottom: 20px;
}
.TreeList .cat2 {
	background-image: url(dian.png);
	background-repeat: no-repeat;
	background-position: left center;
	line-height: 22px;
	padding-left: 10px;
	display: block;
	margin-left: 6px;
}
.TreeList .cat1 {
	color:#3c3c3c;
	padding-bottom: 6px;
}
.TreeList {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #efefef;
}
.last .TreeList {
	border-right-width: 0px;
	border-right-style: none;
	border-right-color: #ffffff;
}
#foot .themefootText {
	text-align: left;
}

.page2_right {	float: left;
	width: 734px;
	padding-left: 16px;}
