<table width="100%" border="0" cellpadding="0" cellspacing="0" class="finderInform">
<colgroup class="Colsn"></colgroup>
<colgroup></colgroup>
<colgroup></colgroup>
<thead>
<tr>
  <th><{t}>序号<{/t}></th>
  <th><{t}>整合论坛<{/t}></th>  
  <th><{t}>是否开启<{/t}></th>
</tr></thead><tbody>
<{foreach from=$items key=key item=item name="item"}>
<tr>
  <td><{$smarty.foreach.item.iteration}></td>
  <td><a href="index.php?ctl=system/passport&act=detailPassport&p[0]=<{$item.passport_type}>"><{$item.passport_name}></a></td>
  <td><{if $item.ifvalid=='true'}><{t}>是<{/t}><{else}><{t}>否<{/t}><{/if}></td>

</tr>
<{/foreach}>
</tbody>
</table><div class="footer"><div class="tf"></div></div>



