<script>
var getPayment = function(obj){
  if(obj.value != "0"){
    W.page('index.php?ctl=system/passport&act=getPayOpt&p[0]=' + obj.value + '&p[1]=<{$pay_name}>',{update:'edit-passportlist-item'});
    W.page('index.php?ctl=system/passport&act=infoPad&p[0]=' + obj.value,{update:'payInfoPad'});
  }else{
    $('edit-passportlist-item').innerHTML = '';
  }
}
</script>
<div id="payInfoPad"></div>
<form method="post" action="index.php?ctl=system/passport&act=savePassPort" >
  <input type="hidden" name="passport_type" value="<{$passport_type}>" />
  <div class="tableform">
    <div class="division">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <th ><{t}>整合论坛名称：<{/t}></th>
          <td><{$params.passport_name}></td>
        </tr>
      </table>
    </div>

  <div class="division">
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <th ><{t}>是否开启：<{/t}></th>
      <td><input type='radio' name='passport_ifvalid' value='true' <{if $passport_ifvalid eq 'true'}>checked="checked"<{/if}>/><{t}>是<{/t}><input type='radio' name='passport_ifvalid' value='false' <{if $passport_ifvalid eq 'false'}>checked="checked"<{/if}>/><{t}>否<{/t}></td>    
    </tr>
  </table></div>
    <div class="division">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <{foreach from=$options item=item key=key}>
    <tr>
      <th><{$item.label}></th>
      <td><{input type=$item.type options=$item.options name=config[$key] value=$item.value}></td>
    </tr>
    <{/foreach}>
    </table>
  </div>
    
  <table border="0" align="center" cellpadding="0" cellspacing="0" class="tableAction">
    <tr>
      <td><b class="submitBtn" >
        <input type="submit" value="保存">
        </b></td>
    </tr>
  </table></div>
</form>

