.quote_div {
	width: 305px;
	color:#666;
	font-size:12px;
	bottom:12px;
	position:absolute;
	right:0px;
}

.daily_quotes {
	text-align:right;
	margin:2px;
}

.quote_div .author {
	color:#999;
	font-size:9px;
}

.adm_quote {
    /*margin-bottom:10px;*/
    padding: 5px 0px;
}
.adm_quote .adm_check {
    float: left;
}
.adm_quote .text {
    margin-left:25px;
}
.adm_quote .auth {
    margin-left:25px;
    color:#999999;
    font-size:9px;
}