body{font-size:13px;}
.tablebg{background:#cccccc;}
.tablebg td{background:#FFFFFF;}
.tablebg th{background:#E5E5E5;font-size:14px;}
.input{width:150px;height:18px;}
body{background:#0b809a  no-repeat center top;margin:0;padding:0}