body{font-size:13px;line-height:20px;background:#cccccc;line-height:20px;color:#000000;font-weight:bold;text-align:center;}
a{
	font-size:14px;
	font-weight:bold;
	text-decoration: none;
}
body{background:#0b809a  no-repeat center top;margin:0;padding:0}

