<span id='shareObjectsStorage_panel' style='position:absolute'></span>
<img src="plugins/cron/cron.php?<{$stateString}>" width="1" height="1" border="none" />
<table id="buy_count_sel" style="visibility:hidden" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><{t}>购买数量：<{/t}></td>
    <td rowspan="2"><{img src="statics/bundle/wheel.gif"}></td>
  </tr>
  <tr>
    <td><input type="text" size="5" length="5" style="padding:0;margin:0;text-align:center" /></td>
  </tr>
</table>
<div id='certtext'><{$certtext}></div>