{literal}
<style>
input.txt,select{width:180px}
</style>
{/literal}
<h5 style="boder:1px #FFA43D; color:#FFA43D;padding-left:5%;line-height:150%">请填写数据库的相关信息：<br />首先请向主机空间商确认您的数据库在服务器上已建立。</h5>
<form method="post" action="index.php?step=ready" id="db_setting">
    <table width="100%" border="0">
  <tr>
      <th width="22%" align="right"><label for="db_host">数据库主机:</label></th>
      <td width="30%"><input class="txt" id="db_host" name="dbhost" size="25" value="{$host|default:'localhost'}" type="text"></td>
      <td width="48%">如果数据库服务器与WEBSERVER不在同一台主机上,请设置为数据库服务器的地址。</td>
    </tr>
    <tr>
      <th align="right" scope="row"><label for="db_uname">数据库用户名:</label></th>
      <td><input id="db_uname" class="txt" name="uname" size="25" value="" type="text"></td>
      <td rowspan="2" id="db_check_result" style="display:none">
      <img src="images/db_succ.gif" />
      </td>
    </tr>
    <tr>
      <th align="right" scope="row"><label for="db_passwd">数据库密码:</label></th>
      <td><input id="db_passwd" class="txt" type="password" name="pwd" size="25" value="" type="text"></td>
    </tr>
        <tr>
      <th align="right" scope="row"><label for="db_name">数据库名:</label></th>
      <td id="db_selector"><input class="txt" style="width:120px" id="db_name" name="dbname" size="25" value="" type="text">
      <span id="btn_check_db" onclick="checkdbInfo()"><span style="text-decoration: underline;  cursor: pointer;color:#00f;">测试连接&raquo;</span></span>
      </td>
      <td></td>
    </tr>
    <tr>
      <th align="right" scope="row"><label for="db_prefix">安装数据表前缀:</label></th>
      <td><input class="txt" id="db_prefix" name="prefix" id="prefix" value="sdb_" size="25" type="text"></td>
      <td>一般您不需要修改数据表前缀。</td>
    </tr>
    <tr>
      <th align="right" scope="row"><label for="db_PREFIX">选择您的服务器时区</label></th>
      <td colspan="2">
        <select name="stimezone" style="width:300px">
          {html_options options=$timezone selected=$default_timezone}
        </select>
      </td>
    </tr>
</table>
<center>
    <input style="margin:10px;" name="submit" value="下一步：创建配置文件(config.php) &raquo;" type="submit">
</center>    
</form>
<script type="text/javascript" src="images/install.js"></script>
<script>
{literal}
var txt_ipt_db_html = $('db_selector').innerHTML;
function checkdbInfo(){
  if($('btn_check_db'))$('btn_check_db').innerHTML='<img src="images/ajax-loader.gif" />';
  var bakvalue = $('db_name').value;
  new Ajax('index.php?step=checkdb',{data:$('db_setting'),method:'post',onSuccess:function(c){
    $('db_selector').innerHTML=c;
    $('db_check_result').setStyle('display','');
  },onFailure:function(){
    $('db_check_result').setStyle('display','none');
    $('db_selector').innerHTML=txt_ipt_db_html;
    $('db_name').value = bakvalue;
  }}).request();
};
window.addEvent('domready',function(){
  $ES('#db_uname,#db_passwd').addEvent('change',checkdbInfo);
});
{/literal}
</script>