<div class="sys_file_search_unit bx_sounds_search_unit">
    {pic}
	<div class="sys_file_search_header">
		<div class="sys_file_search_rate">{rate}</div>
		<div class="sys_file_search_size">{size}</div>
		<div class="clear_both"></div>
	</div>
	<div class="sys_file_search_title"><a href="{titleLink}" title="{title}">{title}</a></div>
	<div class="sys_file_search_bottom">
		<div class="sys_file_search_from"><bx_text:_From /> <a href="{fromLink}">{from}</a></div>
	</div>
    <div class="sys_file_search_when">{when}</div>
    <div class="sys_file_search_when">{view} <bx_text:_Views /></div>
</div>