                        </div>
                    </td>
                </tr>
            </table>
        </div>
    	<div class="adm-footer">
            <div class="adm-footer-content">
    			Powered by <a href="http://www.boonex.com" target="_blank">Dolphin Smart Community Builder</a> |
    			<a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
    				<img alt="Creative Commons License" style="border:none;vertical-align:middle;" src="http://i.creativecommons.org/l/by/3.0/80x15.png" />
    			</a><br />
    			Copyright &copy; 2009 BoonEx Pty Ltd.<br />
            </div>
			<a title="BoonEx" href="http://www.boonex.com/"><img class="adm-footer-logo" alt="BoonEx" src="<bx_image_url:boonex-logo-footer.png />"></a>
    	</div>
<bx_include_auto:_footer.html />
