<script language="javascript" type="text/javascript">
<!--
    function clearCache(sType){
        $.post(
            '<bx_url_admin />cache.php',
            {
                type: sType
            },
            function(oData) {
                alert(oData.message);
            },
            'json'
        );
    }
-->
</script>
<table cellpadding="0" cellspacing="0" class="adm-di-content">
    <tr>
        <td class="left">__cell_11__</td>
        <td class="left">__cell_12__</td>
        <td class="right">__cell_13__</td>
    </tr>
    <tr>
        <td class="left">__cell_21__</td>
        <td class="left">__cell_22__</td>
        <td class="right">__cell_23__</td>
    </tr>
</table>
