<div class="adm-db-content-wrapper">
    __extra_js__
    <div id="edit_form_cont"></div>	
	<div id="menu_app_wrapper"></div>
    <div class="pseudo_wrapper">    
		<div class="pseudo_head"><bx_text:_adm_mbuilder_active_items /></div>
		<div id="pseudo1">
			<img src="<bx_image_url:loading.gif />" />
		</div>
		<div class="pseudo_head" style="padding-top:7px;"><bx_text:_adm_mbuilder_all_items /></div>
		<div id="pseudo2">
			<img src="<bx_image_url:loading.gif />" />
		</div>
	</div>
	<div class="pseudo_head" style="padding-top:7px;"><bx_text:_adm_mbuilder_legend /></div>
	<div class="legend">
		<table border="0">
			<tr><td><img src="<bx_image_url:system_item_bg.gif />" /></td><td><bx_text:_adm_mbuilder_legend_system /></td></tr>
			<tr><td><img src="<bx_image_url:top_item_bg.gif />" /></td><td><bx_text:_adm_mbuilder_legend_top /></td></tr>
			<tr><td><img src="<bx_image_url:custom_item_bg.gif />" /></td><td><bx_text:_adm_mbuilder_legend_custom /></td></tr>
			<tr><td><img src="<bx_image_url:inact_item_bg.gif />" /></td><td><bx_text:_adm_mbuilder_legend_inact /></td></tr>
		</table>
	</div>
</div>