<div class="adm-mp-members-simple">
    <bx_repeat:items>
        <div class="adm-mp-member-simple">
            <div class="adm-mp-ms-check">
                <input type="checkbox" class="form_input_checkbox" id="adm-mp-__id__" name="members[]" value="__id__" />
            </div>
            __thumbnail__
            <div class="adm-mp-ms-username" style="width:__edit_width__px;">
                <a href="__edit_link__" class="__edit_class__">__username__</a>
            </div>
        </div>
    </bx_repeat:items>
    <div class="clear_both">&nbsp;</div>
</div>
__paginate__