<div class="browseUnit" style="border-color:__status_color__;">
	<div class="bx_sys_unit_checkbox">
		<input id="ch__appl_id__" type="checkbox" value="__appl_id__" name="os_appls[]" />
	</div>
	<div class="clear_both"></div>
	<div class="addInfo">
		<bx_text:_URL />: <input type="text" name="app_url" id="app_url" size="35" maxlength="255" value="__appl_url__" />
	</div>
	<div class="addInfo">
		<a href="javascript: void(0)" onclick="onPreview(__appl_id__);"><bx_text:_Title />: __appl_title__</a>
	</div>
	<div class="addInfo">
		<bx_text:_By />: <a href="__owner_url__">__owner_name__</a>
	</div>
	<div class="addInfo">
		<bx_text:_Date />: __appl_date__
	</div>
</div>