<div class="tableform notice"><{t}>ShopEx证书是您享受ShopEx服务的唯一标识，它记录了您的商家信息、购买服务记录、充值帐户金额等重要信息。<{/t}><br><{t}>您需要通过“证书下载备份”功能备份证书，并妥善保管。在您遇到商店系统需要重新安装时，可以在新安装的系统中使用“证书上传恢复”功能将之前备份的证书恢复，这样新系统就可以继续使用证书内的重要信息。<{/t}></div>
<div class="tableform">
<h4><{t}>ShopEx证书下载备份<{/t}></h4>


<{if $license}>
<div class="division">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><{t}>当前证书:<{/t}></th>
    <td><{$certi_id}></td>
  </tr>
</table>
</div>
<table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
  <tr>
    <td><b class="submitBtn"><a href="<{$license_url}>" target="_blank" style="color:#FFFFFF"><{t}>下载证书<{/t}></a></b></td>

  </tr>
</table>

<{else}>
<div class="division">

提示：只有在网络服务器安装的ShopEx商店系统才拥有证书功能，您的商店系统由于是在本地安装，所以无ShopEx证书，无法使用ShopEx证书下载和上传功能。如果您将本地的商店系统迁移至服务器，则会自动获得ShopEx证书。
</div>
<{/if}>

</div>

<form action="index.php?ctl=service/certificate&act=upLicense" method="POST" enctype="multipart/form-data">
<div class="tableform">
<h4><{t}>ShopEx证书上传恢复<{/t}></h4>
<div class="division">

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th><{t}>请选择证书：<{/t}></th>
    <td><input name="license" type="file"></td>
  </tr>

</table>

</div><table cellspacing="0" cellpadding="0" border="0" class="tableAction" style="margin:0 auto;">
  <tr>
    <td><b class="submitBtn"><input  type="submit" value='上传恢复'></b></td>

  </tr>
</table></div>
</form>

<{if $license}>
<form action="index.php?ctl=service/certificate&act=checkPass"  method="get" enctype="multipart/form-data">
<div class="tableform">
<h4><{t}>错误证书删除<{/t}></h4>

<div class="division">
当您上传了错误的ShopEx证书导致证书功能失效时，请先在此处清空错误的证书，再使用证书上传恢复功能恢复正确的证书。
</div><table cellspacing="0" cellpadding="0" border="0" align="center" class="tableAction">
  <tr>
    <td><b class="submitBtn"><input  type="submit" value='删除'></b></td>
  </tr>
</table></div>
</form>
<{/if}>